  <div id="examples_0" class="examples_0 bodies-list">
    <h3><%= _("Freedom of information statistics") %></h3>

    <h4><%= n_("Among {{number_of_authorities}} authority, this is highlighted:",
          "Among {{number_of_authorities}} authority, these are highlighted:",
          PublicBody.visible.count,
          :number_of_authorities => number_with_delimiter(PublicBody.visible.count)) %></h4>

    <ul>
    <% @public_bodies.each do |graph_data| %>
      <strong><%= graph_data['title']%></strong>
      <% if graph_data['x_values'] %>
        <li><%= link_to pb['name'], pb['url'] %>
          <%= n_('{{count}} request', '{{count}} requests',
                 graph_data['y_values'][i].round,
                 :count => graph_data['y_values'][i].round) %>
        </li>
      <% else %>
        <%= _("There was no data for this statistics yet.") %>
      <% end %>
    <% end %>
    </ul>

    <p>
      <strong>
        <%= link_to _('Browse all authorities &rarr;'), list_public_bodies_default_path, :class => 'button-secondary' %>
      </strong>
    </p>

    <div class="asktheeu-promo asktheeu-promo--homepage">
      <h4 class="asktheeu-promo__header">Looking for an EU Authority?</h4>
      <p>You can request <em>documents</em> directly from EU Institutions at our sister site
        <a href="http://asktheeu.org/?utm_source=imamopravoznati.org&utm_medium=banner&utm_content=homepage&utm_campaign=alaveteli-experiments-54">
          AskTheEU.org
        </a>.
        <a href="http://www.asktheeu.org/en/help/requesting/?utm_source=imamopravoznati.org&utm_medium=banner&utm_content=homepage&utm_campaign=alaveteli-experiments-54">
          Find out more
        </a>.
      </p>
      <a href="http://asktheeu.org/?utm_source=imamopravoznati.org&utm_medium=banner&utm_content=homepage&utm_campaign=alaveteli-experiments-54" class="asktheeu-promo__image">
        <img src="<%= image_path('ask-the-eu-logo.png') %>" alt="AskTheEU.org" />
      </a>
    </div>
  </div>


<% content_for :javascript do %>
  <script type="text/javascript">
    var graphs_data = <%= @public_bodies.to_json.html_safe %>;
  </script>
  <!--[if lte IE 8]><%= javascript_include_tag "excanvas.min.js" %><![endif]-->
  <%= javascript_include_tag "stats" %>

  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.12/d3.min.js" %>
  <%= javascript_include_tag "time_series" %>
  <script type="text/javascript">
    if (typeof d3TimeSeries == 'function') {
      d3.json("<%= statistics_url(:format => 'json') %>", function(data) {
        d3TimeSeries(
          "#request-hide-events-data",
          data["requests"]["hides_by_week"],
          "<%= _("Number of request hide events over time") %>",
          "<%= _("request hide events") %>"
        );
      });

      // Make the table only visible to screen readers
      var table = document.querySelectorAll('#request-hide-events-data table')[0]

      if (table.classList) {
        table.classList.add('visually-hidden');
      } else {
        table.className += ' visually-hidden';
      }
    }
  </script>
<% end %>
