<div id="footer">
  <div class="footer-inner">
    <div id="footer-nav">
      <ul>
         <li><h4><%= site_name %></h4>
          <ul>
              <li><%= link_to _("Contact us"), help_contact_path %></li>
              <li><%= link_to _("About us"), help_about_path %></li>
              <li><%= link_to _("How can you help?"), help_help_out_path %></li>
              <li><%= link_to _("Supporters"), help_about_path(:anchor => 'supporters') %></li>
              <li><%= link_to _("Credits"), help_credits_path %></li>
          </ul>
        </li>
        <li>
          <h4><%= _("Guidelines") %></h4>
          <ul>
              <li><%= link_to _("Making requests"), help_requesting_path %></li>
              <li><%= link_to _("Your privacy"), help_privacy_path %></li>
              <li><%= link_to _("FOI officers"), help_officers_path %></li>
              <li><%= link_to _("About the software"), help_alaveteli_path %></li>
              <li><%= link_to _("API"), help_api_path %></li>
          </ul>

          <a class="footer-logo" href="http://creativecommons.org/licenses/by-sa/3.0/">
          <%= _("Content licensed under CC BY SA 3.0<br/>Creative Commons Attribution Share-Alike") %>
          </a>
          <br/><%= _('Original theme from {{link}}', :link =>   link_to('http://tuderechoasaber.es', 'tuderechoasaber.es')) %>
        </li>
        <li>
          <h4><%= _("A project by") %></h4>
          <%= link_to image_tag('cfc-logo.png', :alt => "Code for Croatia logo"), "http://codeforcroatia.org/", :class => 'footer-logo' %>
        </li>
      </ul>
    </div>
  </div>
</div>