<div class="mysoc-footer" role="contentinfo">
    <div class="row">

        <div class="col-sm-5">
            <h2 class="mysoc-footer__site-name"><%= site_name %></h2>
            <div class="mysoc-footer__site-description">
                <p>A site to help anyone submit a Freedom of Information request. <%= site_name %> also publishes and archives requests and responses, building a massive archive of information.</p>
                <p><%= link_to 'Run by Volunteers', help_credits_path(:anchor => 'volunteers') %> and powered by <%= link_to 'Alaveteli',  help_alaveteli_path %>.</p>
                <p>Dedicated to all of you who want to investigate!.</p>
            </div>
        </div>

        <div class="col-sm-4">
            <nav class="mysoc-footer__links">
                <ul>
                    <li role="presentation"><%= link_to 'Make a request', select_authority_path %></li>
                    <li role="presentation"><%= link_to 'Browse requests', request_list_successful_path %></li>
                    <li role="presentation"><%= link_to 'View authorities', list_public_bodies_default_path %></li>
                    <li role="presentation"><%= link_to 'Journalist?', account_request_index_path %></li>
                </ul>
                <ul>
                    <li role="presentation"><%= link_to 'Help', help_path %></li>
                    <li role="presentation"><%= link_to 'Contact us', help_contact_path %></li>
                    <li role="presentation"><%= link_to 'Become a volunteer', help_volunteers_path %></li>
                    <li role="presentation"><%= link_to 'Privacy and cookies', help_privacy_path %></li>
                    <li role="presentation"><%= link_to 'API', help_api_path %></li>
                    <% if feature_enabled?(:pro_pricing) %>
                      <li>
                        <%= link_to 'Pro Terms', pro_page_path(:id => 'legal') %>
                      </li>
                    <% end %>
                </ul>
            </nav>
        </div>

        <div class="col-sm-3">
            <div class="mysoc-footer__donate">
                <p>Your donations keep this site and others like it running</p>
                <a href="<%= donation_url :utm_content => 'footer donate now', :utm_campaign => 'mysoc_footer' %>" class="mysoc-footer__donate__button">Donate now</a>
            </div>
        </div>
    </div>
    <hr class="mysoc-footer__divider" role="presentation">
    <div class="row">
        <div class="col-sm-5">
            <div class="mysoc-footer__orgs">
                <p class="mysoc-footer__org">
                    Project by
                    <a href="https://codeforcroatia.org/?utm_source=imamopravoznati&amp;utm_content=footer+logo&amp;utm_medium=link&amp;utm_campaign=cfc_footer" class="mysoc-footer__org__logo mysoc-footer__org__logo--mysociety">Code for Croatia</a>
                </p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="mysoc-footer__legal">
                <p>
                    <a href="https://codeforcroatia.org?utm_source=imamopravoznati&amp;utm_content=footer+full+legal+details&amp;utm_medium=link&amp;utm_campaign=cfc_footer">Code for Croatia</a>
                    is an informal hactivist group that
                    unites citizens, developers, activits, entrepreneurs
                    to build things that makes local community life easier.
                </p>
            </div>
        </div>

        <div class="col-sm-3">
            <ul class="mysoc-footer__badges">
                <li role="presentation"><a href="https://github.com/codeforcroatia/imamopravoznati-theme" class="mysoc-footer__badge mysoc-footer__badge--github">Github</a></li>
              <% unless AlaveteliConfiguration::twitter_username.blank? %>
                <li role="presentation">
                  <a href="https://twitter.com/<%= AlaveteliConfiguration::twitter_username %>" class="mysoc-footer__badge mysoc-footer__badge--twitter" onclick="<%= track_analytics_event(AnalyticsEvent::Category::OUTBOUND, AnalyticsEvent::Action::TWITTER_EXIT, :label => 'Footer link')%>">@<%= AlaveteliConfiguration::twitter_username %></a>
                </li>
              <% end %>
              <% unless AlaveteliConfiguration::facebook_username.blank? %>
                <li role="presentation"><a href="https://facebook.com/programirajzahrvatsku" class="mysoc-footer__badge mysoc-footer__badge--facebook" onclick="<%= track_analytics_event(AnalyticsEvent::Category::OUTBOUND, AnalyticsEvent::Action::FACEBOOK_EXIT, :label => 'Footer link')%>">Facebook</a></li>
              <% end %>
            </ul>
        </div>

    </div>
</div>
