<div id="footer">
  <div class="footer-inner">
    <div id="footer-nav">
      <ul>
         <li><h4><%= site_name %></h4>
          <ul>
              <li><%= link_to _("Contact us"), help_contact_path %></li>
              <li><%= link_to _("About us"), help_about_path %></li>
              <li><%= link_to _("How can you help?"), help_credits_path(:anchor => 'helpus') %></li>
              <li><%= link_to _("Supporters"), help_about_path(:anchor => 'supporters') %></li>
              <li><%= link_to _("Credits"), help_credits_path %></li>
          </ul>
        </li>
        <li>
          <h4><%= _("Guidelines") %></h4>
          <ul>
              <li><%= link_to _("Making requests"), help_requesting_path %></li>
              <li><%= link_to _("Your privacy"), help_privacy_path %></li>
              <li><%= link_to _("FOI officers"), help_officers_path %></li>
              <li><%= link_to _("About the software"), help_alaveteli_path %></li>
              <li><%= link_to _("API"), help_api_path %></li>
              <li>&nbsp;</li>
              <li class="footer-small"><a href="http://creativecommons.org/licenses/by-sa/3.0/">
          <%= _("Content licensed under CC BY SA 3.0 Creative Commons Attribution Share-Alike") %>
          </a></li>
          <li class="footer-small"><%= _('Original theme from {{link}}', :link =>   link_to('tuderechoasaber.es', 'http://tuderechoasaber.es')) %></li>
          </ul>
          
        </li>
        <li>
          <h4><%= _("A project by") %></h4>
          <ul>
              <li><%= link_to image_tag('cfc-logo.png', :alt => "Code for Croatia logo"), "http://codeforcroatia.org/", :class => 'footer-logo' %>
                  <%= link_to image_tag('gong-logo.png', :alt => "GONG logo"), "http://www.gong.hr/", :class => 'footer-logo' %></li>
              <li>&nbsp;</li>
              <li><h4><%= _("With the help of") %></h4></li>
              <li><%= link_to image_tag('credits/pristupinfo-logo.png', :alt => "Povjerenik za informiranje logo"), "http://www.pristupinfo.hr/", :class => 'footer-credits-logo' %>&nbsp;
                  <%= link_to image_tag('credits/ogp-logo.png', :alt => "Open Government Partnership logo"), "http://www.opengovpartnership.org", :class => 'footer-credits-logo' %>&nbsp;
                  <%= link_to image_tag('credits/mysociety-logo.png', :alt => "MySociety logo"), "http://mysociety.org/", :class => 'footer-credits-logo' %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>