<div class="mysoc-footer" role="contentinfo">
    <div class="row">

        <div class="col-sm-5">
            <h2 class="mysoc-footer__site-name"><%= site_name %></h2>
            <div class="mysoc-footer__site-description">
                <p>Ovo je internetska stranica gdje bilo tko može podnijeti zahtjev za pristup javnim dokumentima. <%= site_name %> ujedno objavljuje i arhivira zahtjeve i odgovore kreirajući ogromnu arhivu znanja.</p>
                <p><%= link_to 'Održavaju volonteri', help_credits_path(:anchor => 'helpus') %> a pokreće <%= link_to 'Alaveteli',  help_alaveteli_path %>.</p>
                <p>Uz podršku <%= link_to 'Code for Croatia', "http://codeforcroatia.org" %> i <%= link_to 'Gonga', "http://www.gong.hr" %>.</p>
            </div>
        </div>

        <div class="col-sm-4">
            <nav class="mysoc-footer__links">
                <ul>
                    <li role="presentation"><%= link_to 'Podnesite zahtjev', select_authority_path %></li>
                    <li role="presentation"><%= link_to 'Pretražite zahtjeve', request_list_successful_path %></li>
                    <li role="presentation"><%= link_to 'Tijela javne vlasti', list_public_bodies_default_path %></li>
                </ul>
                <ul>
                    <li role="presentation"><%= link_to 'Pomoć', help_path %></li>
                    <li role="presentation"><%= link_to 'Kontaktirajte nas', help_contact_path %></li>
                    <li role="presentation"><%= link_to 'Privatnost i kolačići', help_privacy_path %></li>
                    <li role="presentation"><%= link_to 'API', help_api_path %></li>
                </ul>
            </nav>
        </div>

        <div class="col-sm-3">
            <div class="mysoc-footer__donate">
                <p>Vaše donacije pomažu da ovaj portal i projekti sličnim ovome budu mogući</p>
                <a href="https://www.gong.hr/hr/o-gong-u/kako-se-gong-financira?utm_source=imamopravoznati.org&utm_content=footer+donate+now&utm_medium=link&utm_campaign=ipz_footer" class="mysoc-footer__donate__button">Donate now</a>
            </div>
        </div>
    </div>
    <hr class="mysoc-footer__divider" role="presentation">
    <div class="row">
        <div class="col-sm-5">
            <div class="mysoc-footer__orgs">
                <p class="mysoc-footer__org">
                    S ljubavlju
                    <a href="https://codeforcroatia.org?utm_source=imamopravoznati.org&utm_content=footer+logo&utm_medium=link&utm_campaign=ipz_footer" class="mysoc-footer__org__logo mysoc-footer__org__logo--mysociety">Code for Croatia</a>
                </p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="mysoc-footer__legal">
                <p>Programiraj za Hrvatsku je nacionalna mreža koja udružuje građane, dizajnere, developere i mlade poduzetnike da grade stvari koje doprinose poboljšavanje javnih platformi za građane. Za više detalja posjetite <a href="https://codeforcroatia.org?utm_source=imamopravoznati.org&utm_content=footer+full+legal+details&utm_medium=link&utm_campaign=ipz_footer">codeforcroatia.org</a>.</p>
            </div>
        </div>

        <div class="col-sm-3">
            <ul class="mysoc-footer__badges">
                <li role="presentation"><a href="https://github.com/mysociety/whatdotheyknow-theme" class="mysoc-footer__badge mysoc-footer__badge--github">Github</a></li>
              <% unless AlaveteliConfiguration::twitter_username.blank? %>
                <li role="presentation">
                  <a href="https://twitter.com/<%= AlaveteliConfiguration::twitter_username %>" class="mysoc-footer__badge mysoc-footer__badge--twitter" onclick="<%= track_analytics_event(AnalyticsEvent::Category::OUTBOUND, AnalyticsEvent::Action::TWITTER_EXIT, :label => 'Footer link')%>">@<%= AlaveteliConfiguration::twitter_username %></a>
                </li>
              <% end %>
              <% unless AlaveteliConfiguration::facebook_username.blank? %>
                <li role="presentation"><a href="https://facebook.com/whatdotheyknowcom" class="mysoc-footer__badge mysoc-footer__badge--facebook" onclick="<%= track_analytics_event(AnalyticsEvent::Category::OUTBOUND, AnalyticsEvent::Action::FACEBOOK_EXIT, :label => 'Footer link')%>">Facebook</a></li>
              <% end %>
            </ul>
        </div>

    </div>
</div>
