<div id="frontpage-intro">
  <div id="frontpage-intro-lead">
    <div class="frontpage-lead-cell banner">
      <h2>
        <%= _("Exercise your right to know.") %>
      </h2>
      <p class="frontpage-lead-text">
        <%= _("To get information from public authorities:") %>
      </p>
    </div>
    <div class="frontpage-lead-cell">
      <p class="frontpage-lead-enum">
        1
      </p>
      <p class="frontpage-lead-text">
        <%= _("Think of a question for a public authority.") %>
      </p><span id="frontpage-lead-button">
      <%= link_to _("Ask") + " »", select_authority_path %></span>
    </div>
    <div class="frontpage-lead-cell">
      <p class="frontpage-lead-enum">
        2
      </p>
      <p class="frontpage-lead-text short">
        <%= _("We send the question for you") %>
      </p>
    </div>
    <div class="frontpage-lead-cell">
      <p class="frontpage-lead-enum">
        3
      </p>
      <p class="frontpage-lead-text short">
        <%= _("We'll notify you when there is an answer.") %>
      </p><%= link_to _("Will they answer?") + "»", help_requesting_path(:anchor => 'making_requests') %>
    </div>

  </div>

  <div id="frontpage-intro-sidebar">
    <div id="frontpage-lead-ad">
      <h4>
        <%= _("Your right to know") %>
      </h4>
      <p>
        <%= _("Every citizen or foreign has the right to access information held by public bodies. By law, they have to respond.") %></a>
      </p>
    </div>

    <div id="frontpage-lead-subscribe">
      <form action="//gong.us2.list-manage.com/subscribe/post?u=96ef5b6d1dbe39953a3a1c215&amp;id=3f972b83e2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
        <label for="mce-EMAIL"><p><%= _("Subscribe to GONG newsletter:") %></p></label>
        <p><input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="<%= _('your email address') %>" required="true"></p>
        <p><input type="submit" value="<%= _('Subscribe') %>" name="subscribe" id="mc-embedded-subscribe"></p>
      </form>
    </div>

    <div id="frontpage-share-buttons">
      <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fimamopravoznati&amp;send=false&amp;layout=button_count&amp;width=118&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:118px; height:21px;" allowTransparency="true"></iframe>
      <span>
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="" data-lang="hr">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </span>

    </div>
  </div>
</div>
<!-- /frontpage-intro -->

<div id="frontpage-content">
  <div id="frontpage-search-box">
    <div id="frontpage-search-label">
      <h4>
      <%=  _("Search existing requests:") %></h4>

    </div>
    <div id="frontpage-search-form">
      <%= form_tag({:action => "search_redirect"}, {:id => "search_form"}) do %>
      <div>
        <%= text_field_tag 'query', params[:query], { :size => 80 } %><%= submit_tag _('Search') %>
      </div>
      <% end %>
    </div>
  </div>
  <!-- /frontpage-search-box -->

  <div id="frontpage-updates">
    <div id="frontpage-updates-news">
      <h2><a class="frontpage-updates-title" href="http://gong.hr/hr/dobra-vladavina/pristup-informacijama/" target="_blank"><%= _("News") %></a></h2>
      <% 4.times do |position| %>
        <% item = @blog_items[position] %>
        <% break if item.nil? %>

        <div class="frontpage-blog-post <%= position.even? ? 'left' : 'right' %>">
          <a href="<%= item['link'][0] %>" class="frontpage-blog-post--link"></a>
          <div class="frontpage-blog-post--image <%= 'placeholder-image' if item['thumbnail'][0].blank? %>" style="background-image: url(<%= item['thumbnail'][0].blank? ? image_path('gong-logo-gray.png') : item['thumbnail'][0] %>);">
          </div>
          <h4 class="frontpage-blog-post--title">
            <a href="<%= item['link'][0] %>" class="frontpage-blog-post--article-link" target="_blank"><%= h item['title'][0] %></a>
          </h4>
        </div>

        <% if position.odd? %>
          <div style="clear: both"></div>
        <% end %>
      <% end %>

      <div class="link-arrow more-news-link"><a href="http://gong.hr/hr/dobra-vladavina/" target="_blank"><%= _("Read other news") + " »" %></a></div>
    </div>
 
    <div id="tweets-timeline">
      <h2><a class="frontpage-updates-title" href="https://twitter.com/imamopravoznati" target="_blank">Tweets</a></h2>
      <a class="twitter-timeline" href="https://twitter.com/ImamoPravoZnati" data-chrome="noheader" data-widget-id="571444435712765952" width="100%">Tweets by @ImamoPravoZnati</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
   <!-- /tweets-timeline -->
  </div>
  <!-- /frontpage-updates -->
</div>
