<% @title = _('Change your national ID number used on {{site_name}}', :site_name => site_name) %>
<% raise _('internal error') if not @user %>

<div id="change_nationalid">

<%= form_tag({:action => "signchangenationalid"}, {:id => "signchangenationalid_form"}) do %>
    <%= foi_error_messages_for :signchangenationalid %>

    <div class="form_note">
    <h1> <% _('Change your national ID number used on {{site_name}}', :site_name => site_name) %></h1>
    </div>

    <label class="form_label" for="signchangenationalid_new_national_id"> <%= _('New national ID number:')%></label>
    <%= text_field 'signchangenationalid', 'new_national_id', { :size => 20, :value => @user.national_id_number } %>
    </p>

    <p>
    <div class="form_button">
    <%= hidden_field_tag 'submitted_signchangenationalid_do', 1 %>
    <%= submit_tag _("Change national ID number on {{site_name}}", :site_name=>site_name) %>
    </div>
<% end %>

</div>
