<% @title = _('Change your company number used on {{site_name}}', :site_name => site_name) %>
<% raise _('internal error') if not @user %>

<div id="change_company_number">

<%= form_tag({:action => "signchangecompanynumber"}, {:id => "signchangecompanynumber_form"}) do %>
    <%= foi_error_messages_for :signchangecompanynumber %>

    <div class="form_note">
    <h1> <% _('Change your company number used on {{site_name}}', :site_name => site_name) %></h1>
    </div>

    <label class="form_label" for="signchangecompanynumber_new_company_number"> <%= _('New company number:')%></label>
    <%= text_field 'signchangecompanynumber', 'new_company_number', { :size => 20, :value => @user.company_number } %>
    </p>

    <p>
    <div class="form_button">
    <%= hidden_field_tag 'submitted_signchangecompanynumber_do', 1 %>
    <%= submit_tag _("Change company number on {{site_name}}", :site_name=>site_name) %>
    </div>
<% end %>

</div>
