<% @title = _('Change your company name used on {{site_name}}', :site_name => site_name) %>
<% raise _('internal error') if not @user %>

<div id="change_company_name">

<%= form_tag({:action => "signchangecompanyname"}, {:id => "signchangecompanyname_form"}) do %>
    <%= foi_error_messages_for :signchangecompanyname %>

    <div class="form_note">
    <h1> <% _('Change your company name used on {{site_name}}', :site_name => site_name) %></h1>
    </div>

    <label class="form_label" for="signchangecompanyname_new_company_name"> <%= _('New company name:')%></label>
    <%= text_field 'signchangecompanyname', 'new_company_name', { :size => 20, :value => @user.company_name } %>
    </p>

    <p>
    <div class="form_button">
    <%= hidden_field_tag 'submitted_signchangecompanyname_do', 1 %>
    <%= submit_tag _("Change company name on {{site_name}}", :site_name=>site_name) %>
    </div>
<% end %>

</div>
