<p>
  <%= _("<strong>Can I request information about myself?</strong> " \
        "<a href=\"{{url}}\">No!</a>",
        :url => help_requesting_path(:anchor => "data_protection").html_safe) %>
</p>
<p>
  <strong>
    <%= _("Are you sure the information you’re after isn’t available " \
       "elsewhere?") %>
  </strong>
  <%= _("Check the authority’s disclosure logs, their responses on " \
        "{{site_name}} or conduct a quick Internet search.",
        site_name: site_name) %>
</p>
<p>
  <strong>
    <%= _("Odredbe Zakona o pravu na pristup informacijama omogućuju " \
          "tijelu javne vlasti da naplate pristup informaciji.") %>
  </strong>

  <%= _("Tijelo javne vlasti ima pravo tražiti od korisnika naknadu stvarnih " \
        "materijalnih troškova koji nastanu pružanjem informacije, sukladno " \
        "članku 17. Zakona o pravu na pristup informacijama, kao i na naknadu " \
        "troškova dostave tražene informacije. (<a href=\"{{url}}\" target=\"_blank\">vodič</a>)",
       url: "https://publikacije.imamopravoznati.org/vodic/hr/odlucivanje-o-zahtjevu-za-pristup-informacijama/#hoće-li-me-podnošenje-zahtjeva-i-pružanje-informacije-nešto-koštati") %>
</p>
<p>
  <strong>
    <%= _("Tijela javne vlasti moraju pružiti pomoć građenima u upravnim " \
          "predmetima.") %>
  </strong>

  <%= _("Člankom 7. <a href=\"{{url}}\" target=\"_blank\">Zakona o općem upravnom postupku</a>, načelo pomoći stranci" \
        "nalaže službenim osobama da ako tijekom postupka sazna ili ocijeni " \
        "da stranka ima osnovu za ostvarenje nekog prava, upozorit će " \
        "je na to, kao i na posljedice njezinih radnji ili propuštanja u " \
        "postupku, a brinut će se i da neznanje odnosno neukost stranke i " \
        "drugih osoba koje sudjeluju u postupku ne budu na štetu prava koja im " \
        "po zakonu pripadaju.",
        url: "https://narodne-novine.nn.hr/clanci/sluzbeni/2009_04_47_1065.html") %>
</p>
<p>
  <strong>
    <%= _("Ako zahtjevom za ponovnu uporabu informacija tražite skupove podataka " \
          "navedite u kojem formatu ih želite zaprimiti (npr. Excel ili CSV).") %>
  </strong>

  <%= _("Za više informacija kako tijela javne vlasti trebaju pružiti informacije " \
        "za ponovnu uporabu, pogledajte <a href=\"{{url}}\" target=\"_blank\">smjernice</a> " \
        "iz publikacije Povjerenika za informiranje.",
        url: "https://publikacije.imamopravoznati.org/vodic/hr/ponovna-uporaba-informacija/#koja-su-obilježja-podataka-za-ponovnu-uporabu") %>
</p>
<p>
  <%= _("Once you’re happy with your request, click preview and send.") %>
  <strong>
  <% if AlaveteliConfiguration::working_or_calendar_days == 'working' %>
      <%= _("Remember, public authorities have {{late_number_of_days}} " \
            "working days to respond to FOI requests.",
            late_number_of_days: AlaveteliConfiguration::reply_late_after_days
            ) %>
  <% else %>
      <%= _("Remember, public authorities have {{late_number_of_days}} " \
            "calendar days to respond to FOI requests.",
            late_number_of_days: AlaveteliConfiguration::reply_late_after_days,
            ) %>
  <% end %>
  </strong>
</p>
<p>
  <%= _('Once the privacy period ends, everything that you enter on ' \
        'this page, including <strong>your name</strong>, will be ' \
        '<strong><a href="{{url}}">displayed publicly</a></strong> on this ' \
        'website.',
        :url => help_privacy_path(:anchor => "public_request").html_safe) %>
</p>
