<%= link_to image_tag('credits/pristupinfo-logo-color.png', :alt => "Povjerenik za informiranje logo"), "http://www.pristupinfo.hr/", :class => 'footer-logo' %>
<%= link_to image_tag('credits/ogp-logo-color.png', :alt => "Partnerstvo za otvorenu vlast logo"), "https://vlada.gov.hr/vijesti/partnerstvo-za-otvorenu-vlast-politicka-inicijativa-od-velikog-znacaja-za-demokratski-napredak-drustva/10753", :class => 'footer-logo' %>

<br /><br />

<img src="<%= image_path('credits/73013397-8a616f80-3e18-11ea-963c-10a94fca65ec.png') %>" alt="EU" />
<%= link_to image_tag('credits/73013397-8a616f80-3e18-11ea-963c-10a94fca65ec.png', :alt => "EU logo"), "#", :class => 'footer-logo' %>
<%= link_to image_tag('credits/USembassyZagreb2012_blue_A3.png', :alt => "US Embassy Zagreb logo"), "#", :class => 'footer-logo' %>

<p><i>Imamo pravo znati</i> djelomično je financiran kroz potporu Veleposlanstva SAD-a u Zagrebu. Mišljenja, nalazi i zaključci ili preporuke izražene ovdje pripadaju autorima i ne odražavaju nužno stavove američkog Ministarstva vanjskih poslova (State Department).</p>

<div style="clear:both"></div>
