<div class="help-sidebar">
    <div id="about_sidebar">
        <h2>Stranice za pomoć</h2>
        <ul>
            <li><%= link_to_unless_current "O projektu", "/help/about" %></li>
            <li><%= link_to_unless_current "Pravo na informacije", "/help/about#whybother_them" %></li>
            <li><%= link_to_unless_current "Podnošenje zahtjeva", "/help/requesting" %></li>
            <li><%= link_to_unless_current "Vaša privatnost", "/help/privacy" %></li>
            <li><%= link_to_unless_current "Službenici za informiranje", "/help/officers" %></li>
            <li><%= link_to_unless_current "O ovoj platformi", "/help/alaveteli" %></li>
            <li><%= link_to_unless_current "Zahvale", "/help/credits" %></li>
            <li><%= link_to_unless_current "API za programere", "/help/api" %></li>
            <li><%= link_to_unless_current "Pomozite nam", "/help/credits#helpus" %></li>
            <li><%= link_to_unless_current "Napredna pretraga", "/advancedsearch" %></li>
        </ul>

        <h2 id="contact">Pišite nam</h2>
        <p>Ukoliko postoje neka pitanja koja nisu odgovorena na ovim stranicama za pomoć ili nas želite kontaktirati iz bilo kojeg razloga molimo vas da nam se obratite putem <a href="http://diskurs.open.hr/ipz">foruma</a>.
        </p>
    </div>
</div>