<div id="right_column_flip">
    <h2>Help pages</h2>
    <ul class="no_bullets">
        <li><%= link_to_unless_current "Cos'è il diritto di accesso", "/help/about" %></li>
        <li><%= link_to_unless_current "Per fare una richiesta", "/help/requesting" %></li>
        <li><%= link_to_unless_current "Per rispondere a una richiesta (Amministrazione)", "/help/officers" %></li>
        <li><%= link_to_unless_current "Privacy", "/help/privacy" %></li>
        <li><%= link_to_unless_current "API", "/help/api" %></li>
        <li><%= link_to_unless_current "Ricerca avanzata", "/advancedsearch" %></li>
        <li><%= link_to_unless_current "Informazioni tecniche", "/help/alaveteli" %></li>
        <li><%= link_to_unless_current "Credits", "/help/credits" %></li>
    </ul>

    <h2 id="contact">Contatti</h2>
    <p>Se la risposta che stavi cercando non è qui o hai una domanda sul sito, <a href="/help/contact">scrivici qui </a>.
    </p>
</div>

