<div id="right_column_flip">
    <h2>Stranice pomoći</h2>
    <ul class="no_bullets">
        <li><%= link_to_unless_current "O projektu", "/help/about" %></li>
        <li><%= link_to_unless_current "Pisanje zahtjeva", "/help/requesting" %></li>
        <li><%= link_to_unless_current "Vaša privatnost", "/help/privacy" %></li>
        <li><%= link_to_unless_current "Službenici za informiranje", "/help/officers" %></li>
        <li><%= link_to_unless_current "O ovoj platformi", "/help/alaveteli" %></li>
        <li><%= link_to_unless_current "Zahvale", "/help/credits" %></li>
        <li><%= link_to_unless_current "API za programere", "/help/api" %></li>
        <li><%= link_to_unless_current "Pomozite nam", "/help/credits#helpus" %></li>
        <li><%= link_to_unless_current "Napredna pretraga", "/advancedsearch" %></li>
    </ul>

    <h2 id="contact">Kontaktirajte nas</h2>
    <p>Ukoliko postoje neka pitanja koja nisu odgovorena na ovim stranicama za pomoć ili nas želite kontaktirati iz bilo kojeg razloga molimo vas da nam <a href="http://diskurs.open.hr/c/imamo-pravo-znati">pišete</a>.
    </p>
</div>


