<div id="right_column_flip" class="right_column_flip help-sidebar">
  <div id="about_sidebar">
    <h2>Stranice za pomoć</h2>
    <ul>
      <li>
        <%= link_to_unless_current "O projektu", help_about_path %>
      </li>
      <li>
        <%= link_to_unless_current "Pravo na informacije", help_whybother_them %>
      </li>
      <li>
        <%= link_to_unless_current "Podnošenje zahtjeva", help_requesting_path %>
      </li>
      <li>
        <%= link_to_unless_current "Vaša privatnost", help_privacy_path %>
      </li>
      <li>
        <%= link_to_unless_current "Službenici za informiranje", help_officers_path %>
      </li>
      <li>
        <%= link_to_unless_current "Zahvale", help_credits_path %>
      </li>
      <li>
        <%= link_to_unless_current "Alati za napredne korisnike i programere",
                                   help_api_path %>
      </li>
      <li>
        <%= link_to_unless_current "Napredna pretraga", advanced_search_path %>
      </li>
      <li>
        <%= link_to_unless_current "O ovoj platformi", help_alaveteli_path %>
      </li>
    </ul>
    <% unless is_contact_page? %>
    <h2 id="contact">Kontaktirajte nas</h2>
    <p>Ako imate postoje koja nisu odgovorena na ovim stranicama za pomoć pišete na
      <a href="https://diskurs.codeforcroatia.org/c/imamo-pravo-znati">diskurs zajednicu</a>
      i netko će vam odgovoriti a za razgovor s Imamo pravo znati timom volontera
      <a href="<%= help_contact_path %>">kontaktirajte&nbsp;nas</a>.
    </p>
    <% end %>
  </div>
</div>
