<% @title = "Application Programming Interface - API" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
<h1><%=@title %></h1>

<h2>Introduzione</h2>

<p>Questa pagina illustra come degli sviluppatori possono far interagire
altri siti web e software con <%= site_name %>, utilizzando un API.</p>

<p><%= site_name %> non ha ancora un'API completa, ma stiamo gradualmente aggiungendo
molte feature utili man mano che ci vengono richieste.
</p>

<hr>

<h2>1. Linkare a delle nuove richieste</h2>

<p>Per incoraggiare gli utenti a fare richieste verso una pubblica amministrazione in particolare, usare
delle URL nella forma seguente:</p>
<%= link_to new_request_to_body_url(:url_name => "liverpool_city_council") , new_request_to_body_url(:url_name => "liverpool_city_council") %>.

<p>Questi sono i parametri che possono essere aggiunti a queste URL, sia direttamente nell'URL che
attraverso un form.</p>

<ul>
    <li> <strong>title</strong> - Titolo di default della nuova richiesta.</li>
    <li> <strong>default_letter</strong> - Testo di default del corpo della lettera. Il saluto (Salve...) e la firma (Cordialmente...) vengono inserite rispettivamente prima e dopo di questo campo.</li>
    <li> <strong>body</strong> - Alternativa a default_letter, questo rappresenta l'intero corpo della lettera, quindi potendo far scegliere un saluto ed una firma diverse dalle standard.</li>
    <li> <strong>tags</strong> - Lista di tag separati da uno spazio, così da poter cercare in seguito richieste effettuate, es. <em>openlylocal spending_id:12345</em>. I due punti (:) indicano un tipo di tag macchina. Anche i valori dei tag macchina possono includere i due punti (:), utili nel caso di URI.
</ul>

<hr>

<h2> 2. Feed RSS (Atom, in realtà) </h2>
<p>Nella maggior parte delle pagine dove sono elencate delle richieste di accesso sono presenti dei feed Atom,
che si possono usare per ricevere aggiornamenti e link in formato XML. Si può trovare l'URL del feed in uno di questi modi:
</p>
<ul>
    <li>Cercando il link <%= image_tag "feed-16.png", :alt => "" %> feed RSS.</li>
    <li>Cercando il tag <tt>&lt;link rel="alternate" type="application/atom+xml"&gt;</tt> all'interno del codice HTML. </li>
    <li>Aggiungendo <tt>/feed</tt> all'inizio di un altro URL.
</ul>

<p>In particolare, anche query di ricerca complicate hanno dei feed Atom.
Si possono fare molteplici operazioni con esse, come query per autorità, per tipo di file, per intervallo di tempo, o per stato della richiesta. Leggere <a href="/search">consigli utili per la ricerca avanzata</a> per più dettagli.
</p>

<hr>

<h2> 3. Dati JSON strutturati </h2>

<p>Molte pagine hanno delle versioni JSON, che permettono di scaricare informazioni riguardo le richieste
in forma strutturata. Si possono trovare:
<ul>
    <li>Aggiungendo <tt>.json</tt> alla fine dell'URL. </li>
    <li>Cercando il tag <tt>&lt;link rel="alternate" type="application/json"&gt;</tt> all'interno del codice HTML. </li>
</ul>
</p>

<p>Richieste, utenti e amministrazioni hanno tutti delle versioni JSON contenenti informazioni di
base su di loro. Ogni feed Arom ha un equivalente JSON, contenente delle informazioni riguardo 
la lista di eventi nel feed.</p>

<hr>
<h2> 4. Spreadsheet di tutte le amministrazioni </h2>

<p>
&Egrave; disponibile uno spreadsheet che elenca tutte le amministrazioni presenti in <%= site_name %>:
<%= link_to "all-authorities.csv", all_public_bodies_csv_url() %>
</p>

<hr>

<p><a href="/help/contact">Contattaci</a> se hai bisogno di una particolare feature nelle API che non è ancora implementata. &Egrave; un lavoro in corso, e stiamo aggiungendo feature man mano che vengono richieste.</p>

<div id="hash_link_padding"></div>

</div>
