<% @title = "Vodič za početnike" %>
<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <h1>
    <%= @title %>
  </h1>
  <p>
    Detaljne informacije o tome kako podnijeti zahtjev za pristup informacijama
    pomoću ove internetske stranice možete pronaći u ovom <a
    href="https://www.mysociety.org/2014/08/15/how-to-make-a-freedom-of-information-request-with-whatdotheyknow/?utm_source=imamopravoznati&utm_medium=link">
    blogu</a>.
  </p>
  <p>
    Savjeti o tome kako na <%= site_name %> možete uključiti praćenje svih
    zahtjeva za pristup informacijama upućenih vašoj lokalnoj samoupravi te
    zaprimati obavijesti putem e-poštom možete pronaći u ovom
    <a href="https://www.mysociety.org/2014/09/19/how-to-keep-up-with-hot-topics-in-your-local-area/?utm_source=imamopravoznati&utm_medium=link">
    blogu</a>. A ovaj <a
    href="https://www.mysociety.org/2014/09/29/subscribe-to-foi-requests-on-any-topic/?utm_source=imamopravoznati&utm_medium=link">
    blog</a> objašnjava kako se možete pretplatiti na primanje obavijesti
    e-poštom o zahtjevima za pravo na pristup informacijama o bilo kojoj temi.
  </p>
  <p>
    Ako su vam potrebni dodatni savjeti, možete <a href="<%= help_contact_path
    %>">kontaktirati</a> <%= site_name %> ekipu volontera.
  </p>
</div>
