<% @title = "Kontaktirajte nas" %>

<%= render :partial => 'sidebar' %>

    <h1 id="contact"><%= @title %> <a href="#contact">#</a> </h1>
    <p> </p>
    
    <h2 id="email">Za službene informacije kontaktirajte tijela javne vlasti</h2>
        <ul>
            <li><a href="<%= new_request_path %>">Idite ovdje</a> da pošaljete javni zahtjev za pristup informacijama od tijela javne vlasti.</li>

            <li>
            Tražite li privatne informacije o sebi?
            Pročitajte naše
            <a href="<%= help_requesting_path(:anchor => 'data_protection') %>">stranice za pomoć</a>.
            </li>
        </ul>
    
    <h2>Kontaktirajte <i><%= site_name %></i> tim</h2>

    <p class="form_note">
    Možemo vam pomoći oko <strong>tehničkih problema</strong>, ili pitanja o pravu na pristup informacijama.
    </p>

        <ul>
            <li>
            Molimo vas da prvo pročitate <a href="<%= help_about_path %>">stranice za pomoć</a>, jer ćete tamo možda brže dobiti odgovor na vaše pitanje.
            </li>

            <li>Voljeli bismo čuti kako vam se sviđa ova platforma.
               Pišite nam na <a href="http://diskurs.open.hr/c/imamo-pravo-znati">ImamoPravoZnati.org forumu</a>.
            </li>

            <li>Mi smo <strong>neprofitne civilne organizacije</strong> i nismo dio vlasti -- mi pokrećemo ovu platformu!</li>
        </ul>
