<% @title = "Contact us" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
    <h1 id="contact"><%= @title %> <a href="#contact">#</a> </h1>
    <p> </p>
    
    <h2 id="email">Contact an authority to get official information</h2>
        <ul>
            <li><a href="<%= new_request_path %>">Go here</a> to make a request, in public, for information
            from public authorities.</li>

            <li>
            Asking for private information about yourself?
            Please read our
            <a href="<%= help_requesting_path(:anchor => 'data_protection') %>">help page</a>.
            </li>
        </ul>
    
    <h2>Contact the <%= site_name %> team</h2>
        <ul>
            <li>
            Please read the  <a href="<%= help_about_path %>">help page</a> first, as it may
            answer your question quicker.
            </li>

            <li>We'd love to hear how you've found using this site.
               Write us at <a href="http://diskurs.open.hr/c/imamo-pravo-znati">ImamoPravoZnati.org forum</a>
            </li>

            <li>We are a <strong>charity</strong> and not part of the Government -- we run this site, not the Government!</li>
        </ul>
    <p class="form_note">
    We can only help you with <strong>technical problems</strong>, or questions
    about Freedom of Information.
    </p>
    
</div>