<% @title = "Contatti" %>

<%= foi_error_messages_for :contact %>

<h1><%= @title %></h1>

<div id="contact_preamble">

    <% if !flash[:notice] %>
        <h2>Contatta un'amministrazione per ricevere le informazioni che ti servono</h2>
        <ul>
            <li><a href="<%= new_request_path %>">Vai qui</a> per fare una richiesta all'amministrazione pubblica (sarà visibile sul sito)</li>

        </ul>

    <% end %>

    <h2>Contatta il team di <%= site_name %> </h2>
    <% if !flash[:notice] %>
            <ul>
            <li>
            Leggi prima <a href="<%= help_about_path %>">la pagina di istruzioni</a>: troverai molte risposte alle domande più frequenti.
            </li>

            <li>Ci interessa sapere se il sito ti piace e se lo trovi utile.
               Compila il modulo qui sotto o scrivici a questo indirizzo <a
               href="mailto:<%=@contact_email%>"><%=@contact_email%></a>
            </li>

            <li>Siamo una <strong>ONG</strong> e non abbiamo legami con la Pubblica Amministrazione.</li>
            </ul>
    <% end %>
</div>

<%= form_for :contact do |f| %>

    <% if not @user %>
        <p>
            <label class="form_label" for="contact_name">Il tuo nome:</label>
            <%= f.text_field :name, :size => 20 %>
            (or <%= link_to "sign in", signin_path(:r => request.fullpath) %>)
        </p>

        <p>
            <label class="form_label" for="contact_email">Il tuo indirizzo email:</label>
            <%= f.text_field :email, :size => 20 %>
        </p>
    <% end %>

    <p>
        <label class="form_label" for="contact_subject">Oggetto:</label>
        <%= f.text_field :subject, :size => 50 %>
    </p>

    <p>
        <label class="form_label" for="contact_message">Messaggio:</label>
        <%= f.text_area :message, :rows => 10, :cols => 60 %>
    </p>

    <p style="display:none;">
        <%= f.label :comment, 'Do not fill in this field' %>
        <%= f.text_field :comment %>
    </p>

    <% if !@last_request.nil? %>
        <p>
            <label class="form_label" for="contact_message">Includi link alla richiesta:</label>
            <%=request_link(@last_request) %>
            <%= submit_tag "remove", :name => 'remove' %>
        </p>
    <% end %>
    <% if !@last_body.nil? %>
        <p>
            <label class="form_label" for="contact_message">Includi link all'amministrazione:</label>
            <%=public_body_link(@last_body) %>
            <%= submit_tag "remove", :name => 'remove' %>
        </p>
    <% end %>

    <p class="form_note">
    Possiamo aiutarti solo per <strong>problemi tecnici</strong> o domande sull'accesso agli atti.
    </P>


    <div class="form_button">
        <%= hidden_field_tag(:submitted_contact_form, 1) %>
        <%= submit_tag "Invia messaggio a Diritto Di Sapere", :disable_with => "Sending..." %>
        &lt;-- il sito è gestito da noi, non dal Governo italiano!
    </div>

<% end %>
