<% @title = "Zahvale onima kojima je potrebno zahvaliti" %>
<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <h1 id="credits"><%= @title%> <a href="#credits">#</a> </h1>

  <dl>

  <dt id="thanks">Koji ljudi su stvorili <i><%= site_name %></i>? <a href="#thanks">#</a> </dt>
  <dd>Uf, skoro svi (a <a href="http://codeforcroatia.org/volunteer">možda i ti</a>)!
  <ul>
  <li>
      Povjerenica <a href="http://www.pristupinfo.hr">Anamarija Musa</a>
      na savjetima i jako potrebnom popisu tijela javne vlasti.
  </li>
  <li>
      <a href="http://www.gong.hr">Jelena Berković</a>
      jer se mnogo zalaže za pravo na pristup informacijama.
  </li>
  <li>
      Danela Žagar
      jer je razumijela platformu za pristup informacijama kada je ta ideja bila još u povojima.
  </li>
  <li>
      <a href="http://rational.international/">Bojan Opačak</a>
      kao začetniku ideje o prvoj Hrvatskoj platformi za pristup informacijama, hvala za sve savjete u dizajnu. Hvala što si zadržao pribranost dok su stizali kilogrami pošte s rješenjima za pristup informacijama u papirnatom obliku.
  </li>
  <li>
      <a href="http://abacusstudio.hr">Dubravko Rutalj</a> iz Abacus Studio d.o.o.
      na brzoj sistemskoj i tehničkoj pomoći te održavanju servera.
  </li>
  <li>
      <a href="http://the5w.org">Marinko Brkić-Tot</a> iz 5W
      na CodeAcross i OpenDataDay 2015 hackathon podršci te održavanju društvenih kanala <i><%= site_name %></i>.
  </li>
  <li>
      Gordon Cindrić
      za super dizajnirani logo za <i><%= site_name %></i> na CodeAcross i OpenDataDay 2015 hackathonu.
  </li>
  <li>
      Louise Crow
      na hookovima, ruby savjetima i strpljenju!
  </li>
  <li>
      Hvala ekipi volontera koji su adaptirali ove internetske stranice na hrvatski jezik - Bojan Opačak, Marina Ninić, Mateja Fabijanić, Mihovil Nakić-Vojnović, Mirna Bašić, Vanja, Danela, Žana Počuča, Miroslav Schlossberg, Ana Kalčić, Dorotea Butković, Dominik Šimetin, M.J., V.P., T.B., Nina Čupić.
  </li>
  <li>
      Posebne zahvale testerima,
      za rano korištenje stranice i davanje povratne informacije (i pravnih savjeta!) - Sonja Radočaj, Ivica Jeđud, Lana Podgoršek, Daria Markić, Josipa Koić i drugi.
  </li>
  <li>
      Nevjerojatna ekipa volontera koji rade na stranici, odgovara na vaše e-mailove podrške, održavaju baze podataka o tijelima javne vlasti i još toliko toga.
      Hvala Lani, Sonji, Vanji i Miroslavu.
  </li>
  <li>
      Volonteri koji su osigurali zakrpe na kodovima.
  </li>
  <li>
      Svima koji su nam pomogli pronaći e-mail adrese službenika za informiranje.
  </li>
  <li>
      Ne bismo mogli napraviti ništa od navedenog bez tih ludih ljudi koji volontiraju.
  </li>
  <li>
      I svi vi koji redovno koristite <i><%= site_name %></i> za pristup informacijama.
  </li>
  <li>
      Naposljetku, svim službenicima i dužnosnicima koji su odgovarali na brojne zahtjeve napravljene putem stranice. Njihova marljivost, strpljenje i profesionalnost jest ono što zapravo sačinjava informacije koje vidite ovdje.
  </li>
  </ul>
  Hvala im na pomoći oko stvaranja <i><%= site_name %></i>.
  Svi ste vi zvijezde.
  </dd>

      <dt id="helpus">Mogu li ja pomoći? <a href="#helpus">#</a> </dt>
      <dd>
          <p>Da, molim! Mi smo izgrađeni od naših podupiratelja i volontera.</p>
          <ul>
          <li>Možete napraviti donaciju <a href="http://www.open.hr/o-hropenu/opci-podaci/">[1]</a> <a href="http://gong.hr/hr/o-gong-u/sto-je-gong/">[2]</a>. Mi smo neprofitne organizacije civilnog društva.</li>
          <li>Pomozite ljudima pronaći uspješne zahtjeve i pratite provođenje pristupa informacijama -
          <a href="/categorise/play">zaigrajte igru ocjenjivanja</a>. </li>
          <li>Pronađite e-mail adrese službenika za informiranje za <a href="/help/requesting#missing_body">tijela javne vlasti za koje nemamo kontakt podatke</a>.</li>
          <li>Napišite post na blogu o <i><%= site_name %></i> ili o zanimljivom zahtjevu kojeg ste našli. Pišite o tome na forumu na kojem ste često. Recite prijateljima o tome.</li>
          <li>Ako ste programer, potražite izvorni kod našeg glavnog projekta, <a href="http://alaveteli.org">Alaveteli</a>
          te nam recite o zakrpama koje možemo napraviti. Napravljen je u Ruby on Rails.
          <li>Prijavite se u <a href="http://codeforcroatia.org/register?return=%2Fprojects%2Fzahtjev_za_pravo_na_pristup_informacijama">tim podrške za savjetovanje</a>.</li>
          <li>Prijavite se u <a href="http://codeforcroatia.org/register?return=%2Fprojects%2Fzahtjev_za_pravo_na_pristup_informacijama">tim za moderiranje zahtjeva</a>.</li>
          <li>Pročitajte više na <a href="http://codeforcroatia.org/volunteer">volontiranje u Code for Croatia</a>.
          </ul>
      </dd>
  </dl>
  <div id="hash_link_padding"></div>
</div>
