<% @title = "Zahvale onima kojima je potrebno zahvaliti" %>
<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <h1 id="credits"><%= @title%> <a href="#credits">#</a> </h1>
  <p>
    Hrvatska neformalna inicijativa građana <a href="https://codeforcroatia.org/?utm_source=imamopravoznati&utm_medium=link">
    Code for Croatia</a> pokretač je projekta <%= site_name %>. Code for Croatia
    gradi internetske alate koji građanima omogućavaju da drže vlasti
    odgovornima. Ovo je jedna od tih stranica.</p>
  <dl>
    <dt id="thanks">
      Izvorna ideja
      <a href="#thanks">#</a>
    </dt>
    <dd>
      <p>
        2006. godine mySociety je raspisao natječaj pozivajući koncepte za svoju
        sljedeću internetsku aplikaciju za osnaživanje građana.
      </p>
      <p>
        Dvoje ljudi osmislilo je ono što se pokazalo pobjedničkom idejom,
        internetskom stranicom za podnošenje zahtjeva za pravo na pristup
        informacijama (PPI): Phil Rodgers i Francis Irving.
      </p>
      <p>
        Aktivistica prava na pristup infromcijama (PPI) i novinarka Heather
        Brooke već je vodila kampanju za arhivu zahtjeva i odgovora, što je
        pomoglo oblikovanju nove ideje.
      </p>
      <p>
        mySociety programer Chris Lightfoot pročistio je koncept modelom
        presretanja odgovora e-poštom na zahtjeve i njihovog automatskog
        objavljivanja. I tako je rođen WhatDoTheyKnow u Velikoj Britaniji.
      </p>
      <p>
        WhatDoTheyKnow bio je temelj softvera <a href="<%= help_alaveteli_path %>">
        Alaveteli</a>, koji omogućava bilo kome, bilo gdje, pokretanje vlastite
        internetske stranice za pravo na pristup infromacijama. Budući da je
        Alaveteli slobodni softver, on sadrži doprinose mnogih <a
        href="https://github.com/mysociety/alaveteli/graphs/contributors">suradnika</a>
        koje cijenimo i izrazito smo im zahvalni.
      </p>
    </dd>
    <dt id="local">
      Hrvatski portal
      <a href="#local">#</a>
    </dt>
    <dd>
      <p>
        Ideja za hrvatski portal rođena je 2014. godine na prvom <a href="https://odd.codeforcroatia.org/2014?utm_source=imamopravoznati&utm_medium=link">
        hackathonu povodom Dana otvorenih podataka</a> u organizaciji Code for
        Croatia i Gonga. Zaključak hackathona tada bio je da hrvatska tijela
        javne vlasti nisu dovoljno transparentna u pristupu javnim informacijama
        te da radi toga nemamo dovoljno otvorenih podataka kako bismo mogli
        graditi korisne javne internetske alate za građane.
      </p>
      <p>
        Već 2015. godine na drugom <a href="https://odd.codeforcroatia.org/2015?utm_source=imamopravoznati&utm_medium=link">
        hackathonu povodom Dana otvorenih podataka</a> pokrećemo hrvatsku
        instancu Alaveteli softvera. Prilagodba, konfiguracija i beta testiranje
        portala u koje je bilo uključeno 20-ak volontera i utrošeno 400-ak
        volonterskih sati, trajalo je do sredine godine.
      </p>
      <p>
        Internetska stranica <%= site_name %>.org <a
        href="https://web.archive.org/web/20150620031910/http://gong.hr/en/good-governance/access-to-information/imamopravoznatiorg-an-opportunity-for-democratic-p/#">
        najavljena je javnosti</a> 9. lipnja 2015. godine te je time činila 20.
        Alaveteli instancu pokrenutu u svijetu. Time je otvoreno novo razdoblje
        u transparentnosti prava na pristup informacijama i osnaživanja
        građana Republike Hrvatske.
      </p>
    </dd>
    <dt id="funding">
      Financiranje
      <a href="#funding">#</a>
    </dt>
    <dd>
      <p>
        Projekt <%= site_name %> je u potpunosti volonterski doprinos.
        Inicijalno serverska infrastruktura bila je financirana iz proračuna
        organizacija civilnog društva <a href="https://www.open.hr/?utm_source=imamopravoznati&utm_medium=link">
        HrOpen</a> i <a href="https://www.gong.hr/?utm_source=imamopravoznati&utm_medium=link">
        Gonga</a>. Od 2019. godine serverska infrastruktura smješta se na Azure
        cloud koji je dio Microsoftovog programa za neprofitne organizacije.
      </p>
    </dd>
    <dt id="volunteers">
      Volonteri
      <a href="#volunteers">#</a>
    </dt>
    <dd>
      <p>
        Nevjerojatna ekipa volontera održava stranicu, odgovara na vaše e-mailove
        za podršku, održava bazu podataka tijela javnih vlasti i još mnogo toga.
        Zahvaljujemo članovima ekipe:
        <a href="https://imamopravoznati.org/user/alumni_sonja">Sonja</a>*,
        <a href="https://imamopravoznati.org/user/administratorica_lana">Lana
        </a>,
        <a href="https://imamopravoznati.org/user/alumni_ankica">Ankica</a>*,
        <a href="https://imamopravoznati.org/user/alumni_hrvoje">Hrvoje</a>*,
        <a href="https://imamopravoznati.org/user/alumni_karla">Karla</a>*,
        <a href="https://imamopravoznati.org/user/alumni_katica">Katica</a>*,
        <a href="https://imamopravoznati.org/user/alumni_marko">Marko
        </a>*,
        <a href="https://imamopravoznati.org/user/moderatorica_stella">Stella</a>,
        <a href="https://imamopravoznati.org/user/pripravnica_podrske_josipa">
        Josipa</a>,
        <a href="https://imamopravoznati.org/user/pripravnica_podrske_katarina">
        Katarina</a>,
        <a href="https://imamopravoznati.org/user/alumni_klara">Klara</a>*,
        <a href="https://imamopravoznati.org/user/pripravnica_podrske_kristina">Kristina
        </a>,
        <a href="https://imamopravoznati.org/user/pripravnica_podrske_mariza">Mariza</a>,
        <a href="https://imamopravoznati.org/user/pripravnica_podrske_martina">Martina</a>,
        <a href="https://imamopravoznati.org/user/administrator_miroslav">Miroslav</a> i
        <a href="https://imamopravoznati.org/user/administratorica_melisa">Melisa</a>.
      </p>
    </dd>
    <dt id="more-thanks">
      Ljudi koji su stvorili <%= site_name %>
      <a href="#more-thanks">#</a>
    </dt>
    <dd>
      <p>
        Mnogo ljudi - previše da bi ih sve spomenuli, ali volimo vas sve -
        oni koji su pomogli u pronalaženju adresa e-pošte za tijela javne vlasti
        prevodili i testirali internetsku stranicu za vrijeme probnog rad u
        ranim danima.
      </p>
      <p>
        Pružanje usluge omogućuje i naša volonterska Code for Croatia ekipa
        <a href="https://codeforcroatia.org/pages/leadership?utm_source=imamopravoznati&utm_medium=link">
        vodstva i savjetnika</a>.
      </p>
      <p>
        Mnogi <a href="https://codeforcroatia.org/people?utm_source=imamopravoznati&utm_medium=link">
        Code for Croatia članovi</a>, prošli i sadašnji, pridonijeli su uspjehu
        stranice.
      </p>
      <p>
        <a href="http://web.archive.org/web/20150319030955/http://www.pristupinfo.hr/o-povjereniku-za-informiranje/">
        Povjerenica Anamarija Musa</a> pridonijela je savjetima i jako potrebnom
        <a href="http://web.archive.org/web/20150531093609/http://www.pristupinfo.hr/popis-tijela-javne-vlasti-2/">
        popisom tijela javne vlasti</a>.
      </p>
      <p>
        Bojan Opačak je začetniku ideje o prvoj Hrvatskoj platformi za pristup
        informacijama. Hvala Bojanu što je zadržao pribranost dok su stizali
        kilogrami pošte s rješenjima za pristup informacijama u papirnatom obliku.
      </p>
      <p>
        Gordon Cindrić, autor <%= site_name %> logotipa, koji je na hackathonu
        povodom Dana otvorenih podataka 2015. godine osmislio dizajn fraktalne
        slike s obrisima mozga kao simbol znanja kojeg i danas koristimo kao
        prepoznatljivu oznaku internetske stranice.
      </p>
      <p>
        Naposlijetku, zahvaljujemo svim službenicima i djelatnicima tijela javne
        vlasti koji su odgovorili na brojne zahtjeve upućene putem ove
        internetske stranice. Njihova marljivost, strpljenje i profesionalnost
        tvore otvorene informacije koje vidite u ovoj masivnoj arhivi prava
        na pristup informacijama. Hvala im što pomažu da vlada postane
        transparentnija.
      </p>
    </dd>
    <dt id="helpus">
      Želite pomoći?
      <a href="#helpus">#</a>
    </dt>
    <dd>
      <p>
        Saznajte putem sljedećeg linka <a href="<%= help_general_path(:template => 'volunteers') %>"
        >kako se možete uključiti</a>.
      </p>
    <dd>
  </dl>
  <div id="hash_link_padding"></div>
</div>
