<% @title = "Prigovor na primjenu Zakona o pravu na pristup informacijama" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
<h1>Predstavke</h1>
<p>Bilo tko može podijeti predstavku. Radi se o slučajevima kada građanin uoči da
  tijelo javne vlasti nepravilno primjenjuje ili uopće ne primjenjuje neku odredbu
  zakona. Kada ispunite ovaj obrazac, dostaviti ćemo vašu predstavku Povjereniku
  za informiranje.</p>

<div class="contact-page">

    <!-- START -->
    <h2 class="contact-page__goal" id="zppi_5_20_1">
        <label class="houdini-label" for="goal1">
            V. ZPPI §20.(1) - <strong>nisu odgovorili na zahtjev za pristup
            informacijama</strong> u propisanom roku.
        </label>
    </h2>

    <input class="houdini-input" type="radio" name="goals" id="goal1"
        <% if params["contact"] && params[:current_form] == 'zppi_5_20_1' %>checked<% end %>>
    <div class="houdini-target contact-page__options">
        <ul>
            <li>
                <strong>Zakonska odredba:</strong> V. ZPPI §20.(1) - Na temelju
                zahtjeva za pristup informaciji tijelo javne vlasti će odluĉiti
                najkasnije u roku od 15 dana od dana podnošenja urednog zahtjeva.
                (<a href="<%= zppi_text_path %>">NN 25/13. i 85/15.</a>)
            </li>
            <%= render :partial => 'help/foi_motion_privacy' %>

            <li>
                <% if !@user %>
                  <%= link_to _("Sign in or sign up"), signin_path(:r => request.fullpath)  %>
                <% end %>

                <% if @user %>
                  <%= foi_error_messages_for :contact %>

                  <%= render :partial => "help/contact_form",
                             :locals => { :form_id => 'zppi_5_20_1' } %>
                <% end %>
            </li>
        </ul>
    </div>
    <!-- END -->





</div>
</div>
