<% @title = "Prigovor na primjenu Zakona o pravu na pristup informacijama" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
<h1>Predstavka</h1>
<p>Svatko može podnijeti predstavku na rad tijela javne vlasti vezano uz primjenu
  Zakona o pravu na pristup informacijama. Radi se o slučajevima kada uočite da
  tijelo javne vlasti nepravilno primjenjuje ili uopće ne primjenjuje neku odredbu
  zakona. Kada ispunite ovaj obrazac, dostaviti ćemo vašu predstavku Povjereniku
  za informiranje koja može poslužiti kao osnova za inspekcijski nadzor.</p>
<p>
    Svaka <strong>predstavka treba sadržavati</strong>:
</p>
    <ul>
      <li><strong>Naziv tijela javne vlasti</strong> koje je predmet
        predstavke. Obavezno navedite naziv tijela javne vlasti kako
        bi podnesak bio valjan.</li>
      <li><strong>Počinjene nezakonitosti ili nepravilnosti</strong>
        u pravu na pristup informacijama. Podnositelj predstavke obavezno navodi
        zbog čega je nezadovoljan postupcima tijela javne vlasti vezano uz
        primjenu Zakona o pravu na pristup informacijama. Za lakšu upotrebu,
        sadržaj predstavke smo automatski ispunili. Možete izmjeniti tekst i
        napisati ako imate nešto za dodati vašem prigovoru. Ako nije automatski
        uključeno ispod obrasca, možete navesti link na vaš <%= site_name %>
        zahtjev ili na internetsku stranicu tijela javne vlasti s kojim ćete
        potkrijepiti vaš prigovor.</li>
    </ul>

<p>
    U vaš podnesak <strong>uključujemo sljedeće informacije</strong>:
</p>
    <ul>
      <li><strong>Link na zadnji zahtjev ili tijelo javne vlasti</strong> koji
        ste zadnje otvorili. Potvrdite vide li se ispod obrasca.</li>
      <li><strong>Link na vaš profil</strong> na <%= site_name %>.</li>
      <li><strong>Vaše ime i email adresu</strong> iz vašeg <%= site_name %>
        korisničkog računa kako bi vam inspektor Povjerenika za informiranje
        mogao dostaviti obavijest o provedenom nadzoru tijela.</li>
    </ul>


<% if @user %>

<div class="contact-page">

    <!-- START -->
    <h3 class="contact-page" id="part_2">
      1) Najčešće predstavke za pravo na pristup informacijama.
    </h3>

    <h2 class="contact-page__goal" id="zppi_5_20_1">
        <label class="houdini-label" for="goal1">
            V. ZPPI §20.(1) - <strong>nisu odgovorili na zahtjev za pristup
            informacijama</strong> u propisanom roku.
        </label>
    </h2>

    <input class="houdini-input" type="radio" name="goals" id="goal1"
        <% if params["contact"] && params[:current_form] == 'zppi_5_20_1' %>checked<% end %>>
    <div class="houdini-target contact-page__options">
        <ul>
            <li>
                <strong>Zakonska odredba V. ZPPI §20.(1):</strong> Na temelju
                zahtjeva za pristup informaciji tijelo javne vlasti će odlučiti
                najkasnije u roku od 15 dana od dana podnošenja urednog zahtjeva.
                (<a href="<%= zppi_text_path %>">NN 25/13. i 85/15.</a>)<br>
                <strong>V. ZPPI §22.(1) i (2):</strong> Rokovi za ostvarivanje prava na
                pristup informaciji mogu se produžiti za 15 dana, računajući od
                dana kad je tijelo javne vlasti trebalo odlučiti o zahtjevu za pristup
                informaciji. (<a href="<%= zppi_text_path %>">NN 25/13. i 85/15.</a>)
            </li>
            <li>
                Više o tome pročitajte na stranicama pomoći: <a href="<%= help_requesting_path(:anchor =>
                'quickly_response') %>">U kojem roku će vaš zahtjev biti riješen?</a>

                <% if !@user %>
                  </li><li><%= link_to _("Sign in or sign up"), signin_path(:r => request.fullpath) %>
                    za slanje predstavke.
                <% end %>

                <% if @user %>
                  <%= foi_error_messages_for :contact %>
                  <%= render :partial => "help/zppi_5_20_1",
                             :locals => { :form_id => 'zppi_5_20_1' } %>
                <% end %>
            </li>
        </ul>
    </div>
    <!-- END -->


    <!-- START -->
    <h2 class="contact-page__goal" id="zppi_5_21_123">
        <label class="houdini-label" for="goal2">
            V. ZPPI §21.(1), (2) i (3) - <strong>nisu ustupili zahtjev za pristup
            informacijama</strong> drugom tijelu javne vlasti.
        </label>
    </h2>

    <input class="houdini-input" type="radio" name="goals" id="goal2"
        <% if params["contact"] && params[:current_form] == 'zppi_5_21_123' %>checked<% end %>>
    <div class="houdini-target contact-page__options">
        <ul>
            <li>
                <strong>Zakonska odredba V. ZPPI §21.(1):</strong>
                Ako tijelo javne vlasti ne posjeduje informaciju, a ima saznanja
                o tijelu koje je posjeduje, dužno je, bez odgode, a najkasnije u roku
                od osam dana od zaprimanja zahtjeva, ustupiti zahtjev tome tijelu, a
                o čemu će obavijestiti podnositelja.
                (<a href="<%= zppi_text_path %>">NN 25/13. i 85/15.</a>)<br>
                <strong>Zakonska odredba V. ZPPI §21.(2):</strong>
                Ako tijelo javne vlasti zaprimi zahtjev za pristup informaciji
                iz članka 15. stavka 2. točke 1. ovog Zakona, a nije njezin vlasnik,
                dužno je bez odgode, a najkasnije u roku od osam dana od zaprimanja
                zahtjeva, ustupiti zahtjev vlasniku informacije, o čemu će obavijestiti
                podnositelja. (<a href="<%= zppi_text_path %>">NN 25/13. i 85/15.</a>)<br>
                <strong>Zakonska odredba V. ZPPI §21.(3):</strong>
                Ako tijelo javne vlasti zaprimi zahtjev za pristup međunarodnoj
                informaciji, dužno je bez odgode, a najkasnije u roku od osam dana od
                zaprimanja zahtjeva, ustupiti isti vlasniku informacije, o čemu će
                obavijestiti podnositelja.
                (<a href="<%= zppi_text_path %>">NN 25/13. i 85/15.</a>)
            </li>
            <li>
                Više o ustupanju pročitajte na stranicama pomoći: <a href="<%= help_requesting_path(:anchor =>
                'quickly_response') %>">U kojem roku će vaš zahtjev biti riješen?</a>

                <% if !@user %>
                  </li><li><%= link_to _("Sign in or sign up"), signin_path(:r => request.fullpath) %>
                    za slanje predstavke.
                <% end %>

                <% if @user %>
                  <%= foi_error_messages_for :contact %>
                  <%= render :partial => "help/zppi_5_21_123",
                             :locals => { :form_id => 'zppi_5_21_123' } %>
                <% end %>
            </li>
        </ul>
    </div>
    <!-- END -->


    <!-- START -->
    <h2 class="contact-page__goal" id="zppi_5_24_2">
        <label class="houdini-label" for="goal3">
            V. ZPPI §24.(2) - <strong>nisu odgovorili na zahtjev za dopunu
            informacija</strong> u propisanom roku.
        </label>
    </h2>

    <input class="houdini-input" type="radio" name="goals" id="goal3"
        <% if params["contact"] && params[:current_form] == 'zppi_5_24_2' %>checked<% end %>>
    <div class="houdini-target contact-page__options">
        <ul>
            <li>
                <strong>Zakonska odredba V. ZPPI §24.(2):</strong>
                Tijelo javne vlasti obvezno je odlučiti o zahtjevu za dopunu,
                odnosno ispravak informacije u roku od 15 dana od dana zaprimanja
                zahtjeva. (<a href="<%= zppi_text_path %>">NN 25/13. i 85/15.</a>)

                <% if !@user %>
                  </li><li><%= link_to _("Sign in or sign up"), signin_path(:r => request.fullpath) %>
                    za slanje predstavke.
                <% end %>

                <% if @user %>
                  <%= foi_error_messages_for :contact %>
                  <%= render :partial => "help/zppi_5_24_2",
                             :locals => { :form_id => 'zppi_5_24_2' } %>
                <% end %>
            </li>
        </ul>
    </div>
    <!-- END -->


    <!-- START -->
    <h2 class="contact-page__goal" id="zppi_5_17_2">
        <label class="houdini-label" for="goal4">
            V. ZPPI §17.(2) - <strong>nisu dostavili informaciju na
            prikladan način</strong> naznačen u zahtjevu.
        </label>
    </h2>

    <input class="houdini-input" type="radio" name="goals" id="goal4"
        <% if params["contact"] && params[:current_form] == 'zppi_5_17_2' %>checked<% end %>>
    <div class="houdini-target contact-page__options">
        <ul>
            <li>
                <strong>Zakonska odredba V. ZPPI §17.(2):</strong>
                Korisnik može u zahtjevu za pristup informaciji naznačiti prikladan
                način dobivanja informacije, a ako ne naznači, informacija će se
                dostaviti na način na koji je podnesen zahtjev, odnosno na
                najekonomičniji način.
                (<a href="<%= zppi_text_path %>">NN 25/13. i 85/15.</a>)

                <% if !@user %>
                  </li><li><%= link_to _("Sign in or sign up"), signin_path(:r => request.fullpath) %>
                    za slanje predstavke.
                <% end %>

                <% if @user %>
                  <%= foi_error_messages_for :contact %>
                  <%= render :partial => "help/zppi_5_17_2",
                             :locals => { :form_id => 'zppi_5_17_2' } %>
                <% end %>
            </li>
        </ul>
    </div>
    <!-- END -->



    <h4>
        <strong>Niste pronašli što ste tražili?</strong> Zavirite u dodatne odjeljke:
    </h4>



    <!-- START PART-3 -->
    <h3>
      2) Predstavke za ponovnu uporabu infromacija.
    </h3>

        <!-- START CONTENT PART-3 -->

        <!-- START -->
        <h2 class="contact-page__goal" id="zppi_3_10_1_13_i">
            <label class="houdini-label" for="part_3_goal1">
                III. ZPPI §10.(1)13) - <strong>nisu objavili obavijest o načinu i
                  uvjetima</strong> ostvarivanja prava na pristup informacijama i
                  ponovnu uporabu informacija.
            </label>
        </h2>

        <input class="houdini-input" type="radio" name="goals" id="part_3_goal1"
            <% if params["contact"] && params[:current_form] == 'zppi_3_10_1_13_i' %>checked<% end %>>
        <div class="houdini-target contact-page__options">
            <ul>
                <li>
                    <strong>Zakonska odredba III. ZPPI §10.(1):</strong> Tijela javne
                    vlasti obvezna su na internetskim stranicama na lako pretraživ
                    način i u strojno čitljivom obliku objavljivati:
                    <br>
                    <strong>13)</strong> obavijest o načinu i uvjetima ostvarivanja
                    prava na pristup informacijama i ponovnu uporabu informacija na
                    vidljivu mjestu, s podacima za kontakt službenika za informiranje,
                    potrebnim obrascima ili poveznicama na obrasce te visinom naknade
                    za pristup informacijama i ponovnu uporabu informacija.
                    (<a href="<%= zppi_text_path %>">NN 25/13. i 85/15.</a>)

                    <% if !@user %>
                      </li><li><%= link_to _("Sign in or sign up"), signin_path(:r => request.fullpath) %>
                        za slanje predstavke.
                    <% end %>

                    <% if @user %>
                      <%= foi_error_messages_for :contact %>
                      <%= render :partial => "help/zppi_3_10_1_13_i",
                                 :locals => { :form_id => 'zppi_3_10_1_13_i' } %>
                    <% end %>
                </li>
            </ul>
        </div>
        <!-- END -->

        <!-- START -->
        <h2 class="contact-page__goal" id="zppi_3_10_1_13_iv">
            <label class="houdini-label" for="part_3_goal2">
                III. ZPPI §10.(1)13) - <strong>nisu objavili obavijest o visini
                  naknade</strong> za pristup informacijama i ponovnu uporabu
                  informacija.
            </label>
        </h2>

        <input class="houdini-input" type="radio" name="goals" id="part_3_goal2"
            <% if params["contact"] && params[:current_form] == 'zppi_3_10_1_13_iv' %>checked<% end %>>
        <div class="houdini-target contact-page__options">
            <ul>
                <li>
                    <strong>Zakonska odredba III. ZPPI §10.(1):</strong> Tijela javne
                    vlasti obvezna su na internetskim stranicama na lako pretraživ
                    način i u strojno čitljivom obliku objavljivati:
                    <br>
                    <strong>13)</strong> obavijest o načinu i uvjetima ostvarivanja
                    prava na pristup informacijama i ponovnu uporabu informacija na
                    vidljivu mjestu, s podacima za kontakt službenika za informiranje,
                    potrebnim obrascima ili poveznicama na obrasce te visinom naknade
                    za pristup informacijama i ponovnu uporabu informacija.
                    (<a href="<%= zppi_text_path %>">NN 25/13. i 85/15.</a>)

                    <% if !@user %>
                      </li><li><%= link_to _("Sign in or sign up"), signin_path(:r => request.fullpath) %>
                        za slanje predstavke.
                    <% end %>

                    <% if @user %>
                      <%= foi_error_messages_for :contact %>
                      <%= render :partial => "help/zppi_3_10_1_13_iv",
                                 :locals => { :form_id => 'zppi_3_10_1_13_iv' } %>
                    <% end %>
                </li>
            </ul>
        </div>
        <!-- END -->

        <!-- START -->
        <h2 class="contact-page__goal" id="zppi_3_10_1_2">
            <label class="houdini-label" for="part_3_goal3">
                III. ZPPI §10.(1)2) - <strong>nisu objavili opće akte i odluke</strong>
                na lako pretraživ način i u strojno čitljivom obliku.
            </label>
        </h2>

        <input class="houdini-input" type="radio" name="goals" id="part_3_goal3"
            <% if params["contact"] && params[:current_form] == 'zppi_3_10_1_2' %>checked<% end %>>
        <div class="houdini-target contact-page__options">
            <ul>
                <li>
                    <strong>Zakonska odredba III. ZPPI §10.(1):</strong> Tijela javne
                    vlasti obvezna su na internetskim stranicama na lako pretraživ
                    način i u strojno čitljivom obliku objavljivati:
                    <br>
                    <strong>2)</strong> opće akte i odluke koje donose, kojima
                    se utječe na interese korisnika, s razlozima za njihovo
                    donošenje.
                    (<a href="<%= zppi_text_path %>">NN 25/13. i 85/15.</a>)

                    <% if !@user %>
                      </li><li><%= link_to _("Sign in or sign up"), signin_path(:r => request.fullpath) %>
                        za slanje predstavke.
                    <% end %>

                    <% if @user %>
                      <%= foi_error_messages_for :contact %>
                      <%= render :partial => "help/zppi_3_10_1_2",
                                 :locals => { :form_id => 'zppi_3_10_1_2' } %>
                    <% end %>
                </li>
            </ul>
        </div>
        <!-- END -->

        <!-- START -->
        <h2 class="contact-page__goal" id="zppi_3_10_1_4">
            <label class="houdini-label" for="part_3_goal4">
              III. ZPPI §10.(1)2) - <strong>nisu objavili godišnje planove,
              programe, strategije, upute, izvješća o radu, financijska izvješća
              i druge o dokumente</strong>
              na lako pretraživ način i u strojno čitljivom obliku.
            </label>
        </h2>

        <input class="houdini-input" type="radio" name="goals" id="part_3_goal4"
            <% if params["contact"] && params[:current_form] == 'zppi_3_10_1_4' %>checked<% end %>>
        <div class="houdini-target contact-page__options">
            <ul>
                <li>
                    <strong>Zakonska odredba III. ZPPI §10.(1):</strong> Tijela javne
                    vlasti obvezna su na internetskim stranicama na lako pretraživ
                    način i u strojno čitljivom obliku objavljivati:
                    <br>
                    <strong>4)</strong> godišnje planove, programe, strategije,
                    upute, izvješća o radu, financijska izvješća i druge o
                    dgovarajuće dokumente koji se odnose na područje rada tijela
                    javne vlasti.
                    (<a href="<%= zppi_text_path %>">NN 25/13. i 85/15.</a>)

                    <% if !@user %>
                      </li><li><%= link_to _("Sign in or sign up"), signin_path(:r => request.fullpath) %>
                        za slanje predstavke.
                    <% end %>

                    <% if @user %>
                      <%= foi_error_messages_for :contact %>
                      <%= render :partial => "help/zppi_3_10_1_4",
                                 :locals => { :form_id => 'zppi_3_10_1_4' } %>
                    <% end %>
                </li>
            </ul>
        </div>
        <!-- END -->

        <!-- START -->
        <h2 class="contact-page__goal" id="zppi_3_10_1_5">
            <label class="houdini-label" for="part_3_goal5">
              III. ZPPI §10.(1)2) - <strong>nisu objavili registre i baze
              podataka</strong>
              na lako pretraživ način i u strojno čitljivom obliku.
            </label>
        </h2>

        <input class="houdini-input" type="radio" name="goals" id="part_3_goal5"
            <% if params["contact"] && params[:current_form] == 'zppi_3_10_1_5' %>checked<% end %>>
        <div class="houdini-target contact-page__options">
            <ul>
                <li>
                    <strong>Zakonska odredba III. ZPPI §10.(1):</strong> Tijela javne
                    vlasti obvezna su na internetskim stranicama na lako pretraživ
                    način i u strojno čitljivom obliku objavljivati:
                    <br>
                    <strong>5)</strong> registre i baze podataka ili informacije
                    o registrima i bazama podataka iz njihove nadležnosti i
                    načinu pristupa i ponovne uporabe.
                    (<a href="<%= zppi_text_path %>">NN 25/13. i 85/15.</a>)

                    <% if !@user %>
                      </li><li><%= link_to _("Sign in or sign up"), signin_path(:r => request.fullpath) %>
                        za slanje predstavke.
                    <% end %>

                    <% if @user %>
                      <%= foi_error_messages_for :contact %>
                      <%= render :partial => "help/zppi_3_10_1_5",
                                 :locals => { :form_id => 'zppi_3_10_1_5' } %>
                    <% end %>
                </li>
            </ul>
        </div>
        <!-- END -->

        <!-- START -->
        <h2 class="contact-page__goal" id="zppi_3_10_1_8">
            <label class="houdini-label" for="part_3_goal6">
              III. ZPPI §10.(1)2) - <strong>nisu objavili informacije o dodijeljenim bespovratnim
              sredstvima, sponzorstvima, donacijama ili drugim pomoćima</strong>
              na lako pretraživ način i u strojno čitljivom obliku.
            </label>
        </h2>

        <input class="houdini-input" type="radio" name="goals" id="part_3_goal6"
            <% if params["contact"] && params[:current_form] == 'zppi_3_10_1_8' %>checked<% end %>>
        <div class="houdini-target contact-page__options">
            <ul>
                <li>
                    <strong>Zakonska odredba III. ZPPI §10.(1):</strong> Tijela javne
                    vlasti obvezna su na internetskim stranicama na lako pretraživ
                    način i u strojno čitljivom obliku objavljivati:
                    <br>
                    <strong>8)</strong> informacije o dodijeljenim bespovratnim
                    sredstvima, sponzorstvima, donacijama ili drugim pomoćima,
                    uključujući popis korisnika i visinu iznosa.
                    (<a href="<%= zppi_text_path %>">NN 25/13. i 85/15.</a>)

                    <% if !@user %>
                      </li><li><%= link_to _("Sign in or sign up"), signin_path(:r => request.fullpath) %>
                        za slanje predstavke.
                    <% end %>

                    <% if @user %>
                      <%= foi_error_messages_for :contact %>
                      <%= render :partial => "help/zppi_3_10_1_8",
                                 :locals => { :form_id => 'zppi_3_10_1_8' } %>
                    <% end %>
                </li>
            </ul>
        </div>
        <!-- END -->

        <!-- START -->
        <h2 class="contact-page__goal" id="zppi_3_10_1_9">
            <label class="houdini-label" for="part_3_goal7">
              III. ZPPI §10.(1)2) - <strong>nisu objavili informacije o postupcima javne nabave,
              dokumentaciju potrebnu za nadmetanje, informacije o izvršavanju
              ugovora i druge informacije</strong>
              na lako pretraživ način i u strojno čitljivom obliku.
            </label>
        </h2>

        <input class="houdini-input" type="radio" name="goals" id="part_3_goal7"
            <% if params["contact"] && params[:current_form] == 'zppi_3_10_1_9' %>checked<% end %>>
        <div class="houdini-target contact-page__options">
            <ul>
                <li>
                    <strong>Zakonska odredba III. ZPPI §10.(1):</strong> Tijela javne
                    vlasti obvezna su na internetskim stranicama na lako pretraživ
                    način i u strojno čitljivom obliku objavljivati:
                    <br>
                    <strong>9)</strong> informacije o postupcima javne nabave,
                    dokumentaciju potrebnu za nadmetanje, informacije o izvršavanju
                    ugovora i druge informacije za koje postoji obveza objavljivanja
                    sukladno zakonu kojim se uređuje javna nabava.
                    (<a href="<%= zppi_text_path %>">NN 25/13. i 85/15.</a>)

                    <% if !@user %>
                      </li><li><%= link_to _("Sign in or sign up"), signin_path(:r => request.fullpath) %>
                        za slanje predstavke.
                    <% end %>

                    <% if @user %>
                      <%= foi_error_messages_for :contact %>
                      <%= render :partial => "help/zppi_3_10_1_9",
                                 :locals => { :form_id => 'zppi_3_10_1_9' } %>
                    <% end %>
                </li>
            </ul>
        </div>
        <!-- END -->

        <!-- START -->
        <h2 class="contact-page__goal" id="zppi_5_29_2_i">
            <label class="houdini-label" for="part_3_goal8">
              V. ZPPI §29.(2) - <strong>nisu odgovorili na zahtjev za ponovnu
              uporabu</strong> u propisanom roku.
            </label>
        </h2>

        <input class="houdini-input" type="radio" name="goals" id="part_3_goal8"
            <% if params["contact"] && params[:current_form] == 'zppi_5_29_2_i' %>checked<% end %>>
        <div class="houdini-target contact-page__options">
            <ul>
                <li>
                    <strong>Zakonska odredba V. ZPPI §29.(2):</strong> Tijelo javne
                    vlasti odlučit će o zahtjevu za ponovnu uporabu informacija
                    rješenjem u roku od 15 dana od dana podnošenja urednog zahtjeva.
                    Rješenje obvezno sadrži vrstu dozvole kojom se utvrđuju uvjeti
                    uporabe te visinu i način izračuna troškova.
                    (<a href="<%= zppi_text_path %>">NN 25/13. i 85/15.</a>)

                    <% if !@user %>
                      </li><li><%= link_to _("Sign in or sign up"), signin_path(:r => request.fullpath) %>
                        za slanje predstavke.
                    <% end %>

                    <% if @user %>
                      <%= foi_error_messages_for :contact %>
                      <%= render :partial => "help/zppi_5_29_2_i",
                                 :locals => { :form_id => 'zppi_5_29_2_i' } %>
                    <% end %>
                </li>
            </ul>
        </div>
        <!-- END -->

        <!-- START -->
        <h2 class="contact-page__goal" id="zppi_5_30_3">
            <label class="houdini-label" for="part_3_goal9">
                V. ZPPI §30.(3) - <strong>nisu obavijestili o nositelju prava
                intelektualnog vlasništva odnosno licencije</strong> od kojeg je
                tijelo javne vlasti dobilo odnosnu informaciju.
            </label>
        </h2>

        <input class="houdini-input" type="radio" name="goals" id="part_3_goal9"
            <% if params["contact"] && params[:current_form] == 'zppi_5_30_3' %>checked<% end %>>
        <div class="houdini-target contact-page__options">
            <ul>
                <li>
                    <strong>Zakonska odredba V. ZPPI §30.(3):</strong> Ako tijelo
                    javne vlasti odbije zahtjev za ponovnu uporabu zbog zaštite
                    prava intelektualnog vlasništva, dužno je obavijestiti
                    podnositelja o nositelju prava intelektualnog vlasništva,
                    ako je poznat, odnosno o nositelju licencije od kojeg je
                    tijelo javne vlasti dobilo odnosnu informaciju.
                    (<a href="<%= zppi_text_path %>">NN 25/13. i 85/15.</a>)

                    <% if !@user %>
                      </li><li><%= link_to _("Sign in or sign up"), signin_path(:r => request.fullpath) %>
                        za slanje predstavke.
                    <% end %>

                    <% if @user %>
                      <%= foi_error_messages_for :contact %>
                      <%= render :partial => "help/zppi_5_30_3",
                                 :locals => { :form_id => 'zppi_5_30_3' } %>
                    <% end %>
                </li>
            </ul>
        </div>
        <!-- END -->

        <!-- START -->
        <h2 class="contact-page__goal" id="zppi_5_31_6">
            <label class="houdini-label" for="part_3_goal10">
                V. ZPPI §31.(6) - <strong>nisu objavili dozvole kojima se određuju
                uvjeti ponovne uporabe</strong> u skladu sa standardnim
                otvorenim dozvolama.
            </label>
        </h2>

        <input class="houdini-input" type="radio" name="goals" id="part_3_goal10"
            <% if params["contact"] && params[:current_form] == 'zppi_5_31_6' %>checked<% end %>>
        <div class="houdini-target contact-page__options">
            <ul>
                <li>
                    <strong>Zakonska odredba V. ZPPI §31.(6):</strong> Tijelo
                    javne vlasti dužno je na svojoj internetskoj stranici
                    objaviti dozvole kojima se određuju uvjeti ponovne uporabe
                    ili poveznice na takve dozvole, u skladu sa standardnim
                    otvorenim dozvolama.
                    (<a href="<%= zppi_text_path %>">NN 25/13. i 85/15.</a>)

                    <% if !@user %>
                      </li><li><%= link_to _("Sign in or sign up"), signin_path(:r => request.fullpath) %>
                        za slanje predstavke.
                    <% end %>

                    <% if @user %>
                      <%= foi_error_messages_for :contact %>
                      <%= render :partial => "help/zppi_5_31_6",
                                 :locals => { :form_id => 'zppi_5_31_6' } %>
                    <% end %>
                </li>
            </ul>
        </div>
        <!-- END -->


        <!-- END CONTENT PART-3 -->
    <!-- END PART-3 -->



    <!-- START PART-2 -->
    <h3 class="contact-page" id="part_2">
      3) Dodatne predstavke za pravo na pristup informacijama.
    </h3>

        <!-- START CONTENT PART-2 -->



        <!-- END CONTENT PART-2 -->
    <!-- END PART-2 -->

</div>

<% else %>
<div class="learn-more-foi">
  <%= link_to _("Prijavite se za rad s predstavkama"), signin_path(:r => request.fullpath), :class => "button-secondary"  %>
</div>
<% end %>


</div>
