<% @title = "Prigovor na primjenu Zakona o pravu na pristup informacijama" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
<h1>Predstavka</h1>
<p>Svatko može podnijeti predstavku na rad tijela javne vlasti vezano uz primjenu
  Zakona o pravu na pristup informacijama. Radi se o slučajevima kada uočite da
  tijelo javne vlasti nepravilno primjenjuje ili uopće ne primjenjuje neku odredbu
  zakona. Kada ispunite ovaj obrazac, dostaviti ćemo vašu predstavku Povjereniku
  za informiranje koja može poslužiti kao osnova za inspekcijski nadzor.</p>
<p>
    Svaka <strong>predstavka treba sadržavati</strong>:
</p>
    <ul>
      <li><strong>Naziv tijela javne vlasti</strong> koje je predmet
        predstavke. Obavezno navedite naziv tijela javne vlasti kako
        bi podnesak bio valjan.</li>
      <li><strong>Počinjene nezakonitosti ili nepravilnosti</strong>
        u pravu na pristup informacijama. Podnositelj predstavke obavezno navodi
        zbog čega je nezadovoljan postupcima tijela javne vlasti vezano uz
        primjenu Zakona o pravu na pristup informacijama. Za lakšu upotrebu,
        sadržaj predstavke smo automatski ispunili. Možete izmjeniti tekst i
        napisati ako imate nešto za dodati vašem prigovoru. Ako nije automatski
        uključeno ispod obrasca, možete navesti link na vaš <%= site_name %>
        zahtjev ili na internetsku stranicu tijela javne vlasti s kojim ćete
        potkrijepiti vaš prigovor.</li>
    </ul>

<p>
    U vaš podnesak <strong>uključujemo sljedeće informacije</strong>:
</p>
    <ul>
      <li><strong>Link na zadnji zahtjev ili tijelo javne vlasti</strong> koji
        ste zadnje otvorili. Potvrdite vide li se ispod obrasca.</li>
      <li><strong>Link na vaš profil</strong> na <%= site_name %>.</li>
      <li><strong>Vaše ime i email adresu</strong> iz vašeg <%= site_name %>
        korisničkog računa kako bi vam inspektor Povjerenika za informiranje
        mogao dostaviti obavijest o provedenom nadzoru tijela.</li>
    </ul>


<% if @user %>

<div class="contact-page">

    <!-- START PART-1-->
    <dl>
      <dt id="part_1_test">
        1) Najčešće predstavke za pravo na pristup informacijama <a href="#part_1test">#</a>
      </dt>
    </dl>
    <h3 id="part_1">
      1) Najčešće predstavke za pravo na pristup informacijama <a href="#part_1">#</a>
    </h3>

    <!-- START -->
    <h2 class="contact-page__goal" id="zppi_5_20_1_test">
        <label class="houdini-label" for="goal1">
            V. ZPPI §20.(1) - <strong>nisu odgovorili na zahtjev za pristup
            informacijama</strong> u propisanom roku.
        </label>
    </h2>

    <input class="houdini-input" type="radio" name="goals" id="goal1"
        <% if params["foi_motion"] && params[:current_form] == 'zppi_5_20_1_test' %>checked<% end %>>
    <div class="houdini-target contact-page__options">
        <ul>
            <li>
                <strong>Zakonska odredba V. ZPPI §20.(1):</strong> Na temelju
                zahtjeva za pristup informaciji tijelo javne vlasti će odlučiti
                najkasnije u roku od 15 dana od dana podnošenja urednog zahtjeva.
                (<a href="<%= zppi_text_path %>">NN 25/13. i 85/15.</a>)<br>
                <strong>V. ZPPI §22.(1) i (2):</strong> Rokovi za ostvarivanje prava na
                pristup informaciji mogu se produžiti za 15 dana, računajući od
                dana kad je tijelo javne vlasti trebalo odlučiti o zahtjevu za pristup
                informaciji. (<a href="<%= zppi_text_path %>">NN 25/13. i 85/15.</a>)
            </li>
            <li>
                Više o tome pročitajte na stranicama pomoći: <a href="<%= help_requesting_path(:anchor =>
                'quickly_response') %>">U kojem roku će vaš zahtjev biti riješen?</a>

                <% if !@user %>
                  </li><li><%= link_to _("Sign in or sign up"), signin_path(:r => request.fullpath) %>
                    za slanje predstavke.
                <% end %>

                <% if @user %>
                  <%= foi_error_messages_for :foi_motion %>
                  <%= render :partial => "help/zppi_5_20_1_test",
                             :locals => { :form_id => 'zppi_5_20_1_test' } %>
                <% end %>
            </li>
        </ul>
    </div>
    <!-- END -->



</div>

<% else %>
<div class="learn-more-foi">
  <%= link_to _("Prijavite se za rad s predstavkama"), signin_path(:r => request.fullpath), :class => "button-secondary"  %>
</div>
<% end %>


</div>
