<% @title = "Pravila ponašanja" %>
<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <h1><%=@title %></h1>
  <h2>Kako koristiti i ponašati se na ovim internetskim stranicama</h2>
  <p>
    Kršenje bilo kojeg od dolje navedenih pravila vjerojatno će dovesti do
    suspenzije vašeg računa i više nećete moći podnositi zahtjeve ili
    komentare na <%= site_name %>.
  </p>
  <p>
    U nekim slučajevima kršenje ovih pravila može dovesti do toga da vlasti ili
    oštećena stranka protiv vas poduzmu pravne korake.
  </p>
  <p>
    Uz to, rad s prekršajima često oduzima znatnu količinu volonterskog vremena
    kako bi ih riješili te utječu na našu sposobnost pružanja usluge.
  </p>
  <ul>
    <li>
      Koristite <%= site_name %> samo da biste zatražili specifične podatke, a
      ne za opću korespondenciju s tijelima javne vlasti, a sigurno ne i za
      korespondenciju o vlastitim osobnim okolnostima.
    </li>
    <li>
      U svoje zahtjeve i komentare nemojte uključivati ​​potencijalno klevetnički
      ili uvredljivi sadržaj kao što su ogovaranje, omalovažavanje, vrijeđanje
      časti ili davanje izjave s ciljem stvaranja negativne slike.
    </li>
    <li>
      Ne objavljujte informacije koje su nezakonite, uznemiravajuće, klevetničke,
      uvredljive, prijeteće, štetne, opscene, diskriminatorne ili nepristojne.
    </li>
    <li>
      Ne koristite <%= site_name %> da biste zatražili vaše osobne podatke od
      tijela javne vlasti. Te podatke biste trebali zatražiti privatno putem
      prava na zaštitu osobnih podataka te vaša prava kao ispitanika, u postupku
      koji se razlikuje od zahtjeva za pravo na pristup javnim informacijama.
      Pogledajte <a href="https://web.archive.org/web/20210405081111/https://azop.hr/prava-ispitanika/">savjete Agencije
      za zaštitu osobnih podatka</a>.
    </li>
    <li>
      Poruke poslane putem naše usluge neka budu sažete i usredotočene na
      predmet zahtjeva za pristup informacijama. Poslušajte naš
      <%= link_to help_requesting_path(anchor: 'responsible') do -%>
        savjet o upućivanju odgovornih i učinkovitih zahtjeva.
      <% end %>
    </li>
    <li>
      Ne pokušavajte se lažno predstavljati.
    </li>
    <li>
      U vašim zahtjevima i komentarima ne upotrebljavajte jezik koji bi mogao
      nekoga uvrijediti.
    </li>
    <li>
      Ne šaljite neželjenu poštu (<i>spam</i>).
    </li>
    <li>
      Zahtjevi se moraju podnositi s malim i velikom slovima, tj. ne pišite cijeli
      sadržaj velikim slovima, ili cijeli sadržaj malim slovima (<%= site_name %>
      softver će to automatski otkriti).
    </li>
    <li>
      Ne zloupotrebljavajte pravo na pristup informacijama s podnošenjem zahtjeva
      bez ozbiljne svrhe ili koji su namijenjeni ometanju rada tijela javne vlasti.
      Povjerenik za informiranje ima
      <a href="https://web.archive.org/web/20210405080546/https://pristupinfo.hr/wp-content/uploads/2018/10/Smjernice-Primjena-odredbe-o-zlouporabi-prava.pdf">
      smjernice za zlouporabu prava</a>.
    </li>
    <li>
      Ne upotrebljavajte našu uslugu za traženje osobnih podataka drugih ljudi
      i nemojte ih uključivati ​​u zahtjeve, komentare ili daljnja postupanja,
      osim ako to nije potrebno za predmet prava na pristup informacjama.
    </li>
    <li>
      Ne nastojte izbjeći postupke administratora ove internetske stranice, na
      primjer stvaranjem novih korisničkih računa kako bi se izbjegla zabrana
      ili ograničenje količine poslanih zahtjeva ili ponovnim objavljivanjem
      materijala za koji znate da su ga uklonili moderatori.
    </li>
  </ul>
  <p>
    Kršenjem gornjih pravila riskirate zabranu korištenja internetske stranice
    i/ili uklanjanje vaših zahtjeva i komentara. U slučajevima kada je jasno da
    vaše namjere nisu zlonamjerne, prvo ćemo vas kontaktirati kako bismo vas
    savjetovali kako bolje koristiti ovu uslugu.
  </p>
  <div id="hash_link_padding"></div>
</div>
