<% @title = "Kako upravljamo internetskom stranicom" %>
<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <h1><%= @title %></h1>
  <p>
    <%= site_name %> vodi mala skupina posvećenih <a
    href="<%= help_credits_path(:anchor => 'volunteers') %>">volonter</a>
    koji imaju znanje i iskustvo o pravu na pristup informacijama i koji ga
    svojim radom podržavaju. Odluke o upravljanju stranicama donose ti volonteri,
    uz podršku <a href="<%= help_about_path(:anchor => 'who') %>">
    Code for Croatia vodeće ekipe i savjetnika</a>.
  </p>
  <h2>
    Načelo umjerenosti moderiranja
  </h2>
  <p>
    Bilo bi nemoguće da volonterska ekipa <%= site_name %> moderira sve zahtjeve
    i odgovore prije nego što se pojave na internetskoj stranici. Uklonit ćemo
    neprikladne sadržaje (oni koji su u suprotnosti s našim <a
    href="<%= help_house_rules_path %>">pravilima ponašanja</a>) nakon što
    budemo obaviješteni o prekršaju, postupak poznat pod nazivom reaktivno
    moderiranje.
  </p>
  <p>
    Ova je pravilo u skladu s pristupom koji koriste glavni izdavači, poput
    BBC-a i Guardiana. Ključni razlog zašto pristupamo ovom pristupu je smanjenje
    odgovornosti za sadržaj koji korisnici objavljuju na našoj internetskoj
    stranici; ovo je nešto što moramo učiniti zbog značajnog financijskog
    rizika koji su povezani s nama ako se smatra da objavljujemo klevetnički
    materijal.
  </p>
  <p>
    Kada uklonimo potencijalno klevetnički materijal s naše internetske stranice,
    ne preispitujemo je li to točno ili nije, zato jer nemamo resurse da to
    detaljno proispitujemo i istražujemo.
  </p>
  <h2>
    Što se događa kada je zahtjev prijavljen?
  </h2>
  <p>
    Korisnici prijavljuju sadržaj na <%= site_name %> za široki spektar problema.
    Neki od njih su:
  </p>
  <ul>
    <li>
      Osobni podaci koji su slučajno objavljeni
    </li>
    <li>
      Potencijalno klevetnički ili uvredljivi sadržaj objavljen na internetskoj stranici
    </li>
    <li>
      Materijal zaštićen autorskim pravima
    </li>
    <li>
      Zloupotreba prava na pristup informacijama
    </li>
    <li>
      Nevažeći zahtjevi, odnosno zahtjevi koji nisu zahtjevi za pravo na pristup informacijama
    </li>
  </ul>
  <h3>
    Pravila kao smjernice
  </h3>
  <p>
    Naša su pravila nastala na temelju razmatranja i rasprave slučajeva u
    kojima pravi postupak nije bio očit.
  </p>
  <p>
    Ta pravila nisu zapisana u kamenu. Često se javljaju nove i nepredviđene
    okolnosti, iako naša pravila i praksa pomažu u donošenju odluka, bilo koji
    uključeni volonter <%= site_name %>, član ili savjetnik Code for Croatia
    slobodno može sugerirati da je ispravno u određenom slučaju učiniti iznimku
    i/ili kreirati novo pravilo.
  </p>
  <p>
    Da bi razgovarali o tome kako poduzeti mjere u određenom slučaju koji nije
    jednostavan, osoblje portala započinju raspravu putem e-pošte među ekipom
    drugih volontera i određenim Code for Croatia članovima. Diskusija među ovom
    skupinom tada dovodi do dogovorenog postupka koji će se primjeniti na
    specifičnu situaciju.
  </p>
  <h3>
    Uklanjanje informacija
  </h3>
  <p>
    <strong>Naša je zadaća zadržati javne podatke na internetu.</strong>
    <%= site_name %> je stalna, javna arhiva zahtjeva za pristup informacijama.
    Iako vam odgovor na vaš zahtjev možda više neće biti koristan, on bi mogao
    biti zanimljiv drugima. Iz tog razloga, naš glavni cilj nije uklanjanje
    zahtjeva za javnim informacijama i njihovih odgovora.
  </p>
  <p>
    <strong>Međutim, brzo djelujemo kako bismo uklonili problematične podatke.</strong>
    Čim zaprimimo obavijest, osoblje portala će poduzeti hitne mjere za
    uklanjanje takvih podataka.
  </p>
  <p>
    Nisu svi zahtjevi za uklanjanje podataka s internetske stranice jednostavni.
    Kada nije odmah očito da li su podaci na primjer klevetničke ili uvredljive
    prirode, volonterska ekipa nastoji od podnositelja prigovora dobiti daljnje
    informacije kako bi u potpunosti razumjeli koji su ih podaci zabrinuli i
    što podnositelj smatra problemom u tome što su takvi podaci objavljeni.
  </p>
  <p>
    Naša ekipa uvijek traži da podnositelj pritužbe svoje objašnjenje pošalje
    e-poštom, tako da postoji pisani zapisnik. Po primanju dovoljnih podataka,
    raspravljamo o tome hoćemo li ukloniti podatke s javne internetske stranice,
    a gdje postoji izniman slučaj uključujemo u raspravu širu internu skupinu,
    uključujući Code for Croatia vodstvo i savjetnike putem e-pošte. Ako se
    dogovorimo ukloniti neki sadržaj, obično ćemo zatražiti novi ispravljeni
    odgovor od nadležnog tijela javne vlasti sa svim izvornim sadržajem ali
    bez za problematičnog dijela.
  </p>
  <p>
    Ako se sporazum ne može postići iz bilo kojeg razloga, glavno vodstvo
    Code for Croatia i izvršno direktorstvo Gonga biti će konačni arbitrari.
  </p>
  <p>
    <strong>
      Slučajno objavljeni osobni podaci
    </strong>
  </p>
  <p>
    Ponekad tijela javne vlasti slučajno objave osobne podatke, kršeći time
    nadležne zakone o zaštiti osobnih podataka. Nakon što administrativna ekipa
    zaprimi obavijest/žalbu na slučajno objavljivanje osobnih podataka,
    slijedi ovaj postupak:
  </p>
  <ul>
    <li>
      Prva osoba koja vidi žalbu za slučajno objavljivanje osobnih podataka
      započet će skrivanjem minimalne količine podatka potrebnog za uklanjanje
      problema. Nastojimo da ova internetska stranica bude transparentna što je
      više moguće, tako da će problematični podaci biti zamijenjeni objašnjenjem
      poput "[uklonjeni osobni podaci]", a možemo dodati internu napomenu koja
      objašnjava nastali problem i poduzete radnje.
    </li>
    <li>
      Ako je tehnički teško odvojiti pravilno objavljeni sadržaj od onoga koji
      treba ukloniti, tražimo od tijela javne vlasti da dostave novi odgovor.
    </li>
    <li>
      U slučaju ozbiljnog kršenja zakona, predlažemo da se tijelo samo prijavi
      nadležnoj instituciji za provedbu tog zakona (npr. Povjereniku za
      informiranje - PI ili Agenciji za zaštitu osobnih podataka - AZOP). Ako
      tijelo ne prizna kršenje podataka, mi ćemo kontaktirati nadležnu
      instituciju.
    </li>
  </ul>
  <p>
    Da bi se sadržaj uklonio s internetske stranice, to mora biti stvarno
    slučajna objava, a ne preispitivanje ili promjena mišljenja u vezi s
    objavljenim informacijama.
  </p>
  <p>
    Ozbiljne povrede prava na zaštitu osobnih podataka mogu se prijaviti AZOP-u;
    njihove smjernice o tome što se smatra povredom prava navedena su na <a
    href="http://web.archive.org/web/20210405081230/https://azop.hr/zahtjev-za-utvrdivanje-povrede-prava/">
    njihovoj internetskoj stranici</a>.
  </p>
  <p>
    <strong>
      Potencijalno klevetnički ili uvredljivi sadržaj
    </strong>
  </p>
  <p>
    Nažalost, neki ljudi koriste <%= site_name %> za objavljivanje potencijalno
    klevetničkog ili uvredljivog sadržaja. Poduzimamo mjere nakon što zaprimimo
    obavijest da uklonimo takav sadržaj. Međutim, također pokušavamo postići
    ravnotežu: ne uklanjamo podatke nepotrebno ako vjerujemo da je njihovo
    objavljivanje u javnom interesu ili ako mislimo da postoji snažan razlog u
    hrvatskom zakonodavstvu koji podupire takvu objavu.
  </p>
  <p>
    Na primjer, u nekim smo okolnostima spremni objaviti:
  </p>
  <ul>
    <li>
      Potencijalno klevetničke sadržaje zahtjeva a koji se odnose na učinak i
      ponašanje tijela javne vlasti.
    </li>
    <li>
      Zahtjeve za dostavu žalbi i informacija o radu službenih djelatnika
      kao što su policajci, liječnici i socijalni radnici.
    </li>
  </ul>
  <p>
    Kao i kod osobnih podataka, tamo gdje odluka o tome što učiniti nije jasna,
    razgovaramo o tome sa <a href="<%= help_about_path(:anchor => 'who') %>">
    širom internom skupinom</a>, uključujući izvršno vodstvo i savjetnike Code
    for Croatia.
  </p>

  <p>
    <strong>
      Zahtjevi za uklanjanje komercijalnih podataka
    </strong>
  </p>
  <p>
    Zahtjevi za uklanjanje po pitanjima kao što su komercijalno osjetljivi podaci
    i povjerljivi podaci kao što su ugovori su rijetki, ali važni. Njih rješavamo
    individualno od slučaja do slučaja, a vodstvo i savjetnici u konačnici
    procjenjuju pravni rizik objavljivanja takvih podataka.
  </p>
  <p>
    Zakon koji zabranjuje povredu povjerenja naša je glavna briga u takvim slučajevima.
  </p>
  <p>
    <strong>
      Autorska prava
    </strong>
  </p>
  <p>
    Dozvoljeno je tražiti materijal zaštićen autorskim pravima prema Zakonu o
    pravu na pristup informacija (ZPPI).
  </p>
  <p>
    Ponekad zaprimamo zahtjeve za uklanjanje podataka radi autorskih prava od
    tijela javne vlasti ili od nekoga tko posjeduje komercijalna ili druga
    autorska prava za podatke objavljene na <%= site_name %>.
  </p>
  <p>
    Iako su mnogi odgovori popraćeni obaviješću u kojoj piše da je pruženi
    materijal zaštićen autorskim pravima, uzimamo u obzir uklanjanje sadržaja
    samo nakon što kontaktiramo podnositelja prijave.
  </p>
  <p>
    U tim slučajevima imamo na umu da naš Zakon o pravu na pristup informacijama
    dozvoljava da svatko u svijetu može zatražiti isti dokument i dobiti njegovu
    kopiju. Također želimo uštedjeti novac poreznih obveznika sprečavanjem
    dupliciranih zahtjeva.
  </p>
  <p>
    <strong>
      Kako rješavamo zloupotrebu prava na pristup informacijama?
    </strong>
  </p>
  <p>
    S naše internetske stranice uklanjamo predmet koji zloupotrebljava pravo
    na pristup informacijama kada nam netko skrene pažnju na takav slučaj.
  </p>
  <p>
    Pri utvrđivanju da li predmet zloupotrebljava pravo na pristup informacijama
    (bez ozbiljne svrhe ili koji su namijenjeni ometanju rada tijela javne vlasti),
    donosimo neovisnu prosudbu uzimajući u obzir
    <a href="https://web.archive.org/web/20210405080546/https://pristupinfo.hr/wp-content/uploads/2018/10/Smjernice-Primjena-odredbe-o-zlouporabi-prava.pdf">
    smjernice Povjerenika za informiranje</a>.
  </p>
  <p>
    <strong>
      Kako postupamo sa zahtjevima koji nisu važeći?
    </strong>
  </p>
  <p>
    Kada nam netko prijavi i skrene pažnju na nevažeće zahtjeve, uklanjamo
    svaku korespondenciju s naše internetske stranice koja nije zahtjev za
    pristup informacijama na koje ne očekujemo odgovor s dostavom javnih
    informacija.
  </p>
  <p>
    Velika većina nevažećih "zahtjeva" zapravo uopće nisu zahtjevi za pristup
    informacijama već prepiska koja se odnosi na vlastite okolnosti odnosno
    privatni predmet kod tijela javne vlasti pokriven drugim propisima.
  </p>
  <p>
    Upućujemo korisnike koji podnose zahtjeve za vlastite privatne predmete na
    <a href="http://web.archive.org/web/20210405081111/https://azop.hr/prava-ispitanika/">smjernice
    o podnošenju zahtjeva za pristup vlastitim informacijama prema nadležnim
    zakonima o zaštiti osobnih podataka</a> i pokušavamo pomoći drugima da
    pronađu prikladniji način za kontaktiranje tijela javnih vlasti.
  </p>
  <p>
    <strong>
      Zašto iz odgovora uklanjamo adrese e-pošte i brojeve mobitela?
    </strong>
  </p>
  <p>
    Da bismo zaštitili sve strane od neželjene pošte i potaknuli zadržavanje
    sve korespondencije na <%= site_name %>, automatski uklanjamo većinu adresa
    e-pošte i neke brojeve mobitela iz odgovora na zahtjeve. Iz tehničkih razloga
    ne uspijevamo ih uvijek ukloniti iz privitaka, poput određenih PDF-ova.
  </p>
  <p>
    Budući da naš servis automatski uklanja e-mail adrese i brojeve mobilnih
    telefona iz odgovora, to nije pogodno za zahtjeva gdje je tražen kontakt
    e-pošte - ali ako morate znati adresu koju smo uklonili, molimo da <a href="<%=  help_contact_path %>">
    stupite u kontakt</a> s nama. Povremeno adresa e-pošte čini važan dio odgovora i ako se
    od nas zatraži da je otkrijemo, možemo je objaviti u komentaru.
  </p>
  <p>
    <strong>
      Kako postupamo sa zahtjevima koji nisu uspješno poslani?
    </strong>
  </p>
  <ul>
    <li>
      Administratorska ekipa reagira te će ponovno poslati zahtjeva ili poruku
      kada uočimo neuspješnu dostavu u razumnom roku nakon što je korisnik
      predao zahtjev.
    </li>
    <li>
      Tijelo javne vlasti ili podnositelj zahtjeva može zatražiti od nas da
      ponovno pošaljemo određenu poruku i obično ćemo to učiniti.
    </li>
    <li>
      Načelno ne šaljemo vrlo staru prepisku, na primjer ako je došlo do
      neuspjeha u isporuci koji je prošao nezapaženo već duži niz mjeseci i ako
      postoji jasna poruka o odbijanju ili pogrešci zahtjev može biti označen
      kao "povučen" na temelju napuštanja, ili označen kao da još uvijek čeka
      odgovor.
    </li>
  </ul>
  <p>
    <strong>
   Backpage - ograničeni predmeti
 </strong>
</p>
 <p>
   Administratori mogu napraviti "backpage" cijelog predmeta zahtjeva, što znači
   da je stranica zahtjeva dostupna onima koji imaju izravnu vezu do nje, ali nije
   uključena u popise zahtjeva ili rezultate pretraživanja na internetskoj stranici.
 </p>
 <p>
   Kada se zahtjev na <%= site_name %> doda "backpage" mjenjaju se meta oznake
   u zaglavlju stranice zahtjeva i povezane privitke kako bi se zatražilo od
   vanjskih tražilica da ne indeksiraju tu stranicu i sadržaj. Ova se značajka
   rijetko koristi, ali nam može pomoći da nastavimo s objavljivanjem materijala
   koji bismo inače uklonili.
 </p>
 <p>
   Backpage ograničenje predmeta smanjuje utjecaj naše publikacije, na primjer
   može se koristiti da bi se povećala vjerojatnost da naši interesi za obradu i
   objavljivanje sadržaja nadmašuju bilo kakav negativan utjecaj na one čiji su
   osobni podaci uključeni.
 </p>
    <h2>
      Osoblje portala
    </h2>
  <p>
    Osoblje portala <%= site_name %> čine volonteri koji su ujedno i aktivni
    korisnici portala.
  </p>
  <p>
    Volontere nadgledaju i podučavaju njihovi kolege volonteri te Code for
    Croatia i Gong. Budući da su oni distribuirana organizacija, to se događa
    putem mjesečnih <%= site_name %> koordinacijskih sastanaka te prema potrebi
    putem e-pošte ili pojedinačnih sastanaka. Rad volontera na internetskoj
    stranici i e-pošti vidljiva je ostalim članovima volonterske ekipe, kao i
    pojedincima iz Code for Croatia i Gonga, a svatko može dati prijedloge
    za drugačije postupanje.
  </p>
  <p>
    Kada novi volonter započne, od njih se traži da se slože s uvjetima sporazuma
    o volontiranju i pravilima o zadržavanju <%= site_name %> podataka. Ovisno o
    prirodi njihovog volontiranja, mogu imati uvodni poziv ili sastanak s trenutnim
    volonterom ili s članom voditeljske ekipe Code for Croatia.
  </p>
  <p>
    Volonteri koji će aktivno administrirati internetskom stranicom bit će
    zamoljeni da se pridruže pozivu u kojem trenutni volonter demonstrira upotrebu
    <%= site_name %> administrativnog sučelja. Ako se osjećaju samopouzdano,
    tek tada im se može omogućiti pristup administracijskom sučelju.
  </p>
  <h2>
      Korisnički računi
  </h2>
  <p>
    Ako se prijavite za korisnički račun na <%= site_name %>, profil s popisom
    svih zahtjeva i komentarima koje ste postavili bit će javno dostupan.
  </p>
  <p>
    <strong>
      Zahtjevi za uklanjanje ili anonimiziranje računa
    </strong>
  </p>
  <p>
    Mislimo da dobro napisani zahtjevi za pristup informacijama o važnim temama
    predstavljaju pozitivan element bilo čijeg "mrežnog otiska". Nadamo se da se
    evidencija naših korisnika na <%= site_name %> dobro odražava na njih i da
    ne bi trebalo biti nešto za što osjećaju potrebu da zatraže uklanjanje.
  </p>
  <p>
    Usprkos tome, na zahtjev ćemo promijeniti korisničko ime računa u "ime
    uklonjeno" i pokušati ukloniti korisničko ime tamo gdje se nalazi u običnom
    tekstu prepiske. Kada poduzmemo takve radnje, suspendiramo dotični račun i
    sprječavamo njegovu daljnju upotrebu jer ne želimo da ljudi komuniciraju s
    tijelima javne vlasti putem naše web stranice pod imenom "ime uklonjeno".
    Korisnici čiji su računi anonimizirani na ovaj način mogu se ponovno
    prijaviti s novim računom za buduću upotrebu naše stranice.
  </p>
  <p>
    Ako račun nije korišten za objavljivanje bilo čega (zahtjeva ili komentara),
    njegovo uklanjanje očito nije problematično i to radimo na zahtjev.
  </p>
  <p>
    Ne uklanjamo velike količine zahtjeva za pristup informacijama i odgovore
    osim u iznimnim okolnostima, kao što je slučaj kada to nalaže zakon. Mi,
    poput tijela javne vlasti koja vode upisnik, ne smatramo osobni podacima
    anonimne korespodencije zahtjeva i odgovora korisnika.
  </p>
  <p>
    <strong>
      Zabrana korištenja - suspenzija
    </strong>
  </p>
  <p>
    Korisnicima koji su ustrajni u zloupotrebi naše usluge (npr. kršenje <a
    href="<%= help_house_rules_path %>">pravila ponašanja</a>)
    zabranjujemo daljnje korištenje funkcionalnosti portala. Zabrana ili
    suspendiranje korisnika krajnje je sredstvo; ako je moguće, <%= site_name %>
    volonterska ekipa savjetuje korisnike o tome kako koristiti našu uslugu na
    prihvatljiv način. Ove se smjernice daju putem e-pošte ili komentara. Ako
    korisnik nastavi zlorabiti uslugu nakon takvih intervencija, njegov račun
    dobiti će zabranu korištenja. Zabrane bez upozorenja mogu se koristiti u
    slučajevima kada se usluga ne koristi ozbiljno, npr. neželjeni računi ili u
    slučajevima ozbiljne zlouporabe. Nakon što je račun zabranjen, <%= site_name %>
    volonterska ekipa korisniku piše kako bi objasnili razloge koji su doveli do
    te odluke.
  </p>
</div>
