<% @title = "Informazioni per le amministrazioni" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

<h1 id="officers"><%= @title %> <a href="#officers">#</a> </h1>

<dl>

<dt id="top">Lavoro per un'amministrazione e sono arrivato/a qui dal link contenuto in una richiesta di accesso. Che succede? <a href="#top">#</a> </dt>

<dd><p><%= site_name %> è un servizio gestito da una ONG. Aiutiamo i cittadini a fare richieste di accesso e a spedirle alle amministrazioni, oltre a tenere traccia delle risposte e a creare un archivio pubblico. </p>

<p>La richiesta di accesso che hai ricevuto è stata fatta da un utente di <%= site_name %>. Puoi semplicemente rispondere come a una qualunque altra richiesta di accesso.
L'unica differenza è che la tua risposta verrà pubblicata automaticamente sul sito.
</p>
<p>Se hai dubbi riguardo la tua privacy, leggi qui sotto.
Puoi leggere anche <a
href="/help/about">le informazioni di base di <%= site_name %></a> per saperne di più dal punto di vista dell'utente. 
Puoi anche cercare sul sito l'amministrazione per cui lavori, vedere chi ha inviato richieste e le eventuali risposte.

<p>Infine, se hai commenti o suggerimenti, non esitare a <a href="/help/contact">scriverci</a>.
</p>
</dd>

<dt id="responses">Perché pubblicate le risposte alle richieste? <a href="#responses">#</a> </dt>

<dd>Ci sono molti aspetti positivi. Innanzitutto, questo spinge i cittadini a informarsi di più e meglio sul lavoro della Pubblica Amministrazione. 
Speriamo anche che questo eliminerà i duplicati, riducendo la mole di lavoro per chi risponde. 
<p></p>Inoltre dato che l'accesso agli atti riguarda informazioni pubbliche richieste da cittadini, non vediamo perché le risposte non debbano essere pubbliche!
</dd>

<dt id="realpeople">Ma chi fa le richieste... sono persone vere? <a href="#realpeople">#</a> </dt>

<dd>Certo! Per poter tenere traccia delle risposte, il sistema genera un indirizzo unico per ogni richiesta. 
Ad ogni modo ogni utente deve prima registrarsi con nome e email che provvediamo a verificare. 
Sul sito puoi trovare tutte le richieste fatte dai singoli utenti.
</dd>

<dt id="vexatious">Ma non starete mandando troppe richieste? <a href="#vexatious">#</a> </dt>

<dd><p><%= site_name %> non sta inviando un gran numero di richieste. Quelle che vengono spedite sono inviate per conto dei cittadini che le fanno.
Inoltre, dato che tutte le richieste vengono pubblicate, è più semplice rendersi conto se qualcuno sta mandando un gran numero di richieste senza fondamento.</p>
</dd>

<dt id="spam_problems">Su <%= site_name %> vedo una richiesta per l'amministrazione per cui lavoro, ma non abbiamo ricevuto nessuna email!<a href="#spam_problems">#</a> </dt>

<dd><p>Se una richiesta compare sul sito vuol dire che abbiamo provato a inviarla.
Eventuali messaggi di errore verranno mostrati sul sito. Puoi controllare l'indirizzo sulla pagina relativa all'amministrazione per cui lavori. 
<a href="/help/contact">Contattaci</a> per segnalarci eventuali modifiche dell'indirizzo.</p>
<p>A volte le richieste non vengono ricevute per via dei filtri spam delle caselle di posta. 
Contattate i tecnici del vostro ufficio affinché mettano in "whitelist" i messaggi provenienti da <strong>@<%= AlaveteliConfiguration::incoming_email_domain %></strong>.
Se ce lo <a href="/help/contact">segnali</a> rispediremo le richieste e ti daremo ulteriori informazioni sulla spedizione, in modo da capire cosa è successo.
</p>
<p>Infine: puoi rispondere a tutte le richieste via web senza email, usando il tasto "Rispondi alla richiesta" che si trova alla fine di ogni pagina con una richiesta. 
</dd>

<dt id="days">Come sono calcolate le scadenze che sono sulle varie pagine?<a href="#days">#</a> </dt>

<dd>
<p>La legge sull'accesso n.241/90 stabilisce che la risposta debba arrivare entro 30 giorni solari dalla richiesta</p>

<p>Se ci sono motivazioni per cui la risposta può richiedere una quantità maggiore di tempo, sarebbe utile spedire una breve email segnalandolo e spiegandone le motivazioni.
</p>

<p>Chi risponde alle richieste di accesso spesso deve <strong>fare un lavoro specifico</strong> di ricerca per rispondere, cosa che i cittadini spesso non immaginano. 
Pensiamo che mostrare questo tipo di lavoro e le difficoltà ad esso associate aiuti tutti.</p>

</dd>

<dt id="large_file">Posso spedire allegati pesanti che non riuscirei a spedire via email?<a href="#large_file">#</a> </dt>

<dd>Puoi rispondere a una richiesta usando la pagina web e puoi anche allegare documenti. 
Per farlo vai alla fine della pagina e clicca su "rispondi alla richiesta". 
<a href="/help/contact">Contattaci</a> se l'allegato fosse particolarmente pesante (superiore ai 50Mb).
</dd>

<dt id="names">Perché pubblicate le email e i nomi di chi risponde? <a href="#names">#</a> </dt>

<dd>Consideriamo il clavoro degli impiegati nella pubblica amministrazione come informazione pubblica. 
In casi eccezionali, tuttavia, elimineremo alcune informazioni qualora fosse necessario. Leggi la nostra <a href="/help/privacy#takedown">policy</a> a questo riguardo.
</dd>

<dt id="mobiles">Pubblicate indirizzi email o numeri di telefono?<a href="#mobiles">#</a> </dt>

<dd><p>Per prevenire lo spam rimuoviamo automaticamente email e numeri di telefono. <a href="/help/contact">Segnalaci</a> se qualcuno fosse sfuggito.
Per ragioni tecniche non sempre li rimuoviamo dagli allegati, specie dai file in formato .pdf</p>
<p>Se hai bisogno di visualizzare un indirizzo email che è stato rimosso, <a
  href="/help/contact">scrivivi</a>. A volte un indirizzo email può essere importante ai fini della risposta: in quel caso lo pubblicheremo in un formato speciale sotto forma di annotazione alla risposta.
</dd>

<dt id="copyright"><a name="commercial"></a>E allora il copyright?<a href="#copyright">#</a> </dt>

<dd>Le nostre richieste di accesso sono progettate pensando che chiunque può chiedere le stesse informazioni.

Se pensi che pubblicare alcuni documenti crei problemi di copyright, <a href="/help/contact">contattaci</a> e segnalacelo.
A ogni modo, non consigliamo di farlo.
</dd>

</dl>


<div id="hash_link_padding"></div>


</div>
