<% @title = "Vaša privatnost" %>
<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <h1 id="privacy"><%= @title %> <a href="#privacy">#</a> </h1>

  <p>
    <%= site_name %> vode neformalna inicijativa građana Code for Croatia i
    organizacija civilnog društva Gong.
  </p>
  <p>
    Za sve detalje o strukturi, upravljanju i drgim relevantnim informacijama
    o nama pogledajte: <a href="https://imamopravoznati.org/help/about#who">Tko
    čini <%= site_name %>?</a>.
  </p>
  <p>
    Našim radom oko tema transparentnosti i odgovornosti, imamo na umu i brinemo
    o privatnosti i sigurnosti naših korisnika: duljina ovih pravila o
    privatnosti jedan je od rezultata. Međutim, znamo da nitko ne provodi
    pravila privatnosti iz zabave, pa smo se potrudili da budu jasna i
    razumljiva svima.
  </p>
  <p>
    Nadamo se da ova pravila pokrivaju sve što trebate znati o privatnosti, ali
    ako i dalje imate pitanja, slobodno nas <a
    href="https://imamopravoznati.orghelp/contact">kontaktirajte</a>.
  </p>

  <h2 id="personal_information">
    Koje osobne podatke prikupljamo
    <a href="#personal_information">#</a>
  </h2>

  <h3 id="personal_information_foi">
    Kada podnesete zahtjev
    <a href="#personal_information_foi">#</a>
  </h3>
  <p>
    Korištenjem <%= site_name %> za slanje zahtjeva za pristup informacijama,
    dajete nam sljedeće osobne podatke:
  </p>
  <ul>
    <li>Vaše ime i prezime</li>
    <li>Vašu e-mail adresu</li>
    <li>Vašu IP adresu</li>
  </ul>
  <p>
    Neki od ovih podataka prosljeđuju se tijelu javne vlasti koje zaprima vaš
    zahtjev i objavljeno je na internetskoj stranici.
  </p>
  <p>
    Na ovoj stranici pronaći ćete objašnjenja:
  </p>
  <ul>
    <li>što radimo sa svakom vrstom informacija</li>
    <li>tko ih vidi</li>
    <li>kako se koriste</li>
    <li>koliko ih dugo zadržavamo</li>
    <li>naši protokoli za izmjenu ili uklanjanje informacija</li>
    <li>
      što učiniti ako ste nezadovoljni načinom na koji smo postupali s vašim
      podacima
    </li>
  </ul>

  <h3 id="personal_information_contact">
    Kada pošaljete e-mail na <%= site_name %> putem našeg obrasca za kontakt,
    izravno ili putem organizacija
    <a href="#personal_information_contact">#</a>
  </h3>
  <p>
    E-mail podrške obrađuje <%= site_name %> volonterska ekipa putem središnjeg
    poštanskog sandučića kojem moraju pristupiti poštujući naše stroge sigurnosne
    protokole.
  </p>
  <p>
    Kao i kod bilo koje druge e-pošte, ovo rezultira zadržavanjem vaše adrese
    e-pošte i, ako je navedeno, vašeg imena, zajedno sa sadržajem vaše poruke.
  </p>

  <h2 id="personal_information_who">
    Tko može vidjeti vaše osobne podatke
    <a href="#personal_information_who">#</a>
  </h2>

  <h3 id="name">
    Vaše ime i prezime
    <a href="#name">#</a>
  </h3>

  <p>
    Kada podnesete zahtjev za pristup informacijama putem <%= site_name %>, vaše
    ime i prezime (odnosno <a href="https://imamopravoznati.org/help/privacy#real_name">naziv
    koji ste koristili prilikom slanja zahtjeva</a>) je:
  </p>

  <ol type="a">
    <li>poslano tijelu javne vlasti, i</li>
    <li>javno objavljeno na internetskoj stranici zajedno sa zahtjevom.</li>
  </ol>

  <p>
    Pogledajte <a href="https://imamopravoznati.org/help/privacy#public_request">
    ovaj paragraf</a> za više informacija o tome zašto javno objavljujemo ove
    informacije.
  </p>

  <h3 id="email_address">
    Vaša e-mail adresa
    <a href="#email_address">#</a>
  </h3>
  <p>
    Vašu adresu e-pošte ne šaljemo tijelima javne vlasti niti je objavljujemo na
    internetskoj stranici. <%= site_name %> automatski generira
    @imamopravoznati.org e-mail adresu specifičnu za svaki zahtjev - vaša će
    poruka imati ovu adresu pošiljatelja 'od', a ujedno je i adresa na koju će
    tijelo javne vlasti poslati odgovor.
  </p>
  <p>
    Kad javno tijelo odgovori putem ove prilagođene adrese e-pošte, njihov se
    odgovor objavljuje na stranici vašeg zahtjeva na <%= site_name %>.org.
    Istovremeno, naš sustav će vam poslati poruku na adresu e-pošte koju ste
    naveli prilikom izrade zahtjeva ili u vašem korisničkom profilu kako bi vas
    obavijestili da je stigao odgovor: i ovo je automatiziran postupak.
  </p>
  <p>
    Dakle, vaša adresa e-pošte uglavnom se čuva privatnom. Postoje dvije iznimke.
    Prvo, administratori internetske stranice mogu pristupiti vašoj adresi e-pošte
    u procesu administriranja internetske stranice i mogu se koristiti vašom
    adresom e-pošte kako bi vas kontaktirali u vezi s korištenjem internetske
    stranice. Također povremeno kontaktiramo korisnike koji su uputili posebno
    zanimljiv zahtjev, jer o njima volimo pisati na našem blogu.
  </p>
  <p>
    Zatim, ako pošaljete poruku drugom korisniku na internetskoj stranici, vaša
    e-mail adresa podijeliti će se s primateljem privatne poruke. Dobiti ćete
    upozorenje o tome prije nego što pošaljete privatnu poruku drugom korisniku.
  </p>
  <p>
    Nećemo otkriti vašu adresu e-pošte nikome drugome, osim ako to nismo obvezni
    zakonom ili ako nas vi to zatražite.
  </p>
  <h4>
    Hoće li se vaš e-mail koristiti u bilo koje druge svrhe?
  </h4>
  <p>
    Ne. Nakon što se prijavite na <%= site_name %>, slati ćemo vam samo e-poštu
    koja se odnosi na vaš zahtjev, upozorenja e-poštom za koje ste se prijavili
    ili iz drugih razloga koje izričito autorizirate. Nikada nećemo davati ili
    prodavati vašu adresu e-pošte nikome drugome, osim ako to nismo obvezni
    zakonom ili ako nas vi to zatražite.
  </p>
  <p>
    U teoriji, neželjenu poštu možete zaprimiti putem funkcije privatne poruke
    ('pošalji ovom korisniku e-mail'). Zlouporaba ove usluge nije česta i bilo
    koju poruku koju smatrate neprimjerenom možete nam prijaviti putem <a
    href="https://imamopravoznati.org/help/contact">kontakt obrasca</a>. Nakon
    razmatranja možemo suspendirati korisnike koji su zloupotrijebili ovu uslugu.
  </p>

  <h3 id="request">
    Vaš zahtjev
    <a href="#request">#</a>
  </h3>
  <p>
    Vaš zahtjev šalje se tijelu javne vlasti od kojeg tražite informacije.
    Istodobno je objavljen na ovoj internetskoj stranici gdje ga svatko može
    vidjeti.
  </p>

  <h3 id="ip_address">
    Vaša IP adresa
    <a href="#ip_address">#</a>
  </h3>
  <p>
    IP adresa povezana s vašom upotrebom internetske stranice (koja može, ali ne
    mora biti dovoljna za vašu identifikaciju, ovisno o okolnostima), automatski
    se bilježi u naše dnevnike zapisa. Obično je nitko neće vidjeti - pogledajte
    <a href="#our_logging">paragraf o našem dnevniku zapisa</a> za više informacija.
  </p>
  <p>
    IP adrese ne dijelimo ni s kim osim ako to ne zahtijeva zakon (na primjer,
    tijekom policijske istrage za koju je primljen sudski nalog).
  </p>

  <h3 id="full_address">
    Vaša poštanska adresa
    <a href="#full_address">#</a>
  </h3>
  <p>
    Ne morate nužno uz svaki zahtjev navoditi poštansku adresu da biste poslali
    zahtjev za pristup informacijama. Ako vas tijelo javne vlasti zatraži punu
    fizičku adresu, odgovorite im da želite ostvariti pristup informaciji
    elektorničkim putem te je adresa putem koje su zaprimili zahtjev dovoljna
    za dostavu traženih informacija. Sukladno Zakonu o pravu na pristup
    informacijama (ZPPI), zahtjev predan elektroničkim putem smatra se zahtjevom
    podnesenim pisanim putem.
  </p>
  <p>
    Povjerenik za informiranje je dao smjernice za to:
  </p>

  <ul>
    <li>
      Čak i kada ne naznačite na koji način želite
      primiti tražene informacije, tijelo javne vlasti treba dostaviti informaciju
      na isti način na koji ste podnijeli zahtjev odnosno na
      najekonomičniji način koji stvara manje troškova, a ostvaruje svrhu (<a
      href="http://publikacije.imamopravoznati.org/vodic/hr/ostvarivanje-prava-na-pristup-informacijama/">
      izvor</a>) &ndash;
      <blockquote>
        “U zahtjevu možete i naznačiti način na koji želite ostvariti pristup informaciji.
        Možete tražiti da Vam se informacija pošalje poštom ili <strong>elektroničkom
        poštom</strong>, ili najaviti da ćete preslike informacija podići sami u tijelu
        javne vlasti i time uštedjeti moguće poštanske troškove, a možete
        osobito ako niste sigurni što točno tražite, zahtijevati i uvid u
        dokumente i naznačiti da ćete pri tome odabrati za koje ćete sve
        dokumente tražiti presliku. Ako ne naznačite na koji način želite
        primiti tražene informacije, tijelo javne vlasti dostavit će
        informaciju <strong>na isti način na koji ste podnijeli zahtjev</strong>
        odnosno na drugi ekonomičniji način koji stvara manje troškova, a ostvaruje
        svrhu.”
      </blockquote>
    </li>
    <li>
      Iako adresa e-pošte prema tumačenju zakona ne predstavlja adresu korisnika, e-mail adresa
      dovoljna za dostavu traženih informacija (<a
      href="http://publikacije.imamopravoznati.org/smjernice/hr/rjesavanje-zahtjeva/">
      izvor</a>) &ndash;
      <blockquote>
        "Putem elektroničke pošte službenik za informiranje <strong>može korisniku
        dostaviti zatražene informacije</strong> i ostvariti bržu komunikaciju s njim,
        s obzirom na kratkoću rokova za postupanje. ...[službenik za informiranje
        treba uzeti] u obzir da
        inzistiranje na adresi u slučaju zahtjeva podnesenog elektroničkom
        poštom, a kada već sa sigurnošću može utvrditi da ćete informaciju
        pružiti korisniku, <strong>protivno načelima ekonomičnosti u postupanju te
        načelu suradnje i pružanja pomoći</strong>."
      </blockquote>
    </li>
    <li>
      Iznimno, postoji slučaj kada službenik za informiranje treba poštansku
      adresu (<a
      href="http://publikacije.imamopravoznati.org/smjernice/hr/rjesavanje-zahtjeva/">
      izvor</a>), a u takvim slučajevima, podnositelj zahtjeva može dostaviti svoju
      adresu nekim drugim putem - na primjer putem direktnog kontakta (e-mail, telefon)
      sa službenikom za informiranje radi zaštite vaših osobnih podataka kada je
      podnositelj zahtjeva fizička osoba. &ndash;
      <blockquote>
        "...službenik za informiranje ima obvezu donijeti rješenje, a [poštanska]
        adresa korisnika je neophodni sastavni dio rješenja. Osim toga dostava
        rješenja je važna zbog određivanja urednosti dostave i određivanja
        pravovremenosti izjavljene žalbe Povjereniku za informiranje ili
        pokretanja upravnog spora pred Visokim upravnim sudom Republike
        Hrvatske."
      </blockquote>
    </li>
  </ul>
  <p>
    Ne preporučujemo objavljivanje osobne poštanske adrese na ovim stranicama.
  </p>
  <h4 id="postal_answer">
    Što učiniti ako nadležno tijelo zatraži poštansku adresu kako bi poslalo
    papirnati odgovor
    <a href="#postal_answer">#</a>
  </h4>
  <p>
    Ako tijelo javne vlasti ima samo papirnatu kopiju podataka koje želite,
    možda će od vas zatražiti poštansku adresu. Budući da je jedno od načela
    <%= site_name %> da javnom objavom odgovora na zahtjeve za pristup
    informacijama pružamo resurse za upotrebu svima, prirodno je da više volimo
    kada tjela javne vlasti dostavljaju informacije e-poštom.
  </p>
  <p>
    Stoga ih možete pokušati nagovoriti da skeniraju dokumente za vas. Možete
    im čak možete ponuditi skener na poklon ako ga već nemaju.
  </p>
  <p>
    Ako to ne uspije, a želite im privatno poslati svoju poštansku adresu da biste
    mogli primati dokumente, označite svoj zahtjev kao "Odgovorit će poštom"
    (pod izbornikom "Akcije" > "Ažuriranje statusa"), te ćete dobiti adresu
    e-pošte koju tada možete koristiti da im privatno putem vaše osobnog e-maila
    pošaljete vašu osobnu poštansku adresu.
  </p>
  <p>
    Ponekada tijela javne vlasti inzistiraju na dostavi osobne poštanske adrese
    iz razloga jer je žele navesti u upisnik, te radi toga dodatno u privatnoj poruci kojom dostavljate
    vašu osobnu poštansku adresu tijelu javne vlasti naznačite da želite primiti
    tražene informacije na isti način i na istu elektronsku adresu putem koje su
    zaprimili vaš izvorni zahtjev - na taj način ćete osigurati da će odgovor
    tijela javne vlasti biti zaprimljen i prikazan na ovim internetskim
    stranicama. Ujedno podsjetite tijelo javne vlasti da u odgovoru na
    <%= site_name %> adresu ne šalju vaše osobne podatke (npr. kućna adresa).
  </p>
  <h3 id="our_logging">
    Naš dnevnik zapisa
    <a href="#our_logging">#</a>
  </h3>
  <p>
    Uz podatake koje nam dajete o sebi kako biste koristili internetsku stranicu
    (npr. vaše ime, prezime i e-mail), prikupljamo i bilježimo neke dodatne
    informacije kako bismo analizirali i riješili probleme na internetskoj
    stranici.
  </p>
  <p>
    Zapisi našeg internetskog poslužitelja održavaju povijest pristupa stranicama.
    To uključuje informacije o pristupanju, uključujući IP adresu klijenta,
    dostavljene podatke (koji mogu uključivati ​​vašu adresu e-pošte kada se
    prijavite na internetsku stranicu), datum i vrijeme pristupa, traženu stranicu,
    verziju preglednika i <a href="https://en.wikipedia.org/wiki/HTTP_referer">
    preporučitelja</a>. Te podatke obično čuvamo 60 dana. Imajte na umu da u normalnim
    okolnostima čovjek rijetko pristupa tim podacima, a kad pristupa tada ih
    vjerojatno skupno analizira kako bi razumio problem sa internetskom stranicom,
    odnosno ne analizira ih detaljno na razini pojedinačnih korisnika.
  </p>

  <h3 id="research">
    Istraživanje
    <a href="#research">#</a>
  </h3>
  <p>
    Code for Croatia i Gong ponekada za potrebe istraživanja analizira podatke
    poput zahtjeva i odgovora na <%= site_name %>. Pridržavamo se strogih
    internih pravila o privatnosti što znači da se svi osobni podaci čuvaju na
    sigurnom. Podaci kao što su imena i adrese e-pošte izuzeti su iz skupova
    podataka istraživanja i, gdje je to moguće cenzurirani su iz sadržaja teksta.

  </p>
  <p>
    Također želimo podijeliti neosobne podatke iz <%= site_name %> s
    vanjskim istraživačima, gdje je to prikladno, kako bismo im pomogli u radu.
    Kada to radimo, slijedimo našu <a href="https://docs.google.com/document/d/e/2PACX-1vTVielOX2WQxdOfrE0DiTOkfa9R2daqoFpRY_cYNrOh9VIzBmV15TdlbpBwzVhwu7qDaC2FBmVN7Pxm/pub">
    Politiku objavljivanja istraživačkih podataka</a> kako bismo osigurali da
    poduzimamo razumne mjere predostrožnosti protiv slučajnog objavljivanja
    osobnih podataka.
  </p>
  <p>
    Te mjere predostrožnosti definiraju isključivanje određenih privitaka
    datoteka koji potencijalno mogu sadržavati nenamjerno dostavljene osobne podatke,
    ali imaju malu istraživačku vrijednost (poput tabličnih podataka u XLS ili
    CSV datotekama); vremenski razmak 3 mjeseca od slanja zahtjeva kako bi se dozvolilo
    dovoljno vremena da se otkrije postojanje neprimjerenog sadržaja; i vođenje
    registra istraživača koji imaju pristup skupovima podataka. Podaci prosljeđeni
    trećim stranama nikada neće biti više od onoga što je javno dostupno na
    internetskim stranicama.
  </p>

  <h3 id="encrypted_transfer">
    Šifrirani prijenos podataka
    <a href="#encrypted_transfer">#</a>
  </h3>
  <p>
    Ponekad trebamo poslati kopiju osjetljivog materijala Povjereniku za
    informiranje ili Agenciji za zaštitu osobnih podataka kako bismo im pomogli
    u istrazi kršenja nadležnih zakona o zaštiti osobnih podataka ili drugih
    pravnih akata od strane tijela javne vlasti. U slučaju većeg broja osjetljivih
    osobnih podataka to činimo šifriranjem podataka s AES algoritmom koristeći
    barem 256-bitni ključ. Šifrirani podaci bit će poslani e-poštom ili
    stavljeni na raspolaganje za preuzimanje putem interneta, FTP-a ili USB-a,
    a lozinka za dešifriranje šalje se djelatniku nadležnog ureda putem zasebnog kanala.
  </p>


  <h2 id="Names">
    Ime i prezime
    <a href="#Names">#</a>
  </h2>

  <a name="public_request"></a>
  <h3 id="public_names">
    Zašto se moje ime i moj zahtjev javno prikazuju na stranici?
    <a href="#public_names">#</a>
  </h3>

  <p>
    Vaše je ime vezano uz vaš zahtjev, pa mora biti i objavljeno. To je jedini
    ispravan i pravedan način s obzirom da ćemo objaviti i ime službenika koji
    odgovara na vaš zahtjev. Korištenje vašeg pravog imena također pomaže drugima
    da stupe u kontakt s vama i pomognu vam u vašem istraživanju ili da se zajedno
    s vama bore za transparentnost i dostupnost javnih informacija.
  </p>
  <p>
    No možda, što je i najvažnije, to znači da naši korisnici dvaput razmisle
    prije nego što podnesu zahtjev: ako znate da će vaše ime biti trajno vezano
    uz njega kako bi ga svi mogli vidjeti, mnogo je veća vjerojatnost da ćete
    uputiti odgovoran, valjan i koristan zahtjev.
  </p>
  <p>
    Po zakonu morate koristiti vaše pravo ime kada podnosite zahtjev za pristup
    informacijama kako bi on bio pravno važeći i kako biste mogli podnijeti žalbu.
    Pogledajte sljedeće pitanje za alternativna rješenja ukoliko ne želite objaviti
    svoje puno ime i prezime.
  </p>
  <p>
    Vaši će se zahtjevi grupirati i pojaviti na vašem profilu na internetskoj
    stranici.
  </p>

  <h3 id="real_name">
    Mogu li podnijeti zahtjev koristeći pseudonim?
    <a href="#real_name">#</a>
  </h3>
  <p>
    Morate koristiti <strong>vaše pravo ime</strong> kada podnosite zahtjev za
    pristup informacijama kako bi on bio zakonski važeći. Više o pravu na pristup
    informacijama možete saznati na internetskim stranicama <a
    href="https://www.pristupinfo.hr">Povjerenika za informiranje</a>.
  </p>
  <p>
    Uzmite u obzir da, čak i ako tijelo javne vlasti odgovori na vaš zahtjev,
    zbog pseudonima će vam kasnije vjerojatno biti otežano podnijeti žalbu
    Povjereniku za informiranje oko rješavanja vašeg zahtjeva.
  </p>
  <p>
    Postoji nekoliko alternativa korištenju pseudonima.
  </p>
  <ul>
    <li>
      Koristite naziv vaše organizacije, tvrtke, poduzeća ili obrta prilikom
      registracije korisničkog računa i slanja zahtjeva.
    </li>
    <li>
      Zamolite nekoga drugoga da podnese zahtjev umjesto vas.
    </li>
    <li>
      Ako ste zaista nesigurni, možete nas zamoliti da podnesemo zahtjev.
      Molimo da <a href="<%= help_contact_path %>">nas kontaktirate</a> samo u
      slučaju da imate opravdan razlog zbog kojeg to ne možete učiniti sami ili
      kada ne možete zamoliti prijatelja da to učini umjesto vas. Mi nažalost
      nemamo dovoljno osoblja koje bi to moglo činiti za sve.
    </li>
    <li>
      Molimo da se ne pokušavate predstavljati kao netko tko niste. To je
      protivno našim uvjetima pružanja usluge - pročitajte više na stranici <a
      href="<%= help_house_rules_path %>">pravila ponašanja</a>.
    </li>
  </ul>
  <p>
    Ponekad ćemo iz različitih razloga, uključujući i dokazanu ugroženost pojedinca,
    ukloniti ime i prezime korisnika s internetske stranice; kada to činimo, to ćemo
    jasno naznačiti; obično zamjenom imena s "[ime uklonjeno]" ili "[Uklonjeno
    ime - čl.17 GDPR-a]". Za više informacija pogledajte paragraf o <a
    href="#erasure">vašem pravu na brisanje</a>.
  </p>

  <h2 id="consequences">
    Koje su moguće ili definitivne posljedice korištenja <%= site_name %>?
    <a href="#consequences">#</a>
  </h2>
  <h3 id="consequences_making_a_request">
    Prilikom podnošenja zahtjeva za pristup informacijama
    <a href="#consequences_making_a_request">#</a>
  </h3>
  <p>
    Kao što ste vidjeli iz ranije opisanog, upotreba <%= site_name %> rezultira
    objavljivanjem vašeg imena, prezimena i zahtjeva na internetu, u većini
    slučajeva trajno. Neke moguće posljedice toga su:
  </p>
  <ul>
    <li>
      Vaš se zahtjev pojavljuje u rezultatima kada se vaše ime stavi u tražilice.
    </li>
    <li>
      Druge osobe koje zanima vaš zahtjev vas mogu kontaktirati, uključujući i
      mediji, slanjem privatne poruke putem vašeg korisničkog profila.
    </li>
  </ul>
  <h3 id="consequences_registering">
    Prilikom registracije na internetskoj stranici
    <a href="#consequences_registering">#</a>
  </h3>
  <p>
    Stvaranje korisničkog računa na ovoj internetskoj stranici omogućuje vam
    slanje zahtjeva za pristup informacijama, to je također obavezan korak za one
    koji se žele prijaviti za primanje obavijesti e-poštom (na primjer za
    "praćenje" određenog zahtjeva, korisnika ili tijela javne vlasti) ili kada
    želite dodati komentar na stranicu nekog zahtjeva.
  </p>

  <ul>
    <li>
      Prikupljamo vaše ime, prezime i e-mail; gledamo te podatke samo ako
      postoji problem s vašim korisničkim računom.
    </li>
    <li>
      Korisnici s računima stječu stranicu s javnim profilom na internetskoj
      stranici: ovome može pristupiti svatko tko klikne na ime uz bilo koji
      zahtjev za pristup informacijama koji ste poslali putem ove stranice ili
      bilo koji komentar koju ste napravili.
    </li>
    <li>
      Na stranici vašeg profila prikazuje se:
      <ul>
        <li>
          Vaše ime i prezime
        </li>
        <li>
          Godina registracije na ovoj internetskoj stranici
        </li>
        <li>
          Bilo koji tekst koji ste napisali o sebi
        </li>
        <li>
          Popis zahtjeva i komentara koje ste napisali
        </li>
      </ul>
      <p>
        Stranica profila ne prikazuje vašu adresu e-pošte, ali omogućuje drugima da
        stupe u kontakt s vama putem funkcionalnosti razmjene privatnih poruka.
      </p>
      <p>
        Stranica profila ne prikazuje detalje za primanje obavijesti na koje ste
        pretplaćeni, premda su ona vidljiva vama (i samo vama) kad ste prijavljeni.
      </p>
    </li>
  </ul>
  <p>
    This data (your name, email address, alert subscriptions) is not used for
    any purpose other than the running of the site and will not be shared
    externally.
  </p>

  <h2 id="retention_periods">
    Razdoblje čuvanja podataka
    <a href="#retention_periods">#</a>
  </h2>

  <h3 id="retention_requests">
    Zahtjevi za pristup informacijama
    <a href="#retention_requests">#</a>
  </h3>
  <p>
    Kao što je gore opisano, slanje zahtjeva za pristup informacijama putem ove
    internetske stranice rezultira time da se vaše ime, prezime i adresa e-pošte
    čuvaju, zajedno s tijelom vašeg zahtjeva, na našim poslužiteljima. Vaša adresa
    e-pošte dostupna je samo administratorima internetske stranice. Trenutno je
    pravilo da te podatke čuvamo neograničeno.
  </p>
  <h3 id="retention_breach">
    Informacije puštene nenamjerno kršeći zakona o zaštiti osobnih podataka
    <a href="#retention_breach">#</a>
  </h3>
  <p>
    <strong>Ponekad tijela javne vlasti slučajno pošalju i objave osobne podatke
    u velikoj količini. <%= site_name %> ne želi čuvati takve podatke duže nego
    što je potrebno i s njima se postupa vrlo oprezno.</strong>
  </p>
  <p>
    Volonteri će s <%= site_name %> pristupiti samo onim podacima koji su potrebni
    za rješavanje sumnje na kršenje zakona o zaštiti osobnih podataka od strane
    tijela javne vlasti, šifriranjem podataka pomoću jakog algoritma, zaštitom
    uređaja jakom lozinkom i brisanjem podataka što je prije moguće a u svim
    okolnostima obrisati će kopije koje sadrže osobne podatke u roku od četiri
    sata. Ako podatke treba zadržati nakon tog razdoblja, oni se čuvaju na
    našim poslužiteljima, te smo mi odgovorni za njihovo čuvanje i brisanje.
  </p>
  <p>
    Za materijal koji treba čuvati relativno kratko, npr. kada AZOP-u dajemo
    četiri tjedna da zatraži materijal od nas prije nego što ga izbrišemo,
    materijal će ostati skriven na <%= site_name %> i obično će se izbrisati na
    kraju razdoblja čuvanja. U iznimnim okolnostima, na primjer kada se
    dopisujemo s AZOP-om o slučaju, možemo produljiti razdoblje čuvanja.
  </p>
  <p>
    U bilo kojem rijetkom slučaju kada se razdoblje čuvanja tijekom četiri
    tjedna smatra potrebnim i kada se ocjenjuje se da bi objavljivanje sadržaja
    predstavljalo značajan rizik i štetu, osoblje organizacija Code for Croatia
    i Gong odgovorno je za premještanje materijala u pohranu koji nije vezan
    pristupom internetu i brisanjem sadržaja kada istekne razdoblje čuvanja.
  </p>

  <h3 id="retention_support">
    E-mail podrške
    <a href="#retention_support">#</a>
  </h3>
  <p>
    Poruke poslane na naš središnji poštanski sandučić čuvamo do dvije godine -
    prema zadanim postavkama korespondencija se automatski i trajno briše nakon
    tog vremena. Bilo koja e-pošta koju treba čuvati u evidenciji iz određenih
    razloga, kao što je nadgledanje naših postupaka za rješavanje pritužbi i
    zloupotrebe i poštivanje zakona, ili odgovaranje na policijske istrage ili
    tužbe u tijeku, zadržava se odvojeno. Pogrešno usmjerena pošta osjetljive
    prirode, poput zahtjeva za pomoć u osobnim okolnostima, čuva se kraće
    razdoblje, obično do trideset dana.
  </p>

  <h2 id="legal_basis">
    Pravni temelj za obradu osobnih podataka
    <a href="#legal_basis">#</a>
  </h2>
  <p>
    U većini slučajeva naša pravna osnova za obradu osobnih podataka je
    "legitimni interes" (to je kako je navedeno u <a
    href="https://gdpr-info.eu/art-6-gdpr/">6.(1)(f)</a> - Opće uredbe o zaštiti
    podataka (GDPR) koja je na snazi od 25. svibnja 2018. Vjerujemo da imamo legitimni interes u obradi
    osobnih podataka radi pružanja naše usluge u korist naših korisnika i u
    korist društva. Za naše korisnike korist je u tome što nudimo jednostavan
    način postavljanja, praćenja i objavljivanja zahtjeva za pristup informacijama.
    Usluga također ima koristi za javnost jer bilo koja javno objavljena informacija
    u odgovoru na zahtjev čini povijesnu arhivu koju svatko može koristiti.
    Također postoji korist za tijela javne vlasti koja odgovaraju na zahtjeve,
    jer automatsko objavljivanje zahtjeva smanjuje dvostruke zahtjeve.
  </p>
  <p>
    Vjerujemo da naša obrada podataka naših korisnika je onakva kakvu bi očekivali
    kada koriste našu uslugu. Ako koristite <%= site_name %> za podnošenje
    zahtjeva za pristup informacijama, pristajete na obradu vaših podataka kako
    je opisano na ovoj stranici. Jasno objašnjavamo kako rukovati podacima
    korisnika i povezivati ​​se s ovom stranicom na odgovarajućim mjestima unutar
    naše usluge, uključujući tijekom postupka registracije i podnošenja zahtjeva.
  </p>
  <p>
    U rijetkim će se slučajevima primijeniti pravna osnova "poštivanja zakonske
    obveze" kada smo zakonski obvezni čuvati materijal, na primjer kada je izdan
    sudski nalog (<a href="https://gdpr-info.eu/art-6-gdpr/">6(1)(c)</a> GDPR-a).
  </p>
  <p>
    U gotovo svim će slučajevima naša obrada osobnih podataka biti zakonita prema
    članku 6. GDPR-a. Često je korištenje naše usluge akademske ili novinarske
    naravi, a pružanje naše usluge u cjelini može se smatrati novinarskim pothvatom.
  </p>

  <h2 id="your_rights">
    Vaša prava
    <a href="#your_rights">#</a>
  </h2>

  <h3 id="erasure">
    Vaše pravo na brisanje
    <a href="#erasure">#</a>
  </h3>
  <p>
    See also <a href="#right_to_object">your right to object</a>.
  </p>
  <h4>
    Your own requests, annotations and user profile
  </h4>

  <p>
    <%= site_name %>, as well as providing a service by which you can easily make
    an FOI request, also acts as an online archive of information.
  </p>
  <p>
    <strong>Requests</strong> We publish your request on the internet so that
    anybody can read it
    and make use of the information that you have found. Even though you may not
    find the response to a request useful any more, it may be of interest to
    others, and may have been used to support research, news articles, lobbying
    or other activities. For this reason, we will not normally delete the
    substance of requests and responses.
  </p>
  <p>
    <strong>Names</strong> If you have made requests for information via our
    site and are
    considering asking us to remove your name, please do take a moment to
    reflect and reconsider. Typically Freedom of Information requests made via
    our service form a positive part of an individual’s online footprint; a
    public record of civic activism is something to be proud of.
  </p>
  <p>
    That said, we understand that there can be good reasons why you may want us
    to remove your name and will make our best efforts to do so if you ask us
    to. Similarly, we may also remove other personal information. Note that if
    your name has been released as part of an authority’s response, we may not
    be able to remove it easily, however we will of course consider formal
    “right to be forgotten” / “right of erasure” requests and remove material if
    we are unable to justify continuing to hold and process it.
  </p>
  <p>
    If you’re worried about your name being associated with your request,  and
    you’ve not made it yet, then  see our advice on using
    <a href="#real_name">pseudonyms</a>.
  </p>
  <p>
    <strong>Email addresses</strong> We also hold your email address. If you ask
    us to cease
    holding your email address while you are awaiting a response, we will not be
    able to notify you when a response does come in. For this reason we strongly
    advise keeping an active email address associated with your account while
    you have correspondence in progress. As a user you can change the email
    address associated with your account at any time yourself, or you can get in
    touch with us an ask us to remove your email address from your account.
  </p>
  <p>
    Other information we hold on users of our service is described under:
    <a href="#consequences_registering">“When registering with the site”</a> and
    <a href="#our_logging">“Our own logging”</a>.
    As a user you can view and edit much of this material yourself, but if you
    feel the need to ask us to delete material do get in touch.
  </p>
  <h4>
    Removal of personal information from requests and responses
  </h4>
  <p>
    If you see any personal information about you on the site which you’d like
    us to remove or hide, then please <a href="<%=
        help_contact_path %>">let us know</a>. Specify exactly what
    information you believe to be problematic and why, and let us know where it
    appears on the site.
  </p>
  <p>
     We will consider any such notice, and balance it against any public
     interest in publishing the material. There is some guidance about this <a
     href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/right-to-erasure/">on the ICO’s website</a>.
   </p>
   <p>
    If it is sensitive personal information that has been accidentally posted,
    then we will usually remove it. Normally we will only consider requests to
    remove personal information which come from the individual concerned, but
    for sensitive information or large volumes of breached personal data we
    would appreciate being notified by anyone.
  </p>
  <h4>
    Removal of public servants’ personal information from responses
  </h4>
  <p>
     We
    automatically publish responses to requests made through the site in full.
    Where these responses include the personal information of public servants,
    we consider the legal basis for our processing of this information to be
    that we have a legitimate interest as described in
    <a href="https://gdpr-info.eu/art-6-gdpr/">Article 6(1)(f)</a>
    of the GDPR). Our legitimate interest is in benefiting society by preserving and
    promoting transparency and openness, and the accountability of those in
    positions of power and in maintaining a historic public archive of Freedom of
    Information requests and responses.  We will consider requests to remove the
    names of public servants when it seems that the interests, rights and
    freedoms of the data subject outweigh the public interest in publishing.
  </p>
  <p>
    This means that:
  </p>
  <ul>
    <li>
      If you are a decision-maker of any seniority, or if you are responding to an
      FOI request, we will not normally remove your details from documents and
      emails sent by a public body or from FOI requests. Accountability of
      decision-making is at the heart of good government.
    </li>
    <li>
      If you hold a junior, non-decision making post we will consider requests
      to remove your details. Removing these details is time-consuming for our
      volunteers, so please let us know why this really matters to you. If we
      are not required to act by law but agree to remove your details we will
      take reasonable steps to do so — but in some cases may not be able to as
      it can be difficult to remove material from some types of document, such
      as images and PDFs.
    </li>
  </ul>
  <p>
    We are happy try to assist FOI officers who want us to help them remove
    their signatures from the website, but generally in such circumstances we
    require replacement responses to be prepared and sent to the requester
    before we will remove the original documents. We are generally unable to
    edit attachments which have been released via our service.
  </p>
  <p>

  <h3 id="right_to_access">
    Your right to access
    <a href="#right_to_access">#</a>
  </h3>
  <p>
    You may contact us at any time to ask to see what personal data we hold
    about you.  If you have used our service to make a request,  then the vast
    majority of information we hold about you is shown publicly on our website
    or visible to you on your user profile.
  </p>
  <h3 id="right_to_object">
    Your right to object
    <a href="#right_to_object">#</a>
  </h3>
    <p>
    See also <a href="#erasure">your right to erasure</a>.
    </p>
    <p>
    The General Data Protection Regulation gives you the right to object to our
    processing of your personal information and to ask us to stop processing it.
    However, it also gives us the right to continue to process it if we can demonstrate
    compelling legitimate grounds for the processing that override your
    interests, rights and freedoms. To exercise your right to object, you must
    <a href="<%= help_contact_path %>">contact us</a>, giving
    specific reasons why you are objecting to the processing of your personal data.
    These reasons should be based upon your particular situation.
    </p>
  <h3 id="right_to_complain">
    Your right to lodge a complaint
    <a href="#right_to_complain">#</a>
  </h3>
  <p>
    You have the right to complain if you believe that we have mishandled your
    personal data. For the Croatia, the relevant supervisory body is the Croatian
    Personal Data Protection Agency. <a href="https://ico.org.uk/concerns/handling/">
    You can report a concern here</a> (but do contact us
    first, so that we can try and help — see our
    <a href="https://imamopravoznati.org/help/complaints">
    complaints procedure here</a>).
  </p>

  <h2 id="cookies">
    Cookies and third party services
    <a href="#cookies">#</a>
  </h2>

  <p>
    Like many other websites, we sometimes use cookies and Google Analytics
    to help us make our websites better. These tools are very common and
    used by many other sites, but they do have privacy implications, and as
    a charity concerned with socially positive uses of the internet, we
    think it’s important to explain them in full. If you don’t want to share
    your browsing activities on mySociety’s sites with other companies, you
    can adjust your usage or install opt-out browser plugins.
  </p>
  <h4>Cookies</h4>
  <p>
    To make our service easier or more useful, we sometimes place small data
    files on your computer or mobile phone, known as cookies; this is very
    common practice and most websites do this.
  </p>
  <p>
    Cookies help our websites to, for example, remember that you have logged
    in so you don’t need to do that on every page, or to measure how people
    use the website so we can improve it and make sure it works properly.
    Below, we list the cookies and services that this site may use.
  </p>
  <table>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Typical Content</th>
      <th scope="col">Expires</th>
    </tr>
    <tr>
      <td>_wdtk_cookie_session</td>
      <td>A random unique identifier</td>
      <td>When web browser is closed, or 1 month if ‛Remember me’ is used</td>
    </tr>
    <tr>
      <td>seen_foi2</td>
      <td>The number 1 if you have seen a notice</td>
      <td>7
      days</td>
    </tr>
    <tr>
      <td>has_seen_country_message</td>
      <td>The number 1 if you have seen a notice about FOI services in other
      countries</td>
      <td>1 year</td>
    </tr>
    <tr>
      <td>last_request_id</td>
      <td>A number, identifying the last FOI request you looked at on the
      site</td>
      <td>When web browser is closed</td>
    </tr>
    <tr>
      <td>last_body_id</td><td>A number, identifying the last public
      authority you looked at on the site</td><td>When web browser is closed
      </td>
    </tr>
    <tr>
      <td>widget_vote</td><td>A random identifier for an ‛I also want to
      know’ vote you've made for a request</td><td>When web browser is closed
      </td>
    </tr>
  </table>
  <h4>Measuring website usage (Google Analytics)</h4>
  <p>
    We use Google Analytics to collect information about how people use this
    site. We do this to make sure it’s meeting its users’ needs and to
    understand how we could do better. Google Analytics stores information
    such as what pages you visit, how long you are on the site, how you got
    here, what you click on, and information about your web browser. IP
    addresses are masked (only a portion is stored) and personal information
    is only reported in aggregate. We do not allow Google to store browser
    cookies on your machine or device. We also do not allow Google to use or
    share our analytics data for any purpose besides providing us with
    analytics information, and we recommend that any user of Google Analytics
    does the same.
  </p>
  <p>
    If you’re unhappy with data about your visit to be used in this way, you
    can install the <a
    href="http://tools.google.com/dlpage/gaoptout">official browser plugin
    for blocking Google Analytics</a>.
  </p>
  <p>
    Please note that this website initialises Google Analytics with the
    following settings:
  </p>
  <dl>
    <dt>
      anonymizeIp
    </dt>
    <dd>
      This masks the last part of your IP address before any analytics data is
      stored.
    </dd>
    <dt>
      storage: none
    </dt>
    <dd>
      This instructs Google to not create and store browser cookies on your
      machine or device.
    </dd>
  </dl>
  <h4>Google’s Official Statement about Analytics Data</h4>
  <p>
    “This website uses Google Analytics, a web analytics service provided by
    Google, Inc. (“Google”). Google Analytics uses “cookies”, which are
    text files placed on your computer, to help the website analyze how
    users use the site. The information generated by the cookie about your
    use of the website (including your IP address) will be transmitted to
    and stored by Google on servers in the United States. Google will use
    this information for the purpose of evaluating your use of the website,
    compiling reports on website activity for website operators and
    providing other services relating to website activity and internet
    usage. Google may also transfer this information to third parties where
    required to do so by law, or where such third parties process the
    information on Google’s behalf. Google will not associate your IP
    address with any other data held by Google. You may refuse the use of
    cookies by selecting the appropriate settings on your browser, however
    please note that if you do this you may not be able to use the full
    functionality of this website. By using this website, you consent to
    the processing of data about you by Google in the manner and for the
    purposes set out above.”
  </p>
  <p>
    <!-- TODO - add our link below -->
    <a href="https://www.mysociety.org/privacy/?utm_source=imamopravoznati&utm_medium=link">More general information on
    how third party services work</a>
  </p>
  <p><strong>Credits</strong></p>
  <p>
    Bits of wording taken from the <a href="http://gov.uk/help/cookies">
    gov.uk cookies page</a> (under the Open Government Licence).
  </p>
  <p><strong>Learn more</strong> from the help for
    <a href="<%= help_officers_path %>">FOI officers</a> --&gt;
  </p>
  <div id="hash_link_padding"></div>
</div>
