<% @title = "Vaša privatnost" %>
<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <h1 id="privacy"><%= @title %> <a href="#privacy">#</a> </h1>

  <p>
    <%= site_name %> vode neformalna inicijativa građana Code for Croatia i
    organizacija civilnog društva Gong.
  </p>
  <p>
    Za sve detalje o strukturi, upravljanju i drugim relevantnim informacijama
    o nama pogledajte: <a href="https://imamopravoznati.org/help/about#who">Tko
    čini <%= site_name %>?</a>.
  </p>
  <p>
    Našim radom oko tema transparentnosti i odgovornosti, imamo na umu i brinemo
    o privatnosti i sigurnosti naših korisnika: duljina ovih pravila o
    privatnosti jedan je od rezultata. Međutim, znamo da nitko ne provodi
    pravila privatnosti iz zabave, pa smo se potrudili da budu jasna i
    razumljiva svima.
  </p>
  <p>
    Nadamo se da ova pravila pokrivaju sve što trebate znati o privatnosti, ali
    ako i dalje imate pitanja, slobodno nas <a
    href="<%= help_contact_path %>">kontaktirajte</a>.
  </p>

  <h2 id="personal_information">
    Koje osobne podatke prikupljamo
    <a href="#personal_information">#</a>
  </h2>

  <h3 id="personal_information_foi">
    Kada podnesete zahtjev
    <a href="#personal_information_foi">#</a>
  </h3>
  <p>
    Korištenjem <%= site_name %> za slanje zahtjeva za pristup informacijama,
    dajete nam sljedeće osobne podatke:
  </p>
  <ul>
    <li>Vaše ime i prezime</li>
    <li>Vašu e-mail adresu</li>
    <li>Vašu IP adresu</li>
  </ul>
  <p>
    Neki od ovih podataka prosljeđuju se tijelu javne vlasti koje zaprima vaš
    zahtjev i objavljeno je na internetskoj stranici.
  </p>
  <p>
    Na ovoj stranici pronaći ćete objašnjenja:
  </p>
  <ul>
    <li>što radimo sa svakom vrstom informacija</li>
    <li>tko ih vidi</li>
    <li>kako se koriste</li>
    <li>koliko ih dugo zadržavamo</li>
    <li>naši protokoli za izmjenu ili uklanjanje informacija</li>
    <li>
      što učiniti ako ste nezadovoljni načinom na koji smo postupali s vašim
      podacima
    </li>
  </ul>

  <h3 id="personal_information_contact">
    Kada pošaljete e-mail na <%= site_name %> putem našeg obrasca za kontakt,
    izravno ili putem Code for Croatia ili Gonga
    <a href="#personal_information_contact">#</a>
  </h3>
  <p>
    E-mail podrške obrađuje <%= site_name %> volonterska ekipa putem središnjeg
    poštanskog sandučića kojem moraju pristupiti poštujući naše stroge sigurnosne
    protokole.
  </p>
  <p>
    Kao i kod bilo koje druge e-pošte, ovo rezultira zadržavanjem vaše adrese
    e-pošte i, ako je navedeno, vašeg imena, zajedno sa sadržajem vaše poruke.
  </p>

  <h2 id="personal_information_who">
    Tko može vidjeti vaše osobne podatke
    <a href="#personal_information_who">#</a>
  </h2>

  <h3 id="name">
    Vaše ime i prezime
    <a href="#name">#</a>
  </h3>

  <p>
    Kada podnesete zahtjev za pristup informacijama putem <%= site_name %>, vaše
    ime i prezime (odnosno <a href="https://imamopravoznati.org/help/privacy#real_name">naziv
    koji ste koristili prilikom slanja zahtjeva</a>) je:
  </p>

  <ol type="a">
    <li>poslano tijelu javne vlasti, i</li>
    <li>javno objavljeno na internetskoj stranici zajedno sa zahtjevom.</li>
  </ol>

  <p>
    Pogledajte <a href="https://imamopravoznati.org/help/privacy#public_request">
    ovaj paragraf</a> za više informacija o tome zašto javno objavljujemo ove
    informacije.
  </p>

  <h3 id="email_address">
    Vaša e-mail adresa
    <a href="#email_address">#</a>
  </h3>
  <p>
    Vašu adresu e-pošte ne šaljemo tijelima javne vlasti niti je objavljujemo na
    internetskoj stranici. <%= site_name %> automatski generira
    @imamopravoznati.org e-mail adresu specifičnu za svaki zahtjev - vaša će
    poruka imati ovu adresu pošiljatelja 'od', a ujedno je i adresa na koju će
    tijelo javne vlasti poslati odgovor.
  </p>
  <p>
    Kad javno tijelo odgovori putem ove prilagođene adrese e-pošte, njihov se
    odgovor objavljuje na stranici vašeg zahtjeva na <%= site_name %>.
    Istovremeno, naš sustav će vam poslati poruku na adresu e-pošte koju ste
    naveli prilikom izrade zahtjeva ili u vašem korisničkom profilu kako bi vas
    obavijestili da je stigao odgovor: i ovo je automatiziran postupak.
  </p>
  <p>
    Dakle, vaša adresa e-pošte uglavnom se čuva privatnom. Postoje dvije iznimke.
    Prvo, administratori internetske stranice mogu pristupiti vašoj adresi e-pošte
    u procesu administriranja internetske stranice i mogu se koristiti vašom
    adresom e-pošte kako bi vas kontaktirali u vezi s korištenjem internetske
    stranice. Također povremeno kontaktiramo korisnike koji su uputili posebno
    zanimljiv zahtjev, jer o njima volimo pisati na našem blogu.
  </p>
  <p>
    Zatim, ako pošaljete poruku drugom korisniku na internetskoj stranici, vaša
    e-mail adresa podijeliti će se s primateljem privatne poruke. Dobiti ćete
    upozorenje o tome prije nego što pošaljete privatnu poruku drugom korisniku.
  </p>
  <p>
    Nećemo otkriti vašu adresu e-pošte nikome drugome, osim ako to nismo obvezni
    zakonom ili ako nas vi to zatražite.
  </p>
  <h4>
    Hoće li se vaš e-mail koristiti u bilo koje druge svrhe?
  </h4>
  <p>
    Ne. Nakon što se prijavite na <%= site_name %>, slati ćemo vam samo e-poštu
    koja se odnosi na vaš zahtjev, upozorenja e-poštom za koje ste se prijavili
    ili iz drugih razloga koje izričito autorizirate. Nikada nećemo davati ili
    prodavati vašu adresu e-pošte nikome drugome, osim ako to nismo obvezni
    zakonom ili ako nas vi to zatražite.
  </p>
  <p>
    U teoriji, neželjenu poštu možete zaprimiti putem funkcije privatne poruke
    ('pošalji ovom korisniku e-mail'). Zlouporaba ove usluge nije česta i bilo
    koju poruku koju smatrate neprimjerenom možete nam prijaviti putem <a
    href="<%= help_contact_path %>">kontakt obrasca</a>. Nakon
    razmatranja možemo suspendirati korisnike koji su zloupotrijebili ovu uslugu.
  </p>

  <h3 id="request">
    Vaš zahtjev
    <a href="#request">#</a>
  </h3>
  <p>
    Vaš zahtjev šalje se tijelu javne vlasti od kojeg tražite informacije.
    Istodobno je objavljen na ovoj internetskoj stranici gdje ga svatko može
    vidjeti.
  </p>

  <h3 id="ip_address">
    Vaša IP adresa
    <a href="#ip_address">#</a>
  </h3>
  <p>
    IP adresa povezana s vašom upotrebom internetske stranice (koja može, ali ne
    mora biti dovoljna za vašu identifikaciju, ovisno o okolnostima), automatski
    se bilježi u naše dnevnike zapisa. Obično je nitko neće vidjeti - pogledajte
    <a href="#our_logging">paragraf o našem dnevniku zapisa</a> za više informacija.
  </p>
  <p>
    IP adrese ne dijelimo ni s kim osim ako to ne zahtijeva zakon (na primjer,
    tijekom policijske istrage za koju je primljen sudski nalog).
  </p>

  <h3 id="full_address">
    Vaša poštanska adresa
    <a href="#full_address">#</a>
  </h3>
  <p>
    Ne morate nužno uz svaki zahtjev navoditi poštansku adresu da biste poslali
    zahtjev za pristup informacijama. Ako vas tijelo javne vlasti zatraži punu
    fizičku adresu, odgovorite im da želite ostvariti pristup informaciji
    elektorničkim putem te je adresa putem koje su zaprimili zahtjev dovoljna
    za dostavu traženih informacija. Sukladno Zakonu o pravu na pristup
    informacijama (ZPPI), zahtjev predan elektroničkim putem smatra se zahtjevom
    podnesenim pisanim putem.
  </p>
  <p>
    Povjerenik za informiranje je dao smjernice za to:
  </p>

  <ul>
    <li>
      Čak i kada ne naznačite na koji način želite
      primiti tražene informacije, tijelo javne vlasti treba dostaviti informaciju
      na isti način na koji ste podnijeli zahtjev odnosno na
      najekonomičniji način koji stvara manje troškova, a ostvaruje svrhu (<a
      href="http://publikacije.imamopravoznati.org/vodic/hr/ostvarivanje-prava-na-pristup-informacijama/" target="_blank">izvor</a>) &ndash;
      <blockquote>
        “U zahtjevu možete i naznačiti način na koji želite ostvariti pristup informaciji.
        Možete tražiti da Vam se informacija pošalje poštom ili <strong>elektroničkom
        poštom</strong>, ili najaviti da ćete preslike informacija podići sami u tijelu
        javne vlasti i time uštedjeti moguće poštanske troškove, a možete
        osobito ako niste sigurni što točno tražite, zahtijevati i uvid u
        dokumente i naznačiti da ćete pri tome odabrati za koje ćete sve
        dokumente tražiti presliku. Ako ne naznačite na koji način želite
        primiti tražene informacije, tijelo javne vlasti dostavit će
        informaciju <strong>na isti način na koji ste podnijeli zahtjev</strong>
        odnosno na drugi ekonomičniji način koji stvara manje troškova, a ostvaruje
        svrhu.”
      </blockquote>
    </li>
    <li>
      Iako adresa e-pošte prema tumačenju zakona ne predstavlja adresu korisnika, e-mail adresa
      dovoljna za dostavu traženih informacija (<a
      href="http://publikacije.imamopravoznati.org/smjernice/hr/rjesavanje-zahtjeva/" target="_blank">izvor</a>) &ndash;
      <blockquote>
        "Putem elektroničke pošte službenik za informiranje <strong>može korisniku
        dostaviti zatražene informacije</strong> i ostvariti bržu komunikaciju s njim,
        s obzirom na kratkoću rokova za postupanje. ...[službenik za informiranje
        treba uzeti] u obzir da
        inzistiranje na adresi u slučaju zahtjeva podnesenog elektroničkom
        poštom, a kada već sa sigurnošću može utvrditi da ćete informaciju
        pružiti korisniku, <strong>protivno načelima ekonomičnosti u postupanju te
        načelu suradnje i pružanja pomoći</strong>."
      </blockquote>
    </li>
    <li>
      Iznimno, postoji slučaj kada službenik za informiranje treba poštansku
      adresu (<a
      href="http://publikacije.imamopravoznati.org/smjernice/hr/rjesavanje-zahtjeva/" target="_blank">izvor</a>),
      a u takvim slučajevima, podnositelj zahtjeva može dostaviti svoju
      adresu nekim drugim putem - na primjer putem direktnog kontakta (e-mail, telefon)
      sa službenikom za informiranje radi zaštite vaših osobnih podataka kada je
      podnositelj zahtjeva fizička osoba. &ndash;
      <blockquote>
        "...službenik za informiranje ima obvezu donijeti rješenje, a [poštanska]
        adresa korisnika je neophodni sastavni dio rješenja. Osim toga dostava
        rješenja je važna zbog određivanja urednosti dostave i određivanja
        pravovremenosti izjavljene žalbe Povjereniku za informiranje ili
        pokretanja upravnog spora pred Visokim upravnim sudom Republike
        Hrvatske."
      </blockquote>
    </li>
  </ul>
  <p>
    Ne preporučujemo objavljivanje osobne poštanske adrese na ovim stranicama.
  </p>
  <h4 id="postal_answer">
    Što učiniti ako nadležno tijelo zatraži poštansku adresu kako bi poslalo
    papirnati odgovor
    <a href="#postal_answer">#</a>
  </h4>
  <p>
    Ako tijelo javne vlasti ima samo papirnatu kopiju podataka koje želite,
    možda će od vas zatražiti poštansku adresu. Budući da je jedno od načela
    <%= site_name %> da javnom objavom odgovora na zahtjeve za pristup
    informacijama pružamo resurse za upotrebu svima, prirodno je da više volimo
    kada tjela javne vlasti dostavljaju informacije e-poštom.
  </p>
  <p>
    Stoga ih možete pokušati nagovoriti da skeniraju dokumente za vas. Možete
    im čak možete ponuditi skener na poklon ako ga već nemaju.
  </p>
  <p>
    Ako to ne uspije, a želite im privatno poslati svoju poštansku adresu da biste
    mogli primati dokumente, označite svoj zahtjev kao "Odgovorit će poštom"
    (pod izbornikom "Akcije" > "Ažuriranje statusa"), te ćete dobiti adresu
    e-pošte koju tada možete koristiti da im privatno putem vaše osobnog e-maila
    pošaljete vašu osobnu poštansku adresu.
  </p>
  <p>
    Ponekada tijela javne vlasti inzistiraju na dostavi osobne poštanske adrese
    iz razloga jer je žele navesti u upisnik, te radi toga dodatno u privatnoj poruci kojom dostavljate
    vašu osobnu poštansku adresu tijelu javne vlasti naznačite da želite primiti
    tražene informacije na isti način i na istu elektronsku adresu putem koje su
    zaprimili vaš izvorni zahtjev - na taj način ćete osigurati da će odgovor
    tijela javne vlasti biti zaprimljen i prikazan na ovim internetskim
    stranicama. Ujedno podsjetite tijelo javne vlasti da u odgovoru na
    <%= site_name %> adresu ne šalju vaše osobne podatke (npr. kućna adresa).
  </p>
  <h3 id="our_logging">
    Naš dnevnik zapisa
    <a href="#our_logging">#</a>
  </h3>
  <p>
    Uz podatake koje nam dajete o sebi kako biste koristili internetsku stranicu
    (npr. vaše ime, prezime i e-mail), prikupljamo i bilježimo neke dodatne
    informacije kako bismo analizirali i riješili probleme na internetskoj
    stranici.
  </p>
  <p>
    Zapisi našeg internetskog poslužitelja održavaju povijest pristupa stranicama.
    To uključuje informacije o pristupanju, uključujući IP adresu klijenta,
    dostavljene podatke (koji mogu uključivati ​​vašu adresu e-pošte kada se
    prijavite na internetsku stranicu), datum i vrijeme pristupa, traženu stranicu,
    verziju preglednika i <a href="https://en.wikipedia.org/wiki/HTTP_referer" target="_blank">
    preporučitelja</a>. Te podatke obično čuvamo 60 dana. Imajte na umu da u normalnim
    okolnostima čovjek rijetko pristupa tim podacima, a kad pristupa tada ih
    vjerojatno skupno analizira kako bi razumio problem sa internetskom stranicom,
    odnosno ne analizira ih detaljno na razini pojedinačnih korisnika.
  </p>

  <h3 id="research">
    Istraživanje
    <a href="#research">#</a>
  </h3>
  <p>
    Code for Croatia i Gong ponekada za potrebe istraživanja analiziraju podatke
    poput zahtjeva i odgovora na <%= site_name %>. Pridržavamo se strogih
    internih pravila o privatnosti što znači da se svi osobni podaci čuvaju na
    sigurnom. Podaci kao što su imena i adrese e-pošte izuzeti su iz skupova
    podataka istraživanja i, gdje je to moguće cenzurirani su iz sadržaja teksta.

  </p>
  <p>
    Također želimo podijeliti neosobne podatke iz <%= site_name %> s
    vanjskim istraživačima, gdje je to prikladno, kako bismo im pomogli u radu.
    Kada to radimo, slijedimo našu <a href="https://docs.google.com/document/d/e/2PACX-1vTVielOX2WQxdOfrE0DiTOkfa9R2daqoFpRY_cYNrOh9VIzBmV15TdlbpBwzVhwu7qDaC2FBmVN7Pxm/pub" target="_blank">
    Politiku objavljivanja istraživačkih podataka</a> kako bismo osigurali da
    poduzimamo razumne mjere predostrožnosti protiv slučajnog objavljivanja
    osobnih podataka.
  </p>
  <p>
    Te mjere predostrožnosti definiraju isključivanje određenih privitaka
    datoteka koji potencijalno mogu sadržavati nenamjerno dostavljene osobne podatke,
    ali imaju malu istraživačku vrijednost (poput tabličnih podataka u XLS ili
    CSV datotekama); vremenski razmak 3 mjeseca od slanja zahtjeva kako bi se dozvolilo
    dovoljno vremena da se otkrije postojanje neprimjerenog sadržaja; i vođenje
    registra istraživača koji imaju pristup skupovima podataka. Podaci prosljeđeni
    trećim stranama nikada neće biti više od onoga što je javno dostupno na
    internetskim stranicama.
  </p>

  <h3 id="encrypted_transfer">
    Šifrirani prijenos podataka
    <a href="#encrypted_transfer">#</a>
  </h3>
  <p>
    Ponekad trebamo poslati kopiju osjetljivog materijala Povjereniku za
    informiranje ili Agenciji za zaštitu osobnih podataka kako bismo im pomogli
    u istrazi kršenja nadležnih zakona o zaštiti osobnih podataka ili drugih
    pravnih akata od strane tijela javne vlasti. U slučaju većeg broja osjetljivih
    osobnih podataka to činimo šifriranjem podataka s AES algoritmom koristeći
    barem 256-bitni ključ. Šifrirani podaci bit će poslani e-poštom ili
    stavljeni na raspolaganje za preuzimanje putem interneta, FTP-a ili USB-a,
    a lozinka za dešifriranje šalje se djelatniku nadležnog ureda putem zasebnog kanala.
  </p>


  <h2 id="Names">
    Ime i prezime
    <a href="#Names">#</a>
  </h2>

  <a name="public_request"></a>
  <h3 id="public_names">
    Zašto se moje ime i moj zahtjev javno prikazuju na stranici?
    <a href="#public_names">#</a>
  </h3>

  <p>
    Vaše je ime vezano uz vaš zahtjev, pa mora biti i objavljeno. To je jedini
    ispravan i pravedan način s obzirom da ćemo objaviti i ime službenika koji
    odgovara na vaš zahtjev. Korištenje vašeg pravog imena također pomaže drugima
    da stupe u kontakt s vama i pomognu vam u vašem istraživanju ili da se zajedno
    s vama bore za transparentnost i dostupnost javnih informacija.
  </p>
  <p>
    No možda, što je i najvažnije, to znači da naši korisnici dvaput razmisle
    prije nego što podnesu zahtjev: ako znate da će vaše ime biti trajno vezano
    uz njega kako bi ga svi mogli vidjeti, mnogo je veća vjerojatnost da ćete
    uputiti odgovoran, valjan i koristan zahtjev.
  </p>
  <p>
    Po zakonu morate koristiti vaše pravo ime kada podnosite zahtjev za pristup
    informacijama kako bi on bio pravno važeći i kako biste mogli podnijeti žalbu.
    Pogledajte sljedeće pitanje za alternativna rješenja ukoliko ne želite objaviti
    svoje puno ime i prezime.
  </p>
  <p>
    Vaši će se zahtjevi grupirati i pojaviti na vašem profilu na internetskoj
    stranici.
  </p>

  <h3 id="real_name">
    Mogu li podnijeti zahtjev koristeći pseudonim?
    <a href="#real_name">#</a>
  </h3>
  <p>
    Morate koristiti <strong>vaše pravo ime</strong> kada podnosite zahtjev za
    pristup informacijama kako bi on bio zakonski važeći. Više o pravu na pristup
    informacijama možete saznati na internetskim stranicama <a
    href="https://www.pristupinfo.hr" target="_blank">Povjerenika za informiranje</a>.
  </p>
  <p>
    Uzmite u obzir da, čak i ako tijelo javne vlasti odgovori na vaš zahtjev,
    zbog pseudonima će vam kasnije vjerojatno biti otežano podnijeti žalbu
    Povjereniku za informiranje oko rješavanja vašeg zahtjeva.
  </p>
  <p>
    Postoji nekoliko alternativa korištenju pseudonima.
  </p>
  <ul>
    <li>
      Koristite naziv vaše organizacije, tvrtke, poduzeća ili obrta prilikom
      registracije korisničkog računa i slanja zahtjeva.
    </li>
    <li>
      Zamolite nekoga drugoga da podnese zahtjev umjesto vas.
    </li>
    <li>
      Ako ste zaista nesigurni, možete nas zamoliti da podnesemo vaš zahtjev.
      Molimo da <a href="<%= help_contact_path %>">nas kontaktirate</a> samo u
      slučaju da imate opravdan razlog zbog kojeg to ne možete učiniti sami ili
      kada ne možete zamoliti prijatelja da to učini umjesto vas. Mi nažalost
      nemamo dovoljno osoblja koje bi to moglo činiti za sve.
    </li>
    <li>
      Molimo da se ne pokušavate predstavljati kao netko tko niste. To je
      protivno našim uvjetima pružanja usluge - pročitajte više na stranici <a
      href="<%= help_house_rules_path %>">pravila ponašanja</a>.
    </li>
  </ul>
  <p>
    Ponekad ćemo iz različitih razloga, uključujući i dokazanu ugroženost pojedinca,
    ukloniti ime i prezime korisnika s internetske stranice; kada to činimo, to ćemo
    jasno naznačiti; obično zamjenom imena s "[ime uklonjeno]" ili "[Uklonjeno
    ime - čl.17 GDPR-a]". Za više informacija pogledajte paragraf o <a
    href="#erasure">vašem pravu na brisanje</a>.
  </p>

  <h2 id="consequences">
    Koje su moguće ili definitivne posljedice korištenja <%= site_name %>?
    <a href="#consequences">#</a>
  </h2>
  <h3 id="consequences_making_a_request">
    Prilikom podnošenja zahtjeva za pristup informacijama
    <a href="#consequences_making_a_request">#</a>
  </h3>
  <p>
    Kao što ste vidjeli iz ranije opisanog, upotreba <%= site_name %> rezultira
    objavljivanjem vašeg imena, prezimena i zahtjeva na internetu, u većini
    slučajeva trajno. Neke moguće posljedice toga su:
  </p>
  <ul>
    <li>
      Vaš se zahtjev pojavljuje u rezultatima kada se vaše ime stavi u tražilice.
    </li>
    <li>
      Druge osobe koje zanima vaš zahtjev vas mogu kontaktirati, uključujući i
      mediji, slanjem privatne poruke putem vašeg korisničkog profila.
    </li>
  </ul>
  <h3 id="consequences_registering">
    Prilikom registracije na internetskoj stranici
    <a href="#consequences_registering">#</a>
  </h3>
  <p>
    Stvaranje korisničkog računa na ovoj internetskoj stranici omogućuje vam
    slanje zahtjeva za pristup informacijama, to je također obavezan korak za one
    koji se žele prijaviti za primanje obavijesti e-poštom (na primjer za
    "praćenje" određenog zahtjeva, korisnika ili tijela javne vlasti) ili kada
    želite dodati komentar na stranicu nekog zahtjeva.
  </p>

  <ul>
    <li>
      Prikupljamo vaše ime, prezime i e-mail; gledamo te podatke samo ako
      postoji problem s vašim korisničkim računom.
    </li>
    <li>
      Korisnici s računima stječu stranicu s javnim profilom na internetskoj
      stranici: ovome može pristupiti svatko tko klikne na ime uz bilo koji
      zahtjev za pristup informacijama koji ste poslali putem ove stranice ili
      bilo koji komentar koju ste napravili.
    </li>
    <li>
      Na stranici vašeg profila prikazuje se:
      <ul>
        <li>
          Vaše ime i prezime
        </li>
        <li>
          Godina registracije na ovoj internetskoj stranici
        </li>
        <li>
          Bilo koji tekst koji ste napisali o sebi
        </li>
        <li>
          Popis zahtjeva i komentara koje ste napisali
        </li>
      </ul>
      <p>
        Stranica profila ne prikazuje vašu adresu e-pošte, ali omogućuje drugima da
        stupe u kontakt s vama putem funkcionalnosti razmjene privatnih poruka.
      </p>
      <p>
        Stranica profila ne prikazuje detalje za primanje obavijesti na koje ste
        pretplaćeni, premda su ona vidljiva vama (i samo vama) kad ste prijavljeni.
      </p>
    </li>
  </ul>
  <p>
    Ti se podaci (vaše ime, adresa e -pošte, pretplate na upozorenja) ne koriste
    u bilo koju drugu svrhu osim za potrebe rada ove internetske stranice i
    neće se dijeliti s trećim stranama.
  </p>

  <h2 id="retention_periods">
    Razdoblje čuvanja podataka
    <a href="#retention_periods">#</a>
  </h2>

  <h3 id="retention_accounts">
    Korisnički profil
    <a href="#retention_accounts">#</a>
  </h3>
  <p>
    Prilikom
    <%= link_to help_privacy_path(anchor: 'consequences_registering') do -%>
      registracije na ovoj internetskoj stranici
    <% end %>
    vaše ime, prezime lozinka i adresa e-pošte čuvaju se kako biste mogli
    koristiti funkcionalnosti na <%= site_name %>. Te podatke čuvamo neograničeno.
  </p>
  <h3 id="retention_requests">
    Zahtjevi za pristup informacijama
    <a href="#retention_requests">#</a>
  </h3>
  <p>
    Kao što je gore opisano, slanje zahtjeva za pristup informacijama putem ove
    internetske stranice rezultira time da se vaše ime, prezime i adresa e-pošte
    čuvaju, zajedno s tijelom vašeg zahtjeva, na našim poslužiteljima. Vaša adresa
    e-pošte dostupna je samo administratorima internetske stranice. Trenutno je
    pravilo da te podatke čuvamo neograničeno.
  </p>
  <h3 id="retention_breach">
    Informacije puštene nenamjerno kršeći zakon o zaštiti osobnih podataka
    <a href="#retention_breach">#</a>
  </h3>
  <p>
    <strong>Ponekad tijela javne vlasti slučajno pošalju i objave osobne podatke
    u velikoj količini. <%= site_name %> ne želi čuvati takve podatke duže nego
    što je potrebno i s njima se postupa vrlo oprezno.</strong>
  </p>
  <p>
    Volonteri će s <%= site_name %> pristupiti samo onim podacima koji su potrebni
    za rješavanje sumnje na kršenje zakona o zaštiti osobnih podataka od strane
    tijela javne vlasti, šifriranjem podataka pomoću jakog algoritma, zaštitom
    uređaja jakom lozinkom i brisanjem podataka što je prije moguće a u svim
    okolnostima obrisati će kopije koje sadrže osobne podatke u roku od četiri
    sata. Ako podatke treba zadržati nakon tog razdoblja, oni se čuvaju na
    našim poslužiteljima, te smo mi odgovorni za njihovo čuvanje i brisanje.
  </p>
  <p>
    Za materijal koji treba čuvati relativno kratko, npr. kada AZOP-u dajemo
    četiri tjedna da zatraži materijal od nas prije nego što ga izbrišemo,
    materijal će ostati skriven na <%= site_name %> i obično će se izbrisati na
    kraju razdoblja čuvanja. U iznimnim okolnostima, na primjer kada se
    dopisujemo s AZOP-om o slučaju, možemo produljiti razdoblje čuvanja.
  </p>
  <p>
    U bilo kojem rijetkom slučaju kada se razdoblje čuvanja tijekom četiri
    tjedna smatra potrebnim i kada se ocjenjuje se da bi objavljivanje sadržaja
    predstavljalo značajan rizik i štetu, osoblje organizacija Code for Croatia
    i Gong odgovorno je za premještanje materijala u pohranu koji nije vezan
    pristupom internetu i brisanjem sadržaja kada istekne razdoblje čuvanja.
  </p>

  <h3 id="retention_support">
    E-mail podrške
    <a href="#retention_support">#</a>
  </h3>
  <p>
    Poruke poslane na naš središnji poštanski sandučić čuvamo do dvije godine -
    prema zadanim postavkama korespondencija se automatski i trajno briše nakon
    tog vremena. Bilo koja e-pošta koju treba čuvati u evidenciji iz određenih
    razloga, kao što je nadgledanje naših postupaka za rješavanje pritužbi i
    zloupotrebe i poštivanje zakona, ili odgovaranje na policijske istrage ili
    tužbe u tijeku, zadržava se odvojeno. Pogrešno usmjerena pošta osjetljive
    prirode, poput zahtjeva za pomoć u osobnim okolnostima, čuva se kraće
    razdoblje, obično do trideset dana.
  </p>

  <h2 id="legal_basis">
    Pravni temelj za obradu osobnih podataka
    <a href="#legal_basis">#</a>
  </h2>
  <p>
    U većini slučajeva naša pravna osnova za obradu osobnih podataka je
    "legitimni interes" (to je kako je navedeno u <a
    href="https://gdpr-info.eu/art-6-gdpr/" target="_blank">6.(1)(f)</a> - Opće uredbe o zaštiti
    podataka (GDPR) koja je na snazi od 25. svibnja 2018. Vjerujemo da imamo legitimni interes u obradi
    osobnih podataka radi pružanja naše usluge u korist naših korisnika i u
    korist društva. Za naše korisnike korist je u tome što nudimo jednostavan
    način postavljanja, praćenja i objavljivanja zahtjeva za pristup informacijama.
    Usluga također ima koristi za javnost jer bilo koja javno objavljena informacija
    u odgovoru na zahtjev čini povijesnu arhivu koju svatko može koristiti.
    Također postoji korist za tijela javne vlasti koja odgovaraju na zahtjeve,
    jer automatsko objavljivanje zahtjeva smanjuje dvostruke zahtjeve.
  </p>
  <p>
    Vjerujemo da naša obrada podataka naših korisnika je onakva kakvu bi očekivali
    kada koriste našu uslugu. Ako koristite <%= site_name %> za podnošenje
    zahtjeva za pristup informacijama, pristajete na obradu vaših podataka kako
    je opisano na ovoj stranici. Jasno objašnjavamo kako rukovati podacima
    korisnika i povezivati ​​se s ovom stranicom na odgovarajućim mjestima unutar
    naše usluge, uključujući tijekom postupka registracije i podnošenja zahtjeva.
  </p>
  <p>
    U rijetkim će se slučajevima primijeniti pravna osnova "poštivanja zakonske
    obveze" kada smo zakonski obvezni čuvati materijal, na primjer kada je izdan
    sudski nalog (<a href="https://gdpr-info.eu/art-6-gdpr/" target="_blank">6(1)(c)</a> GDPR-a).
  </p>
  <p>
    U gotovo svim će slučajevima naša obrada osobnih podataka biti zakonita prema
    članku 6. GDPR-a. Često je korištenje naše usluge akademske ili novinarske
    naravi, a pružanje naše usluge u cjelini može se smatrati novinarskim pothvatom.
  </p>

  <h2 id="your_rights">
    Vaša prava
    <a href="#your_rights">#</a>
  </h2>

  <h3 id="erasure">
    Vaše pravo na brisanje
    <a href="#erasure">#</a>
  </h3>
  <p>
    Pogledajte i <a href="#right_to_object">vaše pravo na prigovor</a>.
  </p>
  <p>
    Opća uredba o zaštiti podataka (GDPR) daje vam pravo da se usprotivite našoj
    obradi vaših osobnih podataka i zatražite od nas da obrišemo vaše osobne
    podatke. Međutim, GDPR nam daje i pravo da ih i dalje obrađujemo ako uspijemo
    dokazati uvjerljive legitimne osnove za obradu koji prevladavaju vaše
    interese, prava i slobode. Da biste ostvarili svoje pravo na brisanje,
    trebate nas <a href="<%= help_contact_path %>">kontaktirati</a>, navodeći
    konkretne razloge zbog kojih tražite brisanje vaših osobnih podataka.
    Ti se razlozi trebaju temeljiti na vašoj specifičnoj situaciji.
  </p>
  <h4>
    Vaši zahtjevi, komentari i korisnički profil
  </h4>

  <p>
    <%= site_name %>, kao i pružanje usluge putem koje možete lako podnijeti
    zahtjev za pristup informacijama, djeluju kao internetska arhiva javnih
    informacija i otvorenih podataka.
  </p>
  <p>
    <strong>Zahtjevi</strong> Objavljujemo vaš zahtjev na internetu kako bi ga
    svatko mogao pročitati i iskoristiti informacije koje ste pronašli. Iako vam
    odgovor na zahtjev možda više neće biti koristan, možda će zanimati druge i
    možda je korišten u nekom istraživanju, vijestima, lobiranju ili drugim
    aktivnostima. Iz tog razloga obično nećemo brisati sadržajne zahtjeve i
    odgovore.
  </p>
  <p>
    <strong>Imena</strong> Ako ste putem naše stranice zatražili informacije i
    razmatrate da nas zatražite da uklonimo vaše ime, odvojite trenutak da
    razmislite i preispitate tu odluku. Zahtjevi za pristup informacijama koji
    se podnose putem naše usluge obično čine pozitivan dio internetskog otiska
    pojedinca; ono čini javnu evidenciju građanskog aktivizma a to je nešto
    čime se svatko može ponositi.
  </p>
  <p>
    Usprkos tome, razumijemo da mogu postojati dobri razlozi zašto možda želite
    da uklonimo vaše ime i uložit ćemo sve napore da to učinimo ako to zatražite
    od nas. Slično tome, možemo ukloniti i druge osobne podatke. Imajte na umu
    ako je vaše ime objavljeno kao dio odgovora nadležnog tijela, možda ga
    nećemo moći lako ukloniti, no naravno, razmotrit ćemo formalne zahtjeve
    "prava na zaborav/prava na brisanje" i ukloniti materijal ako ne možemo
    opravdati nastavak čuvanja i obrade tih podataka.
  </p>
  <p>
    Ako ste zabrinuti što bi vaše ime moglo biti povezano s vašim zahtjevom, a
    još ga niste podnijeli, pogledajte naše savjete za
    <a href="#real_name">alternativne metode slanja zahtjeva</a>.
  </p>
  <p>
    <strong>E-mail adrese</strong> Također čuvamo vašu adresu e-pošte. Ako
    zatražite da prestanemo čuvati vašu adresu e-pošte dok čekate odgovor,
    nećemo vas moći obavijestiti kad odgovor stigne. Iz tog razloga toplo
    savjetujemo da zadržite aktivnu adresu e-pošte povezanu s vašim računom dok
    imate dopisivanje s tijelom javne vlasti u toku. Kao korisnik u bilo kojem
    trenutku možete sami promijeniti adresu e-pošte povezanu s vašim računom ili
    nas možete kontaktirati i zamoliti da uklonimo vašu adresu e-pošte iz
    korisničkog računa.
  </p>
  <p>
    Ostale informacije koje posjedujemo o korisnicima naše usluge opisane su pod:
    <a href="#consequences_registering">"Prilikom registracije na internetskoj
    stranici"</a> i <a href="#our_logging">"Naš dnevnik zapisa"</a>. Kao korisnik
    možete sami pregledati i urediti veći dio ovih podataka, ali ako je potrebno
    kontaktirajte nas i zatražite da obrišemo podatke.
  </p>
  <h4 id="personal-data-removal">
    Uklanjanje osobnih podataka iz zahtjeva i odgovora
  </h4>
  <p>
    Ako na internetskoj stranici primjetite bilo kakve osobne podatke o sebi koje
    biste željeli da uklonimo ili sakrijemo, <a href="<%= help_contact_path %>">
    javite nam</a>. Navedite točno za koje informacije smatrate da su problematične
    i zašto te nas obavijestite gdje se pojavljuju na internetskoj stranici.
  </p>
  <p>
    Razmotrit ćemo svaku takvu obavijest i uravnotežiti je s javnim interesom za
    objavljivanje materijala. O tome postoje neke smjernice na <a
    href="https://azop.hr/" target="_blank">internetskoj stranici AZOP-a</a>.
   </p>
   <p>
    Ako se radi o osjetljivim osobnim podacima koji su slučajno objavljeni, tada
    ćemo ih obično ukloniti. Razmatrati ćemo samo zahtjeve za uklanjanje osobnih
    podataka koji dolaze od dotične osobe, ali za osjetljive podatke ili u slučaju
    masovne objave osobnih podataka bili bismo zahvalni da nas netko obavijesti.
  </p>
  <h4>
    Uklanjanje osobnih podataka javnih službenika iz odgovora
  </h4>
  <p>
    Automatski u cijelosti objavljujemo odgovore na zahtjeve upućene putem ove
    internetske stranice. Tamo gdje ovi odgovori uključuju osobne podatke javnih
    službenika, pravnim temeljem za obradu tih podataka smatramo da imamo
    legitimni interes kako je opisano u <a href="https://gdpr-info.eu/art-6-gdpr/" target="_blank">
    članku 6(1)(f)</a> GDPR-a. Naš je legitimni interes da koristimo društvu
    očuvanjem i promicanjem transparentnosti i otvorenosti, te odgovornosti onih
    koji su na utjecajnim položajima i održavanjem povijesne javne arhive zahtjeva
    i odgovora na pristup informacijama. Razmotrit ćemo zahtjeve za uklanjanje
    imena javnih službenika kada se čini da interesi, prava i slobode ispitanika
    podataka prevladavaju javni interes za objavljivanje.
  </p>
  <p>
    To znači da:
  </p>
  <ul>
    <li>
      Ako donosite odluke bilo koje jačine ili odgovarate na zahtjev za pristup
      informacijama, obično nećemo uklanjati vaše podatke iz dokumenata i e-maila
      koje je poslalo tijelo javne vlasti ili iz zahtjeva za pristup informacijama.
      Odgovornost donošenja odluka u središtu je dobre vlade.
    </li>
    <li>
      Ako ste na pripravničkom radnom mjestu koje ne donosi odluke, razmotrit ćemo
      zahtjeve za uklanjanje vaših podataka. Uklanjanje ovih detalja našim
      volonterima oduzima puno vremena, pa vas molimo da nas obavijestite zašto
      vam je ovo zaista važno. Kada zakon ne nalaže da trebamo postupati po vašem
      zahtjevu, ali pristanemo ukloniti vaše podatke, poduzet ćemo razumne korake
      - no u nekim slučajevima to možda i nećemo moći učiniti, jer može biti vrlo
      teško ukloniti podatke iz nekih vrsta dokumenata, poput slika i PDF datoteka.
    </li>
  </ul>
  <p>
    Rado ćemo pokušati pomoći službenicima za informiranje koji žele da im pomognemo
    ukloniti njihove potpise s internetske stranice, ali obično u takvim okolnostima
    zahtijevamo da se pripreme zamjenski odgovori i pošalju podnositelju zahtjeva
    prije nego što uklonimo izvorne dokumente. Općenito ne možemo uređivati
    ​​privitke objavljene putem naše usluge.
  </p>
  <p>

  <h3 id="right_to_access">
    Vaše pravo na pristup
    <a href="#right_to_access">#</a>
  </h3>
  <p>
    Možete nas <a href="<%= help_contact_path %>">kontaktirati</a> u bilo koje
    vrijeme i zatražiti da vidite koje osobne podatke čuvamo o vama. Ako ste
    koristili našu uslugu za podnošenje zahtjeva, velika većina podataka koje
    imamo o vama su javno prikazane na našim internetskim stranicama ili su
    vidljive samo vama na vašem korisničkom profilu.
  </p>
  <h3 id="right_to_object">
    Vaše pravo na prigovor
    <a href="#right_to_object">#</a>
  </h3>
    <p>
    Pogledajte i <a href="#erasure">vaše pravo na brisanje</a>.
    </p>
    <p>
      Opća uredba o zaštiti podataka (GDPR) daje vam pravo da se usprotivite
      našoj obradi vaših osobnih podataka i zatražite od nas da zaustavimo obradu.
      Međutim, GDPR nam daje i pravo da ih i dalje obrađujemo ako uspijemo
      dokazati uvjerljive legitimne osnove za obradu koji prevladavaju vaše
      interese, prava i slobode. Da biste ostvarili svoje pravo na prigovor,
      morate nas <a href="<%= help_contact_path %>">kontaktirati</a>, navodeći
      konkretne razloge zbog kojih se protivite obradi vaših osobnih podataka.
      Ti se razlozi trebaju temeljiti na vašoj specifičnoj situaciji.
    </p>

  <h3 id="right_to_complain">
    Vaše pravo na podnošenje pritužbe
    <a href="#right_to_complain">#</a>
  </h3>
  <p>
    Ukoliko smatrate da smo vam povrijedili neko pravo zajamčeno Općom uredbom
    o zaštiti podataka i Zakonom o provedbi Opće uredbe možete nadzornom tijelu
    podnijeti zahtjev za utvrđivanje povrede prava. Molimo da prije podnošenja
    pritužbe <a href="<%= help_contact_path %>">kontaktirate nas</a>, kako bismo
    vam pokušali pomoći (pogledajte naš <a href="https://imamopravoznati.org/help/complaints">
    postupak za prigovore</a>).
  </p>
  <p>
    U Republici Hrvatskoj mjerodavno nadzorno tijelo je Agencija za zaštitu
    osobnih podataka (AZOP). Naše pravno tijelo je Gong, OIB 61867710134.
  </p>
  <p>
    Možete se obratiti AZOP-u na bilo koji od sljedećih načina:
  </p>
  <ul>
    <li>
      Putem interneta ispunjavanjem obrasca: <a href="https://azop.hr/zahtjev-za-utvrdivanje-povrede-prava/" target="_blank">zahtjev za utvrđivanje povrede prava</a>
    </li>
    <li>
      Pisanim putem na adresu: Agencija za zaštitu osobnih podataka, Selska cesta 136, 10 000 Zagreb
    </li>
    <li>
      Putem e-pošte: <a href="mailto:azop@azop.hr">azop[a]azop.hr</a>
    </li>
    <li>
      Putem telefaksa na broj: +385-1-46-090-99
    </li>
  </ul>

  <h2 id="cookies">
    Kolačići i usluge trećih strana
    <a href="#cookies">#</a>
  </h2>

  <p>
    Kao i mnoge druge internetske stranice, ponekad koristimo kolačiće i mjerimo
    korištenje usluge kako bi nam pomoglo u poboljšanju naše internetske
    stranice. Ti su alati vrlo česti i koriste ih mnoge druge internetske
    stranice, ali imaju neizbježne posljedice na privatnost, a kao organizacije
    civilnog društva koje se bave društveno pozitivnom uporabom interneta,
    smatramo da je važno objasniti ih u cijelosti. Ako ne želite da se vaši
    posjeti internetskim stranicama Code for Croatia i Gonga dijele s trećim
    stranama, možete prilagoditi vaše korištenje ili instalirati dodatke za
    internetski preglednik koji će isključiti te alate.
  </p>
  <h4>Kolačići</h4>
  <p>
    Da bismo našu uslugu učinili lakšom i korisnijom, ponekad na vaše računalo
    ili mobitel stavljamo male podatkovne datoteke, poznate kao kolačići; ovo je
    vrlo uobičajena praksa i većina internetskih stranica tako funkcionira.
  </p>
  <p>
    Kolačići pomažu našim internetskim stranicama da se, na primjer, sjete da
    ste se već prijavili, tako da to ne morate činiti na svakoj stranici ili
    mjeriti kako ljudi koriste internetsku stranicu da bismo je mogli
    poboljšati i osigurati da ispravno radi. U nastavku navodimo kolačiće i
    usluge koje ova stranica može koristiti.
  </p>
  <table>
    <tr>
      <th scope="col">Naziv</th>
      <th scope="col">Tipičan sadržaj</th>
      <th scope="col">Istječe</th>
    </tr>
    <tr>
      <td>_wdtk_cookie_session</td>
      <td>Slučajni jedinstveni identifikator</td>
      <td>Kada zatvorite internetski preglednik ili ako je korištena opcija "Zapamti me" nakon 1 mjeseca</td>
    </tr>
    <tr>
      <td>seen_foi2</td>
      <td>Broj 1 ako ste vidjeli obavijest</td>
      <td>7 dana</td>
    </tr>
    <tr>
      <td>has_seen_country_message</td>
      <td>Broj 1 ako ste vidjeli obavijest o uslugama pristupa informacijama u
        drugim zemljama</td>
      <td>1 godina</td>
    </tr>
    <tr>
      <td>last_request_id</td>
      <td>Broj, identificira zadnji zahtjev za pristup informacijama koji ste
        gledali na ovim internetskim stranicama</td>
      <td>Kada zatvorite internetski preglednik</td>
    </tr>
    <tr>
      <td>last_body_id</td>
      <td>Broj, identificira posljednje tijelo javne vlasti koje ste gledali na
        ovim internetskim stranicama</td>
      <td>Kada zatvorite internetski preglednik</td>
    </tr>
    <tr>
      <td>widget_vote</td>
      <td>Slučajni identifikator za 'I ja želim želim znati' bedž</td>
        <td>Kada zatvorite internetski preglednik</td>
    </tr>
  </table>
  <h4>Mjerenje korištenja naših stranica</h4>
  <p>
    Koristimo Google Analytics za prikupljanje podataka o načinu na koji ljudi
    koriste ovu stranicu. To činimo kako bismo bili sigurni da zadovoljavamo
    potrebe svojih korisnika i da bismo bolje razumjeli kako bismo ih mogli
    poboljšati. Google Analytics pohranjuje podatke poput koje stranice ste
    posjetili, koliko ste dugo na internetskoj stranici, kako ste došli ovdje, na
    što kliknete i informacije o vašem internetskom pregledniku. IP adrese su
    maskirane (samo je dio pohranjen), a osobni podaci izvještavaju se samo
    zbirno. Ne dopuštamo Googleu da pohranjuje kolačiće preglednika na vašem
    računalu ili uređaju. Također ne dopuštamo Googleu da koristi ili dijeli naše
    analitičke podatke u bilo koju svrhu, osim što nam pruža analitičke podatke,
    i preporučujemo da to učini i svaki Google Analytics korisnik.
  </p>
  <p>
    Ako ste niste zadovoljni da se podaci o vašem posjetu koriste na ovaj način,
    možete instalirati <a href="http://tools.google.com/dlpage/gaoptout" target="_blank">službeni
    dodatak pregledniku za blokiranje Google Analyticsa</a>.
  </p>
  <p>
    Napominjemo da ove internetske stranice inicijaliziraju Google Analytics sa
    sljedećim postavkama:
  </p>
  <dl>
    <dt>
      anonymizeIp
    </dt>
    <dd>
      Ovo maskira zadnji dio vaše IP adrese prije nego što se pohrane kao
      analitički podaci.
    </dd>
    <dt>
      storage: none
    </dt>
    <dd>
      Ovo naređuje Googleu da ne stvara i ne pohranjuje kolačiće preglednika na
      vašem računalu ili uređaju.
    </dd>
  </dl>
  <h4>Googleova službena izjava o analitičkim podacima</h4>
  <p>
    "Ova internetska stranica koristi Google Analytics, uslugu web analitike koju
    pruža Google, Inc. ("Google"). Google Analytics koristi "kolačiće", odnosno
    tekstualne datoteke smještene na vašem računalu, kako bi internetskoj
    stranici pomogao da analizira kako korisnici koriste stranicu. Podaci koje
    generira kolačić o vašoj upotrebi stranice (uključujući vašu IP adresu)
    prenijet će se i pohraniti od Googlea na poslužiteljima u Sjedinjenim
    Državama. Google će koristiti ove podatke u svrhu procjene vaše upotrebe
    stranice, sastavljanja izvješća o aktivnostima stranica za operatore
    internetskih stranica i pružanja drugih usluga u vezi s aktivnostima stranice
    i upotrebom interneta. Google također može prenijeti ove podatke trećim
    stranama ako to zakon nalaže ili ako takve treće strane obrađuju podatke u
    Googleovo ime. Google neće povezati vašu IP adresu s bilo kojim drugim
    podacima koje posjeduje Google. Možete odbiti upotrebu kolačića odabirom
    odgovarajućih postavki na vašem pregledniku, no imajte na umu da ako to
    učinite možda nećete moći koristiti punu funkcionalnost ove stranice.
    Korištenjem ove stranice pristajete na Googleovu obradu podataka o vama na
    način i u gore navedene svrhe."
  </p>
  <p>
    <!-- Gong privacy policy -->
    <a href="https://www.gong.hr/hr/pravila-privatnosti?utm_source=imamopravoznati&utm_medium=link" target="_blank">
    Općenitije informacije o tome kako rade usluge trećih strana.</a>
  </p>
  <p class="form_note"><strong>Zasluge:</strong>
    Ova stranica temelji se na <a href="https://www.whatdotheyknow.com/help/privacy?utm_source=imamopravoznati&utm_medium=link" target="_blank">
    WhatDoTheyKnow stranici o privatnosti</a>, a dijelovi izvornog teksta preuzeti
    su iz <a href="https://gov.uk/help/cookies" target="_blank">GOV.UK stranice o kolačićima</a>
    (dozvola Open Government Licence).
  </p>
  <p><strong>Saznajte više</strong> putem stranica
    <a href="<%= help_officers_path %>">pomoći za službenike za informiranje</a> --&gt;
  </p>
  <div id="hash_link_padding"></div>
</div>
