<% @title = "Fare una richiesta" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

<h1 id="making_requests"><%= @title %> <a href="#making_requests">#</a> </h1>
<dl>

<dt id="diritto_accesso">Cos’è il diritto d’accesso? <a href="#diritto_accesso">#</a> </dt>

<dd>
Il diritto d’accesso agli atti amministrativi è il diritto di prendere visione e ricevere copia di documenti in possesso della Pubblica Amministrazione
Si tratta di un tuo diritto fondamentale in quanto cittadino, indicato tra i diritti umani dagli organismi internazionali, dall’Onu all’Unione Europea.
In Italia la principale legge che si occupa del diritto di accesso agli atti amministrativi è la <a href="http://www.normattiva.it/uri-res/N2Ls?urn:nir:stato:legge:1990-08-07;241!vig="></a>n. 241/1990</a>.
</dd>

<dt id="funzione_accesso">A cosa serve? <a href="#funzione_accesso">#</a> </dt>

<dd>Ad accedere a documenti contenenti informazioni che ci riguardano (in altri Paesi si può accedere a un maggior numero di documenti): dati personali, un concorso a cui abbiamo partecipato, una sanzione amministrativa, una gara d’appalto a cui ha preso parte la nostra azienda, i soldi stanziati dal Comune nell’ambito di cui si occupa la nostra associazione.
<a href="http://www.dirittodisapere.it/casi-di-studio/">Qui</a> trovi anche alcuni casi di inchieste realizzate o in fase di realizzazione proprio grazie al diritto di accesso. 
Se ne conosci altri o se hai avuto esperienza di richieste di accesso, scrivici e segnala queste esperienze.

</dd>

<dt id="accesso_trasparenza">Diritto di accesso, open data, trasparenza… sono la stessa cosa? <a href="#accesso_trasparenza">#</a> </dt>
No, ma sono concetti collegati.
Si parla di infatti accesso <u>proattivo</u> quando è la pubblica amministrazione a mettere a disposizione dei cittadini set di dati in suo possesso. Negli ultimi anni questi dati sono sempre più spesso pubblicati in formato aperto: si parla quindi di open data.
Si parla invece di accesso <u>reattivo</u> quando il documento amministrativo viene fornito al cittadino a seguito di una sua richiesta esplicita presso la relativa istituzione. 
In Italia, però, non tutte le informazioni sono però accessibili per il cittadino.
Diritto di accesso e open data sono due facce della stessa medaglia: insieme costituiscono strumenti preziosi per la trasparenza dell’operato della pubblica amministrazione rispetto ai cittadini.

</dd>

<dt id="info_cittadino">Quindi, da cittadino, a quali informazioni posso accedere? <a href="#info_cittadino">#</a> </dt>

<dd>
Il cittadino che faccia richiesta di accesso deve dimostrare di avere un interesse diretto, concreto e attuale, corrispondente a una situazione giuridicamente tutelata.
Cosa significa:
1. interesse <u>diretto</u>: vuol dire che le informazioni contenute nell’atto devono essere personali, cioè riguardare chi ne fa richiesta
2. interesse <u>concreto</u>: vuol dire che deve esserci un legame tra l’argomento dell’atto e la persona che lo richiede; l’informazione deve servire a tutelare concretamente un interesse giuridico del cittadino richiedente
La legge prevede che la richiesta di accesso debba essere motivata rispettando questi criteri e rivolta all’amministrazione che detiene il documento. 
La richiesta deve essere chiara e specifica nell’identificare l’atto o l’informazione che ci interessa.

</dd>

<dt id="associazione">E se faccio parte di un’associazione? <a href="#associazione">#</a> </dt>

<dd>Se fai parte di un’associazione, questa può fare richiesta in quanto “portatrice di un interesse collettivo”. 
Questi interessi sono le finalità dell’associazione e devono essere esplicitamente menzionati nello statuto associativo (allegalo alla tua richiesta se lo citi).

  
</dd>

<dt id="giornalisti">Questo vale anche per i giornalisti? <a href="#giornalisti">#</a> </dt>

<dd>
No. I giornalisti hanno un accesso privilegiato agli atti amministrativi, come manifestazione del diritto d’informazione stabilito dall’articolo 21 della Costituzione.
</dd>

<dt id="eccezioni">Ma non ci sono eccezioni? <a href="#eccezioni">#</a> </dt>

<dd>
Sì, perché il diritto d’accesso non è un diritto assoluto.
Questo vuol dire che ci sono categorie di informazioni che costituiscono eccezioni al diritto del cittadino. Solitamente tali eccezioni rientrano nelle categorie di sicurezza nazionale, ordine pubblico, crimini su cui le indagini sono ancora in corso, protezione di alcuni interessi privati, dalla privacy dell’individuo ai segreti aziendali, e ai processi legati alla politica monetaria e valutaria. Ogni legge nazionale, tuttavia, presenta un elenco differente di tali eccezioni.
Anche se l’informazione richiesta ricade tra le eccezioni, non è detto che i dati non siano del tutto accessibili: in alcuni casi la P. A. dovrà fornirli omettendo i dati sensibili e segnalandolo al cittadino.

</dd>

<dt id="quickly_response">Entro quanto tempo la Pubblica Amministrazione deve rispondermi? <a href="#quickly_response">#</a> </dt>

<dd>
<p>La richiesta deve ricevere risposta <strong>entro 30 giorni</strong>.
</p>

<p>in caso di mancata risposta, la richiesta si considera respinta. In caso di mancata risposta, la richiesta si considera respinta. Puoi però presentare ricorso al TAR, al Difensore Civico o alla Commissione d’accesso: anche in questo caso la legge prevede che la risposta sia dovuta entro 30 giorni. 
(vedi domanda successiva – indicazioni di legge).
(<a href="/help/officers#days">full details</a>).

<p><%= site_name %> Chiediamo ti invierà una email se non ricevi una risposta nei tempi di legge. 
Potrai quindi mandare un ulteriore messaggio alla P.A. interessata per segnalare la scadenza dei termini.</p>

</dd>

<dt id="costi">… e quanto mi costa?<a href="#costi">#</a> </dt>

<dd>
<p>La visione dei documenti è gratuita.</p>

<p>Ricevere una copia cartacea del documento in questione comporta costi pari a quelli di riproduzione del documento (fotocopia, DVD ecc) e di bollo. 
In molti casi è possibile richiedere la versione elettronica dei documenti in questione a costo zero.
</p>

</dd>

<dt id="quale_pa">Non sono sicuro su quale sia la P.A. giusta a cui fare richiesta. Come faccio? <a href="#quale_pa">#</a> </dt>

<dd>
<p>Lo sappiamo, è difficile orientarsi nei meandri della Pubblica Amministrazione e capire a chi inviare una richiesta di accesso. Ecco alcuni consigli:
<ul>
<li>Esplora <%= site_name %> e cerca richieste simili alla tua,</li>
<li>Quando hai trovato la P.A. che pensi possa avere l'informazione che ti serve, usa il link “homepage” sul lato destro per capire di cosa si occupano,</li>
<li>Contatta la P.A. per telefono o via email per capire se hanno l'informazione che ti serve. </li>
<li>Non ti preoccupare troppo se non si tratta dell'ufficio giusto. In quel caso, a norma di legge, dovrebbero segnalarti a chi inoltrare la richiesta. 
</li>
<li>In casi particolarmente complicati  <a href="/help/contact">scrivici</a></li>
</ul>

</dd>



<dt id="missing_body">Nel vostro elenco non c'è la P.A. che sto cercando! <a href="#missing_body">#</a> </dt>

<dd>
<p>Per favore <a href="<%= new_change_request_path %>">scrivici</a> e segnala il nome della P.A. che stai cercando e, se riesci a trovarlo, anche l'indirizzo da utilizzare per inoltrare le richieste di accesso.
</p>
<p>Se vuoi aiutarci ad aggiungere un intero gruppo di istituzioni mancanti, contattaci: te ne saremo davvero grati!
</p>

</dd>



<dt id="focused">Perché devo mantenere la mia richiesta specifica?<a href="#focused">#</a> </dt>

<dd>
<p>
Inserisci solo quanto necessario a identificare il documento di cui stai facendo richiesta. 
<i>Non</i> aggiungere:
</p>

<ul>
<li>lunghe argomentazioni sulle tue motivazioni,</li>
<li>insulti o contenuti diffamatori.</li>
</ul>

<p>
In caso contrario, dovremo rimuovere la tua richiesta per evitare problemi legali, che sarebbero un problema per noi e per te. 
Messaggi brevi e concisi aiutano la P.A. a identificare l'informazione che ti serve e a darti una risposta più rapida. 
</p>

<p>
Se vuoi informazioni per sostenere una campagna, l'accesso può essere uno strumento potente. Anche se non userai questo sito per la tua campagna, ti invitiamo a usarlo per ottenere le informazioni che ti servono. Ti incoraggiamo, anzi, a creare un sito per la tua causa – un modo molto semplice è <a href="http://wordpress.com/">creare un tuo blog </a>. 
Se hai un sito o un blog, segnalalo in una nota alla tua richiesta (puoi inserire note alla tua richiesta dopo averla inviata).
</p>

</dd>


<dt id="no_response">E se non mi rispondono? <a href="#no_response">#</a> </dt>

<dd>
<p>In caso di mancata risposta, la richiesta si considera respinta. 
  Puoi però presentare ricorso al TAR, al Difensore Civico o alla Commissione d’accesso: anche in questo caso la legge prevede che la risposta sia dovuta entro 30 giorni. (aggiungere legge italiana).
  Ecco altre cose che puoi fare:
</p>
<ul>
    <li>Potrebbe esserci stato un problema tecnico per cui la richiesta non è mai arrivata. Se pensi possa essere questo il caso, telefona all'ufficio a cui hai mandato la richeista e verifica che l'abbiano ricevuta.
    </li>
    <li>Se non l'hanno ricevuta, il problema potrebbe essere il filtro dello spam. Segnalalo all'ufficio – e spiega loro che c'è anche una pagina per aiutarli (link a pagina “Per le P.A.”)
    '<a href="/help/officers#spam_problems">I can see a request on <%= site_name %>, but we never got it by email!</a>'
    </li>
    <li>Se ancora non ricevi risposta puoi presentare ricorso al TAR, al Difensore Civico o alla Commissione d’accesso: anche in questo caso la legge prevede che la risposta sia dovuta entro 30 giorni. (full details). 
    Pagina <a href="/help/unhappy">Unhappy about the response you got?</a>'.
</ul>
</dd>

<dt id="not_satifised">E se non sono soddisfatto della risposta? <a href="#not_satifised">#</a> </dt>
<dd>Se non ricevi l'informazione richiesta, se la ricevi in ritardo rispetto ai termini di legge, leggi la nostra pagina <a href="/help/unhappy">Unhappy about the response you got?</a>'.
</dd>

<dt id="reuse">La risposta dice che non posso riutilizzare il contenuto!<a href="#reuse">#</a> </dt>
<dd>
<p>verificare legge italiana
</p>

</dd>

<dt id="manuale">Voglio capire meglio come funziona tutto il meccanismo dell'accesso...   <a href="#manuale">#</a> </dt>

<dd>
<p>Qui trovi
<a href="http://www.dirittodisapere.it/il-manuale/">il manuale Legal Leaks</a>, che abbiamo creato apposta per fornire tutte le informazioni necessarie sull'accesso. </p>

</dd>

<dt id="private_requests">Voglio che la mia richiesta rimanga privata (almeno finché il mio articolo non viene pubblicato!)  <a href="#private_requests">#</a> </dt>

<dd><p><%= site_name %> iAl momento Chiediamo è progettato solo per richieste pubbliche.</p>
<p>Se vuoi che la tua richiesta rimanga privata, devi contattare direttamente l'istituzione. Se vuoi informazioni su un sistema a pagamento che aiuta a gestire le richieste privatamente, scrivici.   <a href="/help/contact">scrivici</a>.
</p>

</dd>

<dt id="offsite">Ho fatto una richiesta senza usare il sito, come faccio a caricarla nell'archivio? <a href="#offsite">#</a> </dt>

<dd><%= site_name %> è un archivio di richieste fatte attraverso il sito e non vuole necessariamente raccogliere tutte le richieste di accesso che vengono inviate. Per questo motivo non carichiamo richieste non presentate attraverso il sito. Tra l'altro, non saremmo in grado di verificare l'esistenza di eventuali risposte arrivate dalla P.A. 
Se il tema ti sta particolarmente a cuore, ti chiediamo di inviare nuovamente la richiesta usando il sito.  
</dd>

<dt id="moderazione">Come funziona la moderazione delle note alle richieste? <a href="#moderazione">#</a> </dt>

<dd>
<p>Le note alle richieste servono per aiutare gli utenti a ottenere le informazioni di cui hanno bisogno o per segnalare loro altri luoghi dove possono trovare indicazioni utili. 
Ci riserviamo il diritto di rimuovere tutto quello che non rientra in queste categorie. 

</p>
<p>Non è il posto per infinite discussioni sulla politica.
Pubblicate nelle note il link a un forum o sito dove la conversazione può continuare agevolmente.</p>
<dd>

</dl>

<p><strong>Ora</strong> leggi alcune informazioni relative alla <a href="/help/privacy">tua privacy</a> quando fai una richiesta. --&gt;

<div id="hash_link_padding"></div>

</div>
