<% @title = "Podnošenje zahtjeva" %>

<%= render :partial => 'sidebar' %>

<h1 id="making_requests"><%= @title %> <a href="#making_requests">#</a> </h1>
<dl>

<dt id="which_authority">Niste sigurni kome od tijela vlasti podnijeti zahtjev i kako to možete doznati? <a href="#which_authority">#</a> </dt>

<dd>
<p>Ponekad može biti teško razumijeti kompliciranu strukturu vlasti i doznati tko posjeduje informacije koje vama trebaju. Stoga koristimo Popis tijela javne vlasti koji je izradio Povjerenik za informiranje na kojem je popisano gotovo 6.000 tijela javne vlasti koji su obvezni odgovoriti na vaš zahtjev. U nastavku slijedi nekoliko savjeta:
<ul>
<li>Pretražite stranicu <i><%= site_name %></i> tako što ćete potražiti zahtjeve slične vašem.</li>
<li>Kad pronađete tijelo vlasti za koje smatrate da bi moglo posjedovati informacije, koristite link "Službena stranica tijela javne vlasti" koji se nalazi desno na našoj stranici tijela javne vlasti kako bi se na njihovoj mrežnoj stranici upoznali s onim što rade.</li>
<li>Kontaktirajte tijelo vlasti kako bi vam rekli imaju li informacije koje tražite.</li>
<li>Ne zabrinjavajte se previše oko toga hoćete li doći do neodgovarajućih tijela vlasti. Ako se to dogodi, tijelo javne vlasti je dužno proslijediti zahtjev onome tijelu koje ima informaciju.
</li>
<li>U slučaju bilo kakvih poteškoća ne oklijevajte <a href="/help/contact">pisati nam</a>.</li>
</ul>

</dd>


<dt id="missing_body">Ne pronalazite tijelo javne vlasti kojem želite podnijeti zahtjev? <a href="#missing_body">#</a> </dt>

<dd>
<p>Molimo vas da nas <a href="<%= new_change_request_path %>">kontaktirate</a>, kažite nam naziv  tijela javne vlasti koje ne možete pronaći na popisu tijela javne vlasti na stranici <i><%= site_name %></i> a ukoliko ste već pronašli e-mail adresu službenika za informiranje pošaljite nam detalje jer će nam to mnogo pomoći u pokrivanju svih tijela javne vlasti u Hrvatskoj.
</p>

</dd>

<dt id="authorities">Zašto su uključena neka tijela vlasti koje pravo na pristup informacijama formalno ne obuhvaća? <a href="#authorities">#</a> </dt>

<dd>
<p><i><%= site_name %></i> vam dozvoljava da zahtijevate informacije od različitih organizacija:</p>

<ul>
  <li>onih koje obuhvaća Zakon o pravu na pristup informacijama</li>
  <li>onih koje svojevoljno postupaju u skladu sa Zakonom o pravu na pristup informacijama</li>
  <li>onih koje ne podliježu Zakonu, ali mi smatramo da bi trebale na temelju toga što snose značajnu javnu odgovornost.
  </li>
</ul>

<p>U svezi sa zadnjim slučajem, ovu internetsku stranicu koristimo kako bi se zalagali za proširenje spektra djelovanja Zakona o pravu na pristup informacijama. Čak i u slučaju kada organizacija nije pravno obvezana da udovolji zahtjevu za pristup informacijama, ona to može učiniti svojevoljno.
</p>

</dd>

<dt id="focused">Zašto mogu tražiti samo pristup već gotovoj i postojećoj informaciji? <a href="#focused">#</a> </dt>

<dd>

<p>
Molimo vas da svojim zahtjevom obuhvatite samo ono što je potrebno kako bi druga strana s lakoćom prepoznala kakve informacije tražite. Molimo vas da <i>ne</i> uključujete sljedeće:
</p>

<ul>
<li><strike>traženje pojašnjenja, obrazloženja, očitovanja, tumačenja, potvrđivanje ili demantiranje navoda</strike></li>
<li><strike>argumente koji idu u prilog vašem djelovanju</strike></li>
<li><strike>izjave koje bi mogle naštetiti ugledu ili vrijeđati druge</strike>.</li>
</ul>

<p>
Ako to ipak pošaljete, možda ćemo biti prisiljeni ukloniti vaš zahtjev kako ne bi kršili odredbe kaznenog zakona koji se odnosi na klevetanje, a to će biti štetno i za vas i za nas. Kratke i sažete poruke tijelima vlasti pomažu u razumijevanju koje informacije tražite, što znači da odgovor možete dobiti brže.
</p>

<p>
  Potrebno je razlikovati zahtjeve za pristup informacijama od odgovaranja na upite, davanja mišljenja i izrade akata. Pravo na pristup informacijama podrazumijeva pravo tražiti informacije (dokumente, zapise podataka i druge informacije) koje su nastale u vezi sa radom institucije, koje tijelo javne vlasti posjeduje, ali ne i obvezu tijela da stvara nove informacije, koje ne postoje kao izrađene u trenutku kada je zahtjev postavljen. Dakle, pravo na pristup informacijama pretpostavlja pristup već gotovoj i postojećoj informaciji i ne predstavlja dužnost tijela javne vlasti da ulaže dodatni trud, povezivanje, tumačenje, odnosno stvaranje informacije. Stoga davanje pojašnjenja, očitovanja, tumačenja koja u trenutku podnošenja zahtjeva za pristup informacijama nisu bila izrađena nije „informacija“ u smislu odredbi Zakona o pravu na pristup informacijama. Kada korisnik postavlja pitanja na koja očekuje sastavljanje odgovora npr. davanje mišljenja, obrazloženja, pojašnjavanja, potvrđivanje ili demantiranje navoda i slično ne radi se o zahtjevima za pristup informacijama, te na takve upite najčešće odgovara glasnogovornik tijela javne vlasti i nadležna organizacijska jedinica.
</p>

<p>
Pravo na pristup informacijama je snažan alat ako želite pronaći informacije koje će ići u prilog vašem argumentu ili kampanji. Iako možda nećete koristiti ovu internetsku stranicu kako bi pokrenuli svoju kampanju, ohrabrujemo vas u tome da ju iskoristite za dobivanje informacija koje trebate. Također vas ohrabrujemo u tome da svoje zagovaranje započnete drugdje – jedan od učinkovitih i vrlo jednostavnih načina jest <%= link_to 'pokretanje vlastitog bloga',
"http://wordpress.com/"%>. Dodajte napomenu svom zahtjevu (bilješke možete napraviti nakon što podnesete zahtjev) slobodno navedite poveznicu na stranicu gdje zagovarate vaše argumente.
</p>

</dd>

<dt id="fees">Hoće li me podnošenje zahtjeva nešto koštati? <a href="#fees">#</a> </dt>

<dd>

<p>Podnošenje zahtjeva za pristup informacijama je besplatno i na njega se ne plaćaju pristojbe.</p>

<p>Tijela vlasti često uključuju nepotrebne i zastrašujuće predloške u porukama s napomenama u kojima piše da "bi mogli" naplatiti pristojbu. Zanemarite takve obavijesti. Gotovo ih nikada zapravo ne naplaćuju. Ako i naplate pristojbu, naplate vam je tek nakon što ste unaprijed izričito pristali na njeno plaćanje. <a
    href="http://www.pristupinfo.hr">Detaljnije o tome</a> možete doznati od Povjerenika za informiranje.
</p>

<p>Tijela javne vlasti mogu naplatiti stvarne materijalne troškove (kopiranje, skeniranje, slanje poštom), ali vas na to mora upozoriti i vi na to morate pristati. Kriterije za naplatu je propisao Povjerenik za informiranje i u osnovi obuvhaćaju 0,25 kn po stranici kopije, 0,80 po skeniranoj stranici, ili za usb stick (10 kuna za 64 GB, 150 kuna za 32 GB, 120 kuna za 16 GB, 50 kuna za 8 GB, 30 kuna za 4 GB). U praksi, tijela javne vlasti ne naplaćuju dostavu informacija ako je iznos manji od 50,00 kn, što iznosi 200 kopiranih stranica ili 62 skenirane stranice. Kada se radi o većem broju dokumenata te bi troškovi bili veći od 150,00 kn, tijelo vas može pozvati da položite iznos prije dostave informacija.
</p>

</dd>

<dt id="quickly_response">Koliko ću brzo dobiti odgovor? <a href="#quickly_response">#</a> </dt>

<dd>
<p>
Po zakonu, tijela javne vlasti moraju na zahtjeve odgovarati <strong>u roku 15 dana</strong>.
</p>
<p>
Ako je zahtjev nerazumljiv moraju Vas tražiti da ga ispravite ili jasnije objasnite u roku 5 dana.
</p>
<p>U rijetkim slučajevima kada tijelo javne vlasti ne stigne odgovoriti u roku (npr. informacija nije u središtu tijela nego u podružnici, tražili ste veliki broj informacija i slično), mogu produžiti rok za 15 dana o čemu vas moraju obavijestiti u roku 8 dana od dana zaprimanja vašeg zahtjeva
(<a href="/help/officers#days">detaljnije</a>).

<p><i><%= site_name %></i> će vas kontaktirati e-mailom u slučaju da ne primite pravovremeni odgovor. Tada možete tijelu javne vlasti poslati požurnicu kako bi ih podsjetili da su vam dužni odgovoriti te ih obavijestiti da neodgovaranjem krše ZPPI.</p>

</dd>

<dt id="no_response">Što ako uopće ne dobijem odgovor? <a href="#no_response">#</a> </dt>

<dd>
<p>Postoji nekoliko stvari koje možete učiniti ako ne zaprimite odgovor.</p>
<ul>
    <li>Ponekad može doći do stvarnog problema te je tako moguće da tijelo vlasti odnosno službenik za informiranje nije ni primio zahtjev. Potrebno je telefonski kontaktirati tijelo javne vlasti kako biste provjerili da su zaprimili zahtjev. Napomenite da im je zahtjev poslan putem emaila.
    </li>
    <li>Ako ga nisu primili to se najvjerojatnije dogodilo zbog "spam filtera". Istaknite tijelu vlasti mjere koje su navedene u
    '<a href="/help/officers#spam_problems">Zahtjev je vidljiv na <i><%= site_name %></i>, no nismo ga primili putem e-maila</a>' 
    i to u odjeljku koji govori o službenicima zaduženima za omogućavanje pristupa informacijama.
    </li>
    <li>Ako još uvijek ne pronalazite rješenje, a prošlo je više od 15 dana otkako ste poslali zahtjev, možete uložiti  žalbu Povjereniku za informiranje. Pročitajte našu stranicu '<a href="/help/unhappy">Nezadovoljni ste dobivenim odgovorom</a>'.
</ul>
</dd>

<dt id="not_satifised">Što ako niste zadovoljni odgovorom? <a href="#not_satifised">#</a> </dt>
<dd>Ako niste dobili informacije koje ste tražili ili ih niste dobili na vrijeme, pročitajte našu stranicu '<a href="/help/unhappy">Nezadovoljni ste dobivenim odgovorom</a>'.
</dd>

<dt id="reuse">Piše da ne mogu ponovno iskoristiti dobivenu informaciju! <a href="#reuse">#</a> </dt>
<dd>
<p>Tijela vlasti često informacijama dodaju copyright napomenu ili napomenu o poslovnoj tajni koja na prvi pogled implicira da nećete biti u mogućnosti iskoristiti dobivene informacije.
</p>

<p>Jednom kada dobijete informaciju, s njome mogu raditi što ih je volja. Ako postoji osnova za ograničenje pristupa informaciji (npr. osobni podaci, poslovna tajna) tijelo javne vlasti treba dati ostatak informacije koji nije zaštićen, a u ostalom dijelu odbiti zahtjev rješenjem u odnosu na koje imate pravo žalbe Povjereniku. Pogledajte našu stranicu za službenike za informiranje <a href="/help/officers#copyright">Kakva je vaša politika o autorskim pravima dokumenata</a>.</p>

</dd>

<dt id="ico_help">Možete li mi reći više o samoj srži procesa podnošenja zahtjeva? <a href="#ico_help">#</a> </dt>

<dd>
<p>
Pogledajte <a href="http://www.pristupinfo.hr/sto-je-pravo-na-pristup-informacijama/">o pravu na pristup informacijama</a>
na internetskim stranicama Povjerenika za informiranje.</p>

</dd>

<dt id="data_protection">Mogu li zahtijevati informacije o sebi? <a href="#data_protection">#</a> </dt>

<dd>
<p>Ne. Preporuča se da zahtjevom za pristup informacijama ne tražite informacije koje se tiču vas osobno i postupaka koje vodite pred tijelima javne vlasti, jer ionako imate pravo uvida u vlastiti spis kao stranka. Zahtjevi podneseni putem stranice <i><%= site_name %></i> su javni, u sukladnosti sa Zakonom o pravu na pristup informacijama te vam ne mogu pomoći u pronalasku informacija o privatnoj osobi.</p>

<p>Izbjegavajte tražiti informacije o sebi jer ih po Zakonu o pravu na pristup informacijama nećete dobiti, a nepotrebno ćete izložiti vlastite podatke javnosti. Zakon se ne primjenjuje na stranke u postupcima već se pristup vlastitom predmetu može tražiti prema posebnim zakonima (npr. Zakonu o općem upravnom postupku, Zakonu o parničnom postupku, Zakonu o kaznenom postupku). Svatko ima pravo uvida u vlastiti spis. Ujedno, prema Zakonu o zaštiti osobnih podataka, svatko ima pravo uvida u podatke koje tijela javne vlasti vode o njima.</p>

<p>Ako primijetite da je netko u svoj zahtjev uključio osobne podatke, možda i nehotično, molimo vas da nas odmah <a href="/help/contact">kontaktirate</a> kako bismo iste mogli ukloniti. Također na stranici svakog zahtjeva ispod naslova <strong>Uvredljivo? Neprikladno?</strong> nalazi se link 'Prijavite ovaj zahtjev.'</p>
</dd>


<dt id="private_requests">Želim da moj zahtjev bude tajan! (Bar dok ne objavim svoju priču.) <a href="#private_requests">#</a> </dt>

<dd><p><i><%= site_name %></i> je trenutno podešen samo za javne zahtjeve. Svi odgovori koje zaprimimo automatski se objavljuju na mrežnoj stranici kako bi ih svi mogli pročitati.</p>
<p>U slučaju da svoj zahtjev želite podnijeti u tajnosti trebali biste direktno kontaktirati tijelo javne vlasti, a ako ste zainteresirani za kupnju sustava koji  vam može pomoći da podnosite zahtjeve vezane uz pravo na pristup informacijama u tajnosti, <a href="/help/contact">kontaktirajte nas</a>.
</p>
</dd>

<dt id="official_form">Tražili su me da trebam ispuniti obrazac! <a href="#official_form">#</a> </dt>

<dd>
<p>Ispunjavanje <i>PDF</i>, <i>Microsoft Word</i> ili drugih obrazaca na koje vas upućuje tijelo javne vlasti nije nužno. Ono služi kao pomoćni alat službenicima za informiranje ali nije obavezan po zakonu.</p>

<p>Sukladno <a href="http://www.digured.hr/cadial/searchdoc.php?action=search&lang=hr&query=Na%C4%8Dini+ostvarivanja+prava+na+pristup+informacijama&searchText=on&searchTitle=on&resultdetails=basic&bid=C%2blrI4ZNS5uD85RiSOlnMw%3d%3d&annotate=off">Zakonu o pravu na pristup informacijama NN 25/2013</a>, članku 18, stavci 2 koja kaže ako je zahtjev podnesen putem elektroničke komunikacije, smatrat će se da je podnesen pisani zahtjev. Napišite tijelu javne vlasti da želite također i odgovor elektroničkim putem.</p>
</dd>

<dt id="postal_address">Tražili su da nadopunim zahtjev poštanskom adresom! <a href="#postal_address">#</a> </dt>

<dd>Podnositelj zahtjeva može podnijeti zahtjev elektroničkim putem a jednako tako tražiti i odgovor elektroničkim putem. E-mail adresa može predstavljati adresu za odgovor. Zahtjev predan elektroničkim putem smatra se zahtjevom podnesenim pisanim putem. Naznačite u zahtjevu način dostavljanja odgovora elektroničkim putem a to znači da će tijelo javne vlasti možda trebati skenirati tražene informacije iz papirnog oblika i poslati ih u prilogu e-maila.
</dd>

<dt id="multiple">Mogu li podnijeti isti zahtjev prema većoj grupi tijela javne vlasti, npr. svim gradovima? <a href="#multiple">#</a> </dt>

<dd>Molimo vas da najprije podnesete jednu verziju svog zahtjeva samo nekim tijelima vlasti. Njihovi će vam odgovori pomoći u boljem sastavljanju vašeg zahtjeva te će vam tako omogućiti dobivanje kvalitetnijih informacija kad pošaljete zahtjev svim tijelima vlasti. Trenutno ne postoji automatizirani sustav za slanje zahtjeva drugim tijelima vlasti pa ga za svako tijelo vlasti morate pojedinačno kopirati.

</dd>

<dt id="offsite">Kako mogu dodati zahtjeve poslane drugim načinima na ovu stranicu? <a href="#offsite">#</a> </dt>

<dd><i><%= site_name %></i> arhivu zahtjeva koji su podneseni putem ove internetske stranice te nema za cilj sadržavati arhivu svih zahtjeva za pristup informacijama. Nećemo podržati dodavanje drugih zahtjeva poglavito zato što ne bismo bili u mogućnosti provjeriti jesu li odgovori na njih zaista došli od tijela javnih vlasti. Ako vam je navedeno iznimno važno, uvijek možete poslati isti zahtjev putem stranice <i><%= site_name %></i>.
</dd>

<dt id="moderation">Kako mogu dodati bilješku? <a href="#moderation">#</a> </dt>

<dd> 
<p>Napomene na stranici <i><%= site_name %></i> služe kako bi pomogle ljudima da dođu do informacija koje žele ili im pruže smjernice kamo mogu krenuti kako bi mogli djelovati u skladu s njima. Zadržavamo pravo ukloniti sve što ne ulazi u okvir navedenog.
</p>
<p>Beskrajne rasprave o politici nisu dozvoljene. Poveznicu na takav forum ili internetsku stranicu kampanje objavite negdje drugdje.</p>
<dd>

</dl>

<p><strong>Sljedeće</strong>, pročitajte o <a href="/help/privacy">vašoj privatnosti</a> --&gt;
</p>

<div id="hash_link_padding"></div>

