<% @title = _("Missing contact details for '") + h(@info_request.public_body.name) + "'" %>

<h1><%=@title%></h1>

<p><%= _('Unfortunately, we do not have a working {{info_request_law_used_full}}
address for', :info_request_law_used_full => @info_request.law_used_full) %> <%=h @info_request.public_body.name %>. <%= _('You may be able to find
one on their website, or by phoning them up and asking. If you manage
to find one, then please send it to us.') %>
</p>
<p><%= _('Is {{email_address}} the wrong address for {{type_of_request}} requests to {{public_body_name}}? If so, please contact us using this form:', :email_address => @info_request.public_body.request_email, :type_of_request =>  @info_request.law_used_full, :public_body_name => @info_request.public_body.name)%>
<%= new_change_request_url(:body => @info_request.public_body.url_name) %></p>